<div class="overlay-loading"></div>

<div class="container container-carrito">
   <div class="inner-carrito">
      <h1>Carrito</h1>
      <hr>
      <div id="listado-mis-productos" class="carrito-listado" style="margin-top: 50px">
         <div class="header-productos producto row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
               <!-- <span class="titulo-header-producto">Imagen</span> -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-left">
               <span class="titulo-header-producto">
                  <span class="fa-stack icon-sort" style="width: 1em;vertical-align: sub;">
                     <i class="fas fa-sort-down"></i>
                  </span>
                  <span class="sort-nombre"></span>Nombre</span>
               </span>
            </div>
            
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
               <span class="titulo-header-producto">
                  <span class="fa-stack icon-sort" style="width: 1em; vertical-align: sub;">
                     <i class="fas fa-sort-down"></i>
                  </span>
                  <span class="sort-precio">Precio</span>
               </span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
               <span class="titulo-header-producto">
                  <span class="fa-stack icon-sort" style="width: 1em; vertical-align: sub;">
                     <i class="fas fa-sort-down"></i>
                  </span>
                  <span class="sort-stock">Cantidad</span>
               </span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
               <span class="titulo-header-producto">
                  <span class="fa-stack icon-sort" style="width: 1em; vertical-align: sub;">
                     <i class="fas fa-sort-down"></i>
                  </span>
                  <span class="sort-stock">Total</span>
               </span>
            </div>
         </div>
         <input type="hidden" id="id_carrito" name="id_carrito" value="">
         <!-- producto hardcodeado -->

         <!-- /producto hardcodeado -->
      </div>
   </div>
</div>
<div class="container totales-cont">
   <div class="row">
      <div class="col-6 col-lg-6"></div>
      <div class="col-6 col-lg-6 totales-carrito">
         <h4>Totales</h4>
         <hr>
         <div class="row datos-num-checkout">
            <div class="col-lg-6"><span class="subtotal-titulo">Subtotal</span></div>
            <div class="col-lg-6 text-right"><span class="subtotal-cant"></span></div>
         </div>
         <div class="row datos-num-checkout">
            <div class="col-lg-6"><span class="total-titulo">Total</span></div>
            <div class="col-lg-6 text-right"><span class="total-cant"></span></div>
         </div>
         <br>
         <div>
            <button class="boton-checkout-carrito btn btn-warning">Crear Orden de compra</button>
         </div>
      </div>
   </div>
</div>


<script>
   var jsonData = {json};
</script>



   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->

<script>
$(document).ready(function(){

   var sizeCarrito = jsonData.carrito.length;
   var carritoTotalNull = jsonData.carrito[0].cantidad;
   var carritoTotalNull = jsonData.carrito[0].precio;

   if(sizeCarrito>0 && carritoTotalNull != null && carritoTotalNull != null){
      // if($(".form-orden-compra").html().length > 0){
         for(var i=0; i<sizeCarrito; i++){
         
            var id_carrito = jsonData.carrito[i].id_carrito;
            var nombre_prod_carrito = jsonData.carrito[i].nombre_producto;
            var precio_prod_carrito = jsonData.carrito[i].precio;
            var total_prod_carrito = jsonData.carrito[i].total;
            var prod_id = jsonData.carrito[i].id_producto;
            var cantidad = jsonData.carrito[i].cantidad;
            var producto = jsonData.carrito[i].pid;
            var subtotal = jsonData.carrito[i].subtotal;
            var total = jsonData.carrito[i].total;
            var foto_id = jsonData.carrito[i].foto;
            var foto_src = '/productos_img/'+foto_id;
            var img_prod_carrito = getImagen(foto_src);

            var prods_carrito_html = '<div class="row producto">'+
                              '<div class="col-lg-2 col-md-2 col-sm-2 col-2">'+
                              '<div class="img-producto-container-0" data-title="223"><img class="img-producto" src="'+img_prod_carrito+'" alt="img"></div>'+
                              '</div>'+
                              '<div class="col-lg-3 col-md-3 col-sm-3 col-3 text-left">'+
                              '<span class="titulo-producto">'+nombre_prod_carrito+'</span>'+
                              //'<input type="hidden" name="id_carrito" value="'+id_carrito+'">'+
                              '</div>'+
                              '<div class="col-lg-2 col-md-2 col-sm-2 col-2 ">'+
                              '<span class="precio-producto">'+precio_prod_carrito+'</span>'+
                              //'<input type="hidden" name="precio" value="'+precio_prod_carrito+'">'+
                              '</div>'+
                              '<div class="col-lg-2 col-md-2 col-sm-2 col-2 ">'+
                              '<input type="number" id="precio-producto-'+i+'" class="num-corto-form" required="" autocomplete="on" value="'+cantidad+'">'+
                              '</div>'+
                              '<div class="col-lg-3 col-md-3 col-sm-3 col-3">'+
                              '<span class="precio-producto">'+total_prod_carrito+'</span>'+
                              //'<input type="hidden" class="total" name="total" value="'+precio_prod_carrito+'">'+
                              '<div class="cerrar-prod-carrito">'+
                                 '<input type="hidden" class="prod-id" name="id_producto" value="'+prod_id+'">'+
                              '<i class="fas fa-times-circle ellip ml-5"></i>'+
                              '</div>'+
                              '</div>'+
                              '</div>';

                  $("#listado-mis-productos").append(prods_carrito_html);
                  $(".subtotal-cant").html("$"+total);
                  $(".total-cant").html("$"+total);
                  $("#id_carrito").val(id_carrito);

            }
      }else{
         $(".totales-cont").hide();
         $(".producto:not(.header-productos)").hide();
         $("#listado-mis-productos").append('<h3 class="text-center"><i> El carrito est&aacute; vac&iacute;o.<i></h3>')
      }

      
});
</script>
   <script src="js/func.js?time=271220-2243"></script>
   <script src="js/publicacion.js?time=271220-2243"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

</body></html>
