

<!-- or the reference on CDN -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css"> -->

<div class="overlay-loading"></div>

<div class="container contenedor-ampliar-public">

   <div class="container">
      <div class="row">
         <div class="col-lg-8">
            <div class="row insert-public">
               
            </div>
         </div>
         <div class="col-lg-4">
            <div class="fixed-col-der">
               <div class="header-public header-public-fixed">
                  <span class="img-perfil-public">
                     <img src="../../img/furrr.jpg" alt="">
                  </span>
                  <span class="title-public">NombreTest</span>
               </div>
               <hr>
               <div>
                  <h5>Sugerencias para ti</h5>
                  <br>
                  <div class="media media-sugeridos">
                     <img class="mr-3 test-suggest" src="../../img/furrr.jpg" alt="Generic placeholder image">
                     <div class="media-body">
                       <h6 class="mt-0">Ricardo Alberto</h6>
                       <span>Sugerido porque te gusta</span>
                     </div>
                   </div>
                   <div class="media media-sugeridos">
                     <img class="mr-3 test-suggest" src="../../img/furrr.jpg" alt="Generic placeholder image">
                     <div class="media-body">
                       <h6 class="mt-0">Caro Iaco</h6>
                       <span>Sugerido porque te gusta</span>
                     </div>
                   </div>
                   <div class="media media-sugeridos">
                     <img class="mr-3 test-suggest" src="../../img/furrr.jpg" alt="Generic placeholder image">
                     <div class="media-body">
                       <h6 class="mt-0">Gonzalo Delafare</h6>
                       <span>Sugerido porque te gusta ...</span>
                     </div>
                   </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
      
</div>


<script>
   var jsonData = {json};
</script>


   <script src="js/jquery-3.5.1.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <script src="/plugins/jquery-visible-master/jquery-visible-master/jquery.visible.js"></script>
   <script src="js/publicacion.js?time=110521-1710"></script>
   <script src="js/func.js?time=110521-1710"></script>

</body></html>
