{menuperfil}

<div class="container contenedor-productos">
   <div class="filtros">
      <div id="search-container" class="search-container" style="width: 25%">
         <input id="buscador-prod" autocomplete="off" class="search" type="text" placeholder="Busca lo que se te ocurra" aria-label="Buscar">
         <i class="fas fa-search fa-search-header"></i>
      </div>
      <div>
         <a href="/formu-subir.html" class="btn btn-warning">Nuevo producto</a>
      </div>
      <!-- <div>
         <a href="javascript:void(0)" class="btn btn-warning" id="ampliarImportar" onclick="ampliarOverlay('overlayImportar')">Importar Productos</a>
      </div> -->
   </div>
</div>
<div class="container show-result">Mostrando <span class="show-result-num"></span> resultados.</div>
<div class="flex-container"></div>


<script>
   var jsonData = {json};
</script>

<script>
   document.addEventListener("DOMContentLoaded", function(){
      /////////paginador/////////////
      const dataPaging = {
         cantidad : 0,
         url: "paginador_ampliar-producto.php"
      }
      getDataPaging(dataPaging);
      intObserver(dataPaging);
      ///////////////////////////////

      

   });
</script>

