<div class="overlay-loading"></div>

<div class="contenedor-ampliar-public">
      
      <!--  -->
      <div class="container-rows-home" style="margin-top: 20px; ">
         <div class="col-extremos">
            <div class="globos-extremos">
               <div class="up_relleno up_relleno_1_izq"></div>
               <div class="up_relleno up_relleno_2_izq"></div>
            </div>
            <div>
               <div class="test-col"><div class="relleno relleno-izq"></div></div>
               <div class="test-col"><div class="relleno relleno-der"></div></div>
            </div>
            <div>
               <div class="test-col"><div class="relleno relleno-izq"></div></div>
               <div class="test-col"><div class="relleno relleno-der"></div></div>
            </div>
            <div>
               <div class="test-col"><div class="relleno relleno-izq"></div></div>
               <div class="test-col"><div class="relleno relleno-der"></div></div>
            </div>
            <div>
               <div class="test-col"><div class="relleno relleno-izq"></div></div>
               <div class="test-col"><div class="relleno relleno-der"></div></div>
            </div>
            <div>
               <div class="test-col"><div class="relleno relleno-izq"></div></div>
               <div class="test-col"><div class="relleno relleno-der"></div></div>
            </div>
         </div>
         <div class="col-home-centro">
            <div class="globo-cat">
               <span class="prev-cat"><a href="#"><i class="fas fa-chevron-left"></i></a></span>
               <span class="title-cat"></span>
               <span class="next-cat"><a href="#"><i class="fas fa-chevron-right"></i></a></span>
            </div>
            <div class="insert-public"></div>
         </div>
         <div class="col-extremos">
            <div class="globos-extremos">
               <div class="up_relleno up_relleno_1_der"></div>
               <div class="up_relleno up_relleno_2_der"></div>
            </div>
            <div>
               <div class="test-col"><div class="relleno relleno-izq"></div></div>
               <div class="test-col"><div class="relleno relleno-der"></div></div>
            </div>
            <div>
               <div class="test-col"><div class="relleno relleno-izq"></div></div>
               <div class="test-col"><div class="relleno relleno-der"></div></div>
            </div>
            <div>
               <div class="test-col"><div class="relleno relleno-izq"></div></div>
               <div class="test-col"><div class="relleno relleno-der"></div></div>
            </div>
            <div>
               <div class="test-col"><div class="relleno relleno-izq"></div></div>
               <div class="test-col"><div class="relleno relleno-der"></div></div>
            </div>
            <div>
               <div class="test-col"><div class="relleno relleno-izq"></div></div>
               <div class="test-col"><div class="relleno relleno-der"></div></div>
            </div>
         </div>
         <!-- probar sacandoles los amrigns a los rows -->
      </div>
      
</div>
<div class="tooltip-nico"></div>

<script>
   var jsonData = {json};
</script>


   <script>
      
      document.addEventListener("DOMContentLoaded", function(){

         /////////paginador/////////////
         const dataPaging = {
            cantidad : 0,
            url: "paginador_ampliar-publicacion-home.php"
         }
         getDataPaging(dataPaging);
         intObserver(dataPaging);
         
         
         ///////////////////////////////
         
         
         var parentwidth = $(".parent").width();      
         $(".child").toggleClass("fixed").width(parentwidth);    
         //$("body").addClass("loading");
         
         //numero random pattern por ahora
         var random = Math.floor(Math.random() * 7);
         $(".globo-cat").addClass("pattern"+random);
         
            
         });
   </script>
