<!-- lighbox importar -->
<!-- <div class="overlay overlayImportar">
   <div class="lightBox">
      <div>
         <a href="javascript:void(0)" id="cerrar-light"><i onclick="cerrarOverlay('overlayImportar')" class="fas fa-times-circle"></i></a>
         <h3>Importar Archivo CSV</h3>
         <hr>
         <form id="subir-csv">
            <input type="file" id="file-csv" name="file-csv"><br><br>
            <div>
               <button type="submit" class="btn btn-warning">Importar Productos</button>
            </div>
         </form>
         <hr>
         <div id="result-importar"></div>
      </div>
   </div>
</div> -->

<div class="overlay-loading"></div>

<div id="info-user" class="container">
   <div id="titulo-perfil">
      <div id="titulo-perfil-img">
         <img src="{foto-perfil}" alt="foto perfil">
      </div>
      <div id="titulo-perfil-datos">
         <span id="name_usuario">{nombre}</span>
         <div class="fyf">
            <div class="follower_container">
               <span id="follower_count" class="follower_count">0</span>
               <span class="follower_label">Seguidores</span>
            </div>
            <div class="follower_container" style="margin-left: 15px;">
               <span id="following_count" class="follower_count">0</span>
               <span class="follower_label">Seguidos</span>
            </div>
            <span class="edit_perfil"><a href="/editar-usuario.html" class="ml-1 btn btn-warning btn-sm">Editar Perfil</a></span>
         </div>
      </div>
   </div>
   <div id="menu-perfil">
      {menuperfil}
   </div>
</div>

<div class="container contenedor-productos">
   <div class="filtros">
      <div id="search-container" class="search-container" style="width: 25%">
         <input id="buscador-prod" autocomplete="off" class="search" type="text" placeholder="Busca lo que se te ocurra" aria-label="Buscar">
         <i class="fas fa-search fa-search-header"></i>
      </div>
      <div>
         <a href="/formu-subir.html" class="btn btn-warning">Nuevo producto</a>
      </div>
      <!-- <div>
         <a href="javascript:void(0)" class="btn btn-warning" id="ampliarImportar" onclick="ampliarOverlay('overlayImportar')">Importar Productos</a>
      </div> -->
   </div>
</div>
<div class="container show-result">Mostrando <span class="show-result-num"></span> resultados.</div>
<div class="flex-container"></div>

<footer>------------------------------------------------------------------------------------------------------------</footer>

<script>
   var jsonData = {json};
</script>


   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->
   <script src="js/func.js?time=081021-1138"></script>
   <script src="js/producto.js?time=081021-1138"></script>
   <script src="../../plugins/dropPin-master/dropPin/dropPin.js?time=300821-1657"></script>
   <script>
      document.addEventListener("DOMContentLoaded", function(){
         /////////paginador/////////////
         const dataPaging = {
            cantidad : 0,
            url: "paginador_ampliar-producto.php"
         }
         getDataPaging(dataPaging);
         intObserver(dataPaging);
         ///////////////////////////////

         

      });

      function eliminarProd(idParam) {  

         $.post('/app/producto.php', {accion: "eliminar", id: idParam})
            .done(function(data) {
                  var jsonp = JSON.parse(data)
                  if (jsonp.status == 'ERROR'){
                     alert(jsonp.mensaje);														
                  }else if(jsonp.status == 'OK' || jsonp.status == 'ok'){
                     window.location.replace("/ampliar-producto.html");
                  }else if(jsonp.status == 'REDIRECT'){
                     window.location.replace(jsonp.mensaje);
                  }else{
                     $("#mensaje-sin-login").css("display","block");
                     $("#mensaje-sin-login").html(jsonp.mensaje);
                     //alert (data.mensaje);
                  }
            })
            .fail(function() {
                  var msj = "En este momento no podemos atender su petici\u00f3n, por favor espere unos minutos y vuelva a intentarlo.";
                  $("#mensaje-sin-login").css("display","block");
                  $("#mensaje-sin-login").html(msj);
            }); 

         return false;

      }
   </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

</body></html>
