<div class="overlay-loading"></div>

<div class="container container-carrito">
   <div class="inner-carrito">
      <h1>Carrito<span class="carrito-cant-items">1 Item añadido</span></h1>
      <hr>
      <div id="listado-mis-productos" class="carrito-listado">

         <input type="hidden" id="id_carrito" name="id_carrito" value="">


         <!-- hardcodeo -->

      </div>
   </div>
</div>
<div class="container totales-cont">
   <div class="row">
      <div class="col-6 col-lg-6 banner_comprando">
         <img src="../../assets_amal/baner-seguircomprando.png" alt="">
      </div>
      <div class="col-6 col-lg-6 totales-carrito">
         <h4>Totales</h4>
         <hr>
         <div class="row datos-num-checkout">
            <div class="col-lg-6"><span class="subtotal-titulo">Subtotal</span></div>
            <div class="col-lg-6 text-right"><span class="subtotal-cant num-amal-plata"></span></div>
         </div>
         <div class="row datos-num-checkout">
            <div class="col-lg-6"><span class="subtotal-titulo">Cargo por envio</span></div>
            <div class="col-lg-6 text-right"><span class="num-amal-plata">AR$ 0.00</span></div>
         </div>
         <div class="row datos-num-checkout">
            <div class="col-lg-6"><span class="total-titulo">Total</span></div>
            <div class="col-lg-6 text-right"><span class="total-cant num-amal-plata"></span></div>
         </div>
         <br>
         <div id="test" style="text-align: right;">
            <!-- <button class="boton-checkout-carrito btn btn-warning">Continuar Compra</button> -->
         </div>
      </div>
   </div>
</div>



<script>
   var jsonData = {json};
</script>


   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->

<script>
$(document).ready(function(){

   $("body").css("background-image","url('../../assets_amal/background-tags.png')")

   var carrito = jsonData.carrito || [];
   var sizeCarrito = jsonData.carrito.length;

   if(sizeCarrito>0){
      // if($(".form-orden-compra").html().length > 0){
         for(var i=0; i<sizeCarrito; i++){
         
            var id_carrito = jsonData.carrito[i].id_carrito;
            var nombre_prod_carrito = jsonData.carrito[i].nombre_producto;
            var precio_prod_carrito = jsonData.carrito[i].precio;
            var id_publicacion = jsonData.carrito[i].id_publicacion;
            var total_prod_carrito = jsonData.carrito[i].total;
            var prod_id = jsonData.carrito[i].id_producto;
            var cantidad = jsonData.carrito[i].cantidad;
            var producto = jsonData.carrito[i].pid;
            var subtotal = jsonData.carrito[i].subtotal;
            var total = jsonData.carrito[i].total;
            var foto_id = jsonData.carrito[i].foto;
            var foto_src = `/productos_img/${foto_id}.png` || 0;//viene siempre png?
            var changeObj = '[".precio-producto",".subtotal-cant",".total-cant"]';
            var prods_carrito_html = `<div class="row_item_prod">
            <div class="columna-izquierda">
               <img src="${foto_src}" alt="">
            </div>
            <div class="columna-derecha">
               <div class="fila-superior">
                  <div class="col-superior">
                     <div class="nombre_prod">${nombre_prod_carrito}</div>
                     <div class="marca_prod">Adidas</div>
                     <div class="envio_prod"><i class="fas fa-shopping-cart"></i>&nbsp;Envio dentro de las 24hs</div>
                  </div>
                  <div class="col-superior">CANTIDAD: <span>1</span></div>
                  <div class="col-superior">TOTAL<br><span class="precio_prod">${total}</span></div>
               </div>
               <div class="fila-inferior">
                  <div class="col-inferior col-inferior-upper">Subido por:&nbsp;<span>&nbsp;nicogomez94</span></div>
                  <div class="col-inferior">
                     <button class="btn btn-warning">Editar Carrito</button>&nbsp;&nbsp;
                     <button class="btn btn-warning">Continuar Compra</button>
                  </div>
               </div>
            </div>
            <input type="hidden" class="prod-id" name="id_producto" value="${prod_id}">
            <input type="hidden" class="carrito-id" name="id_carrito" value="${id_carrito}">
            <input type="hidden" class="id-publicacion" name="id_publicacion" value="${id_publicacion}">
            <i onclick="eliminarProdAmpliarCarrito(${id_carrito},${id_publicacion},'${prod_id}')" class="eliminar-carrito fas fa-times-circle ellip ml-5"></i>
         </div>`;
            
            /*`<div class="row producto">
                              <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                 <div class="img-producto-container-0" data-title="223"><img onerror="this.src=\'/imagen_perfil/generica_prod.jpg\'" class="img-producto" src="${foto_src}" alt="img"></div>
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-left">
                                 <span class="titulo-producto">${nombre_prod_carrito}</span>
                              </div>
                              <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">
                                 <span class="precio-producto">${total}</span>
                              </div>
                              <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">
                                 <input type="number" id="precio-producto-${i}" onchange="cambiarCant(this.value,${precio_prod_carrito},'.precio-producto','.subtotal-cant','.total-cant')" class="num-corto-form" required="" autocomplete="on" value="${cantidad}">
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                 
                              <div class="cerrar-prod-carrito">
                                 <input type="hidden" class="prod-id" name="id_producto" value="${prod_id}">
                                 <input type="hidden" class="carrito-id" name="id_carrito" value="${id_carrito}">
                                 <input type="hidden" class="id-publicacion" name="id_publicacion" value="${id_publicacion}">
                                 <i onclick="eliminarProdAmpliarCarrito(${id_carrito},${id_publicacion},'${prod_id}')" class="eliminar-carrito fas fa-times-circle ellip ml-5"></i>
                              </div>
                              </div>
                              </div>`;*/


                              

                  $("#listado-mis-productos").append(prods_carrito_html);
                  $(".subtotal-cant").html("AR$ "+total);
                  $(".total-cant").html("AR$ "+total);
                  $("#id_carrito").val(id_carrito);

                  if(cantidad == null || id_carrito == null){
                     $(".header-productos").hide();
                     $(".totales-cont").hide();
                     $(".producto:not(.header-productos)").hide();
                     $("#listado-mis-productos").append('<h3 class="text-center"><i> El carrito est&aacute; vac&iacute;o.<i></h3>')
                  }
                  
                  //boton checkout
                  $("#test").html(`<button onclick="window.location.replace('/ampliar-checkout.html?id_carrito=${id_carrito}&cant=3')" class="boton-checkout-carrito btn btn-warning">Continuar Compra</button>`)


            }
      }else{
         $(".header-productos").hide();
         $(".totales-cont").hide();
         $(".producto:not(.header-productos)").hide();
         $("#listado-mis-productos").append('<h3 class="text-center"><i> El carrito est&aacute; vac&iacute;o.<i></h3>')
      }

      
});
</script>
   <script src="js/func.js?time=201021-1145"></script>
   <script src="../../plugins/dropPin-master/dropPin/dropPin.js?time=300821-1657"></script>
   <!-- <script src="js/publicacion.js?time=290421-1227"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

</body></html>
