
   <div class="container" id="contenedor-form-subir">
      <br><br>
      <h1>Checkout</h1>
      <hr><br>
      <form id="finalizar-orden">
         <!--  -->
         <!-- <input type="hidden" name="accion" value="editar"> -->
         <!--  -->
         <div class="row">
            <div class="col-lg-6 datos-envio-checkout">
               <h4>Datos de env&iacute;o</h4>
               <hr>
                  <div class="group group-form-checkout">      
                     <input type="text" name="envio_nombre_apellido" id="envio_nombre_apellido" placeholder="Nombre Completo" required>
                  </div>
                  <div class="group group-form-checkout">      
                     <input type="number" name="envio_codigo_postal" id="envio_codigo_postal" placeholder="Codigo Postal" required>
                  </div>
                  <div class="group group-form-checkout">      
                     <input type="text" name="envio_ciudad_localidad" id="envio_ciudad_localidad" placeholder="Ciudad/Localidad" required>
                  </div>
                  <div class="group group-form-checkout">      
                     <input type="text" name="envio_numero" id="envio_ciudad_localidad" placeholder="Tel&eacute;fono" required>
                  </div>
                  <div class="group group-form-checkout">      
                     <input type="text" name="envio_direccion" id="envio_ciudad_localidad" placeholder="Direcci&oacute;n" required>
                  </div>
                  <div class="group group-form-checkout">      
                     <input type="text" name="email" id="email" placeholder="E-mail" required>
                  </div>
                  <div class="group group-form-checkout">      
                     <p class="label-descr">Notas (opcional)</p>
                     <textarea type="text" name="notas" id="notas" autocomplete="on" placeholder="Ingrese su comentario"></textarea>
                  </div>
            </div>
            <div class="col-lg-6 totales-checkout">
               <h4>Totales</h4>
               <hr>
               <div class="row datos-num-checkout">
                  <div class="col-lg-6"><span class="subtotal-titulo">Subtotal</span></div>
                  <div class="col-lg-6 text-right"><span class="subtotal-cant">$100,00</span></div>
               </div>
               <div class="row datos-num-checkout">
                  <div class="col-lg-6"><span class="total-titulo">Total</span></div>
                  <div class="col-lg-6 text-right"><span class="total-cant">$100,00</span></div>
               </div>
               <!--
               <div class="row datos-num-checkout">
                  <input type="checkbox" name="opcion1" required="" style="width: 44px;">
                  <span class="opciones-checkout" style="line-height: 12px;">Opcion 1</span>
               </div>
               <div class="row datos-num-checkout">
                  <input type="checkbox" name="opcion2" required="" style="width: 44px;">
                  <span class="opciones-checkout" style="line-height: 12px;">Opcion 2</span>
               </div>
               -->
               <div>
                  <br>
                  <button type="submit" href="#" class="btn btn-warning">Finalizar Orden de Compra</button>
               </div>
               <input type="hidden" value="finalizar2" name="accion">
               <!-- <input type="hidden" value="" name="id_carrito"> -->
            </div>
         </div>
         
      </form>
   </div>

   <script>
      var jsonData = {json};
   </script>
   


   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->
   <script src="js/func.js?time=281220-1409"></script>
   <!-- <script src="js/publicacion.js?time=281220-1409"></script> -->
   <!-- script para la seleccion de fotos -->
   <script>
      $(document).ready(function(){
         var sizeCarrito = jsonData.carrito.length;
         if(sizeCarrito>0){
         // if($(".form-orden-compra").html().length > 0){
            for(var i=0; i<sizeCarrito; i++){
                  var subtotal = jsonData.carrito[i].subtotal;
                  var total = jsonData.carrito[i].total;
                  
                  $(".subtotal-cant").html("$"+total);
                  $(".total-cant").html("$"+total);
            }
         }
      })
   </script>
   <!--  -->
      <link rel="stylesheet" href="../../plugins/dropPin-master/dropPin/dropPin.css" type="text/css" />
      <script type="text/javascript" src="../../plugins/dropPin-master/dropPin/dropPin.js?time=231120-1458"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
</body></html>
