
<div class="container container-carrito">
   <div class="inner-carrito">
      <h1>TEST Carritos</h1>
      <hr>
      <div id="listado-mis-productos" class="carrito-listado" style="margin-top: 50px">
      </div>
   </div>
</div>




<script>
   var jsonData = {json};
</script>


   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->

<script>
$(document).ready(function(){

   var carrito = jsonData.carrito || [];
   //
   let carritos_agrupados = carrito.reduce((r, a) => {
      r[a.id_carrito] = [...r[a.id_carrito] || [], a];
      return r;
   }, {});
   var sizeCarrito = carrito.length;
   
   let test = Object.values(carritos_agrupados)

   let test_param = 0;

      for(let i=0; i<sizeCarrito; i++){
         let id_carrito = carrito[i].id_carrito;
         let nombre_prod_carrito = carrito[i].nombre_producto;
         let precio_prod_carrito = carrito[i].precio;
         let id_publicacion = carrito[i].id_publicacion;
         let total_prod_carrito = carrito[i].total;
         let prod_id = carrito[i].id_producto;
         let cantidad = carrito[i].cantidad;
         let producto = carrito[i].pid;
         let subtotal = carrito[i].subtotal;
         let total = carrito[i].total;
         let foto_id = carrito[i].foto;
         let foto_src = `/productos_img/${foto_id}.png` || 0;//viene siempre png?

         
         let prods_carrito_html = `<div class="row producto">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
               <div class="img-producto-container-0" data-title="223"><img class="img-producto" src="${foto_src}" alt="img"></div>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-left">
                  <span class="titulo-producto">${nombre_prod_carrito}</span>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">
                     <span class="precio-producto">${precio_prod_carrito}</span>
                     </div>
                     <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">
                        <input type="number" id="precio-producto-${i}" class="num-corto-form" required="" autocomplete="on" value="${cantidad}">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                           <button onclick="window.location.replace('/ampliar-carrito.html?id_carrito=${id_carrito}');" class="boton-checkout-carrito btn btn-warning">Continuar Compra</button>
                           <div class="cerrar-prod-carrito">
                              <input type="hidden" class="prod-id" name="id_producto" value="${prod_id}">
                              <input type="hidden" class="carrito-id" name="id_carrito" value="${id_carrito}">
                              <input type="hidden" class="id-publicacion" name="id_publicacion" value="${id_publicacion}">
                              <i onclick="eliminarCarrito(${prod_id},${id_publicacion},'carritos.html')" class="eliminar-carrito fas fa-times-circle ellip ml-5"></i>
                              </div>
                              </div>
                              </div>`;
                              
               if(test_param != id_carrito){
                  test_param =+ id_carrito
                  let test = document.createElement("div");
                  test.setAttribute("class","id_carrito-"+id_carrito)
                  test.innerHTML = prods_carrito_html;
                  $("#listado-mis-productos").append(test);
               }else{
                  //appendeo a el class existente, en ves de crear un objeto nuevo
                  let carrito_varios = $(".id_carrito-"+id_carrito);
                  carrito_varios.append(prods_carrito_html)
                  carrito_varios.addClass("carrito_varios")
               }
                  /*$(".subtotal-cant").html("AR$"+total);
                  $(".total-cant").html("AR$"+total);
                  $("#id_carrito").val(id_carrito);*/

         //console.log(id_carrito)
      }
   //}  

   /*if(sizeCarrito>0){
      // if($(".form-orden-compra").html().length > 0){
         for(var i=0; i<sizeCarrito; i++){
         
           

                 /* if(cantidad == null || id_carrito == null){
                     $(".header-productos").hide();
                     $(".totales-cont").hide();
                     $(".producto:not(.header-productos)").hide();
                     $("#listado-mis-productos").append('<h3 class="text-center"><i> El carrito est&aacute; vac&iacute;o.<i></h3>')
                  }


                  

                     //var dataCheckout = new FormData();
                     //dataCheckout.append("id_carrito",id_carrito);
                     
                     // $.ajax({
                     //    url: '/app/carrito.php',
                     //    data: dataCheckout,
                     //    type: 'GET',
                     //    processData: false,
                     //    contentType: false,
                     //    //dataType: "json",
                     //    //async: false,
                     //    success: function( data, textStatus, jQxhr ){
                     //          var dataJ = JSON.parse(data).status;
                     //          var dataM = JSON.parse(data).mensaje;
                     //       if (dataJ == 'REDIRECT'){
                     //          console.log("REDIRECT-->"+dataM);
                     //          window.location.replace(dataM);														
                     //       }else if(dataJ == 'OK'){
                     //          console.log("OK-->"+dataJ+"/"+dataM);
                     //          window.location.replace("/ampliar-carrito.html?id_carrito="+id_carrito);
                     //       }else{
                     //          console.log("ELSE-->"+dataJ+"/"+dataM);
                     //          //window.location.replace("/ampliar-carrito.html");
                     //       }
                     //    },
                     //    error: function( data, jqXhr, textStatus, errorThrown ){
                     //          alert(data);
                     //    }
                     // });
                     //return false;
                  

            }
      }else{
         $(".header-productos").hide();
         $(".totales-cont").hide();
         $(".producto:not(.header-productos)").hide();
         $("#listado-mis-productos").append('<h3 class="text-center"><i> El carrito est&aacute; vac&iacute;o.<i></h3>')
      }*/

      
});
</script>
   <script src="js/func.js?time=1624-1510"></script>
   <!-- <script src="js/publicacion.js?time=290421-1227"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

</body></html>
