
<div class="container container-carrito">
   <div class="inner-carrito">
      <h1>Listado de Carritos</h1>
      <hr>
      <div id="listado-mis-productos" class="carrito-listado" style="margin-top: 50px">
      </div>
   </div>
</div>




<script>
   var jsonData = {json};
</script>


<script>
$(document).ready(function(){

   //
   /*let carritos_agrupados = carrito.reduce((r, a) => {
      r[a.id_carrito] = [...r[a.id_carrito] || [], a];
      return r;
   }, {});
   let test = Object.values(carritos_agrupados)*/
   
   var carrito = jsonData.carrito || [];
   var sizeCarrito = carrito.length;
   let test_param = 0;

   if(sizeCarrito>0){
      for(let i=0; i<sizeCarrito; i++){
         let id_carrito = carrito[i].id_carrito;
         let nombre_prod_carrito = carrito[i].nombre_producto;
         let precio_prod_carrito = carrito[i].precio;
         let id_publicacion = carrito[i].id_publicacion;
         let total_prod_carrito = carrito[i].total;
         let prod_id = carrito[i].id_producto;
         let cantidad = carrito[i].cantidad;
         let producto = carrito[i].pid;
         let subtotal = carrito[i].subtotal;
         let total = carrito[i].total;
         let foto_id = carrito[i].foto;
         let nombre_vendedor = carrito[i].nombre_vendedor;
         let foto_src = `/productos_img/${foto_id}.png` || 0;//viene siempre png?
         let listado = document.querySelector("#listado-mis-productos");
         let carrito_varios = document.querySelector(".carritos-rows-"+id_carrito);
         
         //este se dibuja de por si
         let struc_carrito = 
               `<div class="carrito_">
                  <div class="carritos-rows carritos-rows-${id_carrito}">
                     
                  </div>
                  <div class="carritos-btn">
                     <span style="flex-grow: 1">By: <b>${nombre_vendedor}</b></span>
                     <button onclick="window.location.replace('/ampliar-carrito.html?id_carrito=${id_carrito}');" class="boton-checkout-carrito btn btn-warning mr-1">Continuar Compra</button>
                     <button onclick="eliminarCarrito(${id_carrito},${id_publicacion},${prod_id})" class="boton-checkout-carrito btn btn-warning">Cancelar Carrito</button>
                  </div>
               </div>`;
         
         
         //este inserta las "rows" de producto
         let appendeo = 
               `<div class="carritos-flex producto producto-${id_carrito}">
                  <div>
                     <span class="img-producto-container-0" data-title="223"><img class="img-producto" src="${foto_src}" alt="img"></span>
                     <span class="titulo-producto">${nombre_prod_carrito}</span>
                  </div>
                  <div>
                     <!--<input type="number" id="precio-producto-${i}" class="num-corto-form" required="" autocomplete="on" value="${cantidad}">-->
                     <span>Cantidad: ${cantidad}</span>
                  </div>   
                  <div>
                     <span class="precio-producto">$. ${precio_prod_carrito}</span>
                  </div>
               </div><hr>`;

                              
               if(test_param != id_carrito){
                  //entro por aca si es un prodcuto individual, para no generar dos botones
                  test_param =+ id_carrito
      
                  listado.insertAdjacentHTML("beforeend",struc_carrito)

                  let el = document.createElement("div");
                  el.setAttribute("class","id_carrito-"+id_carrito)
                  el.innerHTML = appendeo;
                  $(".carritos-rows-"+id_carrito).append(el);
               }else{
                  //appendeo a el class existente, en ves de crear un objeto nuevo
                  carrito_varios.insertAdjacentHTML("beforeend",appendeo)
                  //carrito_varios.classList.add("carrito_varios")
               }

      }
      
   }else{
      var html_nada = '<div class="html-nada">No hay carritos activos.</div>';
      $("#listado-mis-productos").html(html_nada);
   }

      
});
</script>
