
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .mail-container{
            width: 45%;
            margin: 30px auto 10px auto;
            box-shadow: var(--soft-shadow);
            padding: 10px;
            /* HARD */
            display: none;
            /*  */

        }
        .mail-upper, .mail-body, .mail-footer{
            padding: 20px;
        }
        .mail-upper{
            background-color: #cebd8b;
            text-align: center;
        }
        .mail-body{
          text-align: left;
        }
        .mail-footer{
            background-color: transparent;
            text-align: center;
        }
        .cols-prod{
            width: 32%;
            display: inline-block;
            line-height: 2em;
        }
        .producto {
            box-shadow: 0px 0px 1px grey;
            padding: 10px;
            margin-top: 10px;
        }
        .adress, .fecha, .lista-productos{
            margin-top: 20px;
        }
        button {
            background-color: hsl(199deg 74% 49%);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center !important;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px;
            cursor: pointer;
            border-radius: 10px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }
        button:hover{
            box-shadow: none;
        }
        .orden-recibida{
            padding: 30px;
            position: relative;
        }
        .logo-flot{
            position: absolute;
            left: -10px;
            top: -10px
        }
        .logo-flot a:link{
            color: whitesmoke !important;
            font-size: 20px !important;
        }
        .pago-cantidad{
            font-size: 0.7em;
            color: grey;
        }

    </style>
    
</head>
<body>

	<div class="container inner-carrito">
		<h1 class="h1-carrito">Ya casi estamos!</h1>
		<div id="cobrar-compra-container">
			<div class="seccion-cobrar-compra row_item_prod row_item_prod_mp">
				<div class="columna-izquierda">
				   <img id="foto-img-cobro" alt="">
				</div>
				<div class="columna-derecha">
				   <div class="fila-superior">
					  <div class="col-superior">
						 <div class="nombre_prod"></div>
						 <div class="marca_prod">Adidas</div>
						 <div class="envio_prod"><i class="fas fa-shopping-cart"></i>&nbsp;Envio dentro de las 24hs</div>
					  </div>
					  <div class="col-superior">CANTIDAD: <span>1</span></div>
					  <div class="col-superior">TOTAL<br><span class="precio_prod">$3500</span></div>
				   </div>
				   <div class="fila-inferior">
					  <div class="col-inferior col-inferior-upper">Subido por:&nbsp;<span>&nbsp;nicogomez94</span></div>
					  <div class="col-inferior">
						 <button class="btn btn-warning">Editar Compra</button>&nbsp;&nbsp;
					  </div>
				   </div>
				</div>
			</div>
			<hr>
			<h4 class="h_mp">Informaci&oacute;n personal y de envio <div class="msj-chico-gris">* Estos items son obligatorios</div></h4>
			<div class="seccion-cobrar-compra form-datos-cobrar">
				<form id="form-datos-envio" class="form-new-amal">
					<div class="form-row">
						<div class="form-col form-col-personal">
						  <input type="text" id="nombre" name="nombre" placeholder="Nombre y Apellido *" required>
						  <input type="tel" id="telefono" name="telefono" placeholder="Teléfono *" required>
						  <input type="email" id="email" name="email" placeholder="E-mail *" required>
						</div>
						<div class="form-col form-col-direccion">
						  <input type="text" id="direccion" name="direccion" placeholder="Dirección" required>
						  <input type="text" id="provincia" name="provincia" placeholder="Provincia" required>
						  <input type="text" id="observaciones" name="observaciones" placeholder="Observaciones"></input>
						</div>
					  </div>
					  <!-- <input type="submit" value="Enviar"> -->
				</form>
			</div>
			<h4 class="h_mp">Medio de pago <div class="msj-chico-gris">* estos items son obligatiorios</div></h4>
			<div id="form-mp-container" class="seccion-cobrar-compra">
				<div>
					<div class="img-cobro">
						<img src="../../assets_amal/credit-card color.png" alt="">
						<img src="../../assets_amal/logo-mercadopago-lineas.png" alt="">
						<img src="../../assets_amal/money-transfer.png" alt="">
					</div>
					<div>
						<form id="form-mp" class="form-new-amal">
							<div class="form-row">
								<div class="form-col form-col-personal">
								<input type="text" id="nombre" name="nombre" placeholder="Nombre del Titular *" required>
								<input type="tel" id="telefono" name="telefono" placeholder="Nombre de la Tarjeta *" required>
								<input type="email" id="email" name="email" placeholder="Numero de Documento *" required>
								</div>
								<div class="form-col form-col-direccion">
								<input type="text" id="direccion" name="direccion" placeholder="Vencimiento" required>
								<input type="text" id="provincia" name="provincia" placeholder="CVV" required>
								<input type="text" id="observaciones" name="observaciones" placeholder="E-mail"></input>
								</div>
							</div>
							<!-- <input type="submit" value="Enviar"> -->
						</form>
					</div>
				</div>
				<div>
					<div class="container totales-cont"></div>
						<div class="totales-carrito">
							<h4>Totales</h4>
							<hr>
							<div class="row datos-num-checkout">
								<div class="col-lg-6"><span class="subtotal-titulo">Subtotal</span></div>
								<div class="col-lg-6 text-right"><span class="subtotal-cant num-amal-plata">AR$ 3000.00</span></div>
							</div>
							<div class="row datos-num-checkout">
								<div class="col-lg-6"><span class="subtotal-titulo">Cargo por envio</span></div>
								<div class="col-lg-6 text-right"><span class="subtotal-cant num-amal-plata">AR$ 0.00</span></div>
							</div>
							<hr><br>
							<div class="row datos-num-checkout">
								<div class="col-lg-6"><span class="total-titulo">Total</span></div>
								<div class="col-lg-6 text-right"><span class="total-cant num-amal-plata">AR$ 3000.00</span></div>
							</div>
						</div>
						<div class="text-right">
							<button class="btn btn-pagar-mp" onclick="gotopay()">Pagar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  -->
	<!--  -->
	<!--  -->

    <div class="mail-container">
        <div class="mail-upper">
            <div class="logo-taggeon"></div>
            <div class="orden-recibida">
                <div class="logo-flot" ><a href="/">
                    <i class="fab fa-affiliatetheme logo-brand"></i>
                 </a></div>
                <h1>Orden generada!</h1>
                <p style="color: grey;">Orden Nro 1092810928019</p>
            </div>
        </div>
        <div class="mail-body">
            <h4><span class="nombre-comprador"></span>, Revisa los datos antes de confirmar la compra</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, debitis eveniet cumque incidunt, ab nulla quasi necessitatibus laudantium voluptatum perspiciatis quis modi qui ducimus dolores quisquam accusantium, expedita natus magnam?</p>
            <div class="adress">
                <span><b>Direcci&oacute;n de entrega</b></span><br>
                <span clas="dir-entrega" style="color: grey"></span>
            </div>
            <div class="fecha">
                <span><b>Fecha de entrega</b></span><br>
                <span style="color: grey">16 Dic 2021 - 18:00 (aprox.)</span>
            </div>
            <div class="lista-productos">
                <span><b>Productos en la orden</b></span><br>
                
            </div>
            <div class="totales" style="text-align: right; padding: 10px;">
                <b>Total: </b><span class="totales-num"></span>
            </div>
            <hr>

              <form id="form-checkout" >
                <input type="text" name="cardNumber" id="form-checkout__cardNumber"/>
                <input type="text" name="cardExpirationDate" id="form-checkout__cardExpirationDate" value="06/27"/>
                <input type="text" name="cardholderName" id="form-checkout__cardholderName">
                <input type="email" name="cardholderEmail" id="form-checkout__cardholderEmail">
                <input type="text" name="securityCode" id="form-checkout__securityCode">
                <select name="issuer" id="form-checkout__issuer"></select>
                <select name="identificationType" id="form-checkout__identificationType"></select>
                <input type="text" name="identificationNumber" id="form-checkout__identificationNumber">
                <select name="installments" id="form-checkout__installments"></select>
                <button type="submit" id="form-checkout__submit">Pagar</button>
                <progress value="0" class="progress-bar">Cargando...</progress>
             </form>









        </div>
    </div>

    <script>
        var jsonData = {json};
    </script>

<script>

function gotopay(){
	/*
  window.location.href = "http://168.181.186.206/mp/geturl.php?title=Compra en Taggeon&price="+total+"&id="+jsonData.compras[0].id_carrito;
  */
  let total = 0;
	jsonData?.compras?.map(c=>total+=parseFloat(c[11]));

    const URL = "http://168.181.186.206/mp/geturl.php?title=Compra en Taggeon&price="+total+"&id="+jsonData.compras[0].id_carrito;

    let data = new FormData();
    data.append("price",total);
    data.append("id_carrito",jsonData.compras[0].id_carrito);
    data.append("id",jsonData.compras[0].id_carrito);
    // data.append("id_usuario","test");
    data.append("title","Compra en Taggeon");
    
    fetch(URL, {
        method: 'POST',
        body: data,
    }).then(res => res.json())
    .then(response => {
      window.location.href = response.mensaje
    })
    .catch(error => console.error('Error:', error))

}

$(document).ready(function(){
	$("body").css("background-image","url('../../assets_amal/background-tags.png')")
	
    $("#testcarr").attr("value",jsonData.compras[0].id_carrito)
  
    var sizeCompras = jsonData.compras.length;

    if(sizeCompras>0){
        for(var i=0; i<sizeCompras; i++){
            var nombre_producto = jsonData.compras[i].nombre_producto;
            var precio_producto = jsonData.compras[i].precio;
            var direccion = jsonData.compras[i].envio_nombre_apellido;
            var localidad = jsonData.compras[i].envio_ciudad_localidad;
            var cantidad = jsonData.compras[i].cantidad;
            var total = jsonData.compras[i].total;
            var name_comprador = jsonData.compras[i].envio_nombre_apellido;
            var imagen_id = jsonData.compras[i].foto_id;
            var foto_src = '/productos_img/'+imagen_id+ '.png' || 0;

            var compras_html = 
            '<div class="producto">'+
                '<div class="row">'+
                    '<div class="col-lg-2 col-md-2 col-sm-2 col-2 cols-prod">'+
                        '<img onerror="this.src=\'/imagen_perfil/generica_prod.jpg\'" class="mr-3 img-compra-lista" src="'+foto_src+'" alt="img">'+
                    '</div>'+
                    '<div class="col-lg-8 col-md-8 col-sm-8 col-8 cols-prod">'+nombre_producto+'&nbsp;<span class="pago-cantidad">(x'+cantidad+')</span></div>'+
                    '<div class="col-lg-2 col-md-2 col-sm-2 col-2 cols-prod precio-orden">$. '+precio_producto+'</div>'+
               '</div>'+
            '</div>';
            
            $(".nombre-comprador").html(name_comprador);
            $(".dir-entrega").html(direccion+", "+localidad)
            $(".totales-num").html('$. '+total);
            $('.lista-productos').append(compras_html);
            $("#transactionAmount").val(precio_producto)

            $(".nombre_prod").html(nombre_producto)
            $(".precio_prod").html(precio_producto)
            $("#foto-img-cobro").attr("src",foto_src)
            //$("#email").val("agulleiroliliana@hotmail.com")
        }
    }

});
</script>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
    // const mp = new MercadoPago('APP_USR-31427082-1223-4141-9ae8-c30f8404c448'); app vieja riki
    // const mp = new MercadoPago('APP_USR-901f5438-7501-4dcd-b64b-1be719edc524'); //app nueva nico
    //const mp = new MercadoPago('APP_USR-d850b333-1650-4501-bc27-eeda3b2afe93'); //app rodrigo gonelake
    //const mp = new MercadoPago('APP_USR-f67d693b-2719-40ad-987e-2a30cd5d3dee'); //app liliana
    /*const cardForm = mp.cardForm({
  amount: "10",
  autoMount: true,
  form: {
    id: "form-checkout",
    cardholderName: {
      id: "form-checkout__cardholderName",
      placeholder: "Titular de la tarjeta",
    },
    cardholderEmail: {
      id: "form-checkout__cardholderEmail",
      placeholder: "E-mail",
    },
    cardNumber: {
      id: "form-checkout__cardNumber",
      placeholder: "Número de la tarjeta",
    },
    cardExpirationDate: {
      id: "form-checkout__cardExpirationDate",
      placeholder: "Data de vencimiento (MM/YYYY)",
    },
    securityCode: {
      id: "form-checkout__securityCode",
      placeholder: "Código de seguridad",
    },
    installments: {
      id: "form-checkout__installments",
      placeholder: "Cuotas",
    },
    identificationType: {
      id: "form-checkout__identificationType",
      placeholder: "Tipo de documento",
    },
    identificationNumber: {
      id: "form-checkout__identificationNumber",
      placeholder: "Número de documento",
    },
    issuer: {
      id: "form-checkout__issuer",
      placeholder: "Banco emisor",
    },
  },
  callbacks: {
    onFormMounted: error => {
      if (error) return console.warn("Form Mounted handling error: ", error);
      console.log("Form mounted");
    },
    onSubmit: event => {
      event.preventDefault();

      const {
        paymentMethodId: payment_method_id,
        issuerId: issuer_id,
        cardholderEmail: email,
        amount,
        token,
        installments,
        identificationNumber,
        identificationType,
      } = cardForm.getCardFormData();

        const payerData = {
            email,
            identification: {
              type: identificationType,
              number: identificationNumber,
            }
        }

        //var dataForden = new FormData(form);
        const id_carrito_data = jsonData.compras[0].id_carrito;
        
        const dataForden = new FormData()
        dataForden.append("id_carrito",id_carrito_data)
        dataForden.append("token",token)
        dataForden.append("issuer",issuer_id)
        dataForden.append("paymentMethodId",payment_method_id)
        dataForden.append("transactionAmount",Number(amount))
        dataForden.append("installments",Number(installments))
        dataForden.append("description","Descripción del producto")
        dataForden.append("email",email)
        dataForden.append("docType",identificationType)
        dataForden.append("docNumber",identificationNumber)
        //dataForden.append("id_carrito",id_carrito);

        fetch("/mp/process_payment.php", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body: dataForden
        }).then(response => response.json())
        .then(data => {
            let status = data.status;
            let mensaje = data.mensaje;

            if(status == 'OK'){
              alertify.success("El pago "+mensaje+" se realizo con exito");
              console.log(mensaje)
              window.location.replace("/mis-compras.html");
            }else if(status == 'ERROR'){
              alertify.error("Ha ocurrido un error con el pago");
              console.error("elsif",data)
              window.location.replace("/mis-compras.html");
            }else{
              alertify.error("Ha ocurrido un error con el pago");
              console.error(data)
              window.location.replace("/mis-compras.html");
            }
        })
        .catch(function(error){
              alertify.error("Ha ocurrido un error con el servidor. Intente de nuevamente mas tarde")
        });
    
    }
  }
});

/*onFetching: (resource) => {
  console.log("Fetching resource: ", resource);

  // Animate progress bar
  const progressBar = document.querySelector(".progress-bar");
  progressBar.removeAttribute("value");

  return () => {
    progressBar.setAttribute("value", "0");
  };
}*/

</script>
  
