
    <!-- <style>
        body{
            background-color: rgb(216, 216, 216);
            margin: 0;
            padding: 0;
        }
        .mail-container{
            width: 50%;
            margin: 30px auto 10px auto;
            box-shadow: 4px 4px 0px #b3b3b3;
        }
        .mail-upper, .mail-body, .mail-footer{
            padding: 20px;
        }
        .mail-upper{
            background-color: #cebd8b;
            text-align: center;
        }
        .mail-body{
            background-color: rgb(239 239 239);
        }
        .mail-footer{
            background-color: transparent;
            text-align: center;
        }
        .cols-prod{
            width: 32%;
            display: inline-block;
        }
        .producto {
            box-shadow: 0px 0px 1px grey;
            padding: 10px;
            margin-top: 10px;
        }
        .adress, .fecha, .lista-productos{
            margin-top: 20px;
        }
        button {
            background-color: hsl(199deg 74% 49%);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center !important;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        button:hover{
            box-shadow: none;
        }
        .orden-recibida{
            padding: 30px;
            position: relative;
        }
        .logo-flot{
            position: absolute;
            left: -10px;
            top: -10px
        }
        .logo-flot a:link{
            color: whitesmoke !important;
            font-size: 20px !important;
        }

    </style> -->
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
</head>
<body style="background-color: rgb(216, 216, 216);margin: 0;padding: 0;">
    <div class="mail-container" style="width: 50%;margin: 30px auto 10px auto;box-shadow: 4px 4px 0px #b3b3b3;">
        <div class="mail-upper" style="padding: 20px;background-color: #cebd8b;text-align: center;">
            <div class="logo-taggeon"></div>
            <div class="orden-recibida" style="padding: 30px;position: relative;">
                <div class="logo-flot" style="position: absolute;left: -10px;top: -10px;"><a href="/" style="color: whitesmoke !important;font-size: 20px !important;">
                    <i class="fab fa-affiliatetheme logo-brand" style="-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;display: inline-block;font-style: normal;font-variant: normal;text-rendering: auto;line-height: 1;font-family: &quot;Font Awesome 5 Brands&quot;;"></i>
                 </a></div>
                <h1>Orden generada!</h1>
                <p style="color: grey;">Orden Nro 1092810928019</p>
            </div>
        </div>
        <div class="mail-body" style="padding: 20px;background-color: rgb(239 239 239);">
            <h4><span class="nombre-comprador"></span>, Revisa los datos antes de confirmar la compra</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, debitis eveniet cumque incidunt, ab nulla quasi necessitatibus laudantium voluptatum perspiciatis quis modi qui ducimus dolores quisquam accusantium, expedita natus magnam?</p>
            <div class="adress" style="margin-top: 20px;">
                <span><b>Direccion de entrega</b></span><br>
                <span clas="dir-entrega" style="color: grey">Galicia 1207</span>
            </div>
            <div class="fecha" style="margin-top: 20px;">
                <span><b>Fecha de entrega</b></span><br>
                <span style="color: grey">16 Dic 2021 - 18:00 (aprox.)</span>
            </div>
            <div class="lista-productos" style="margin-top: 20px;">
                <span><b>Productos en la orden</b></span><br>
                
            </div>
            <div class="totales" style="text-align: right; padding: 10px;">
                <b>Total: </b><span class="totales-num"></span>
            </div>
            <hr>
            

        <form action="/mp/process_payment.php" method="post" id="paymentForm">
            <h3>Detalles del comprador</h3>
              <div>
                <div>
                  <label for="email">E-mail</label>
                  <input id="email" name="email" type="text" value="test@test.com"/>
                </div>
                <div>
                  <label for="docType">Tipo de documento</label>
                  <select id="docType" name="docType" data-checkout="docType" type="text"></select>
                </div>
                <div>
                  <label for="docNumber">Número de documento</label>
                  <input id="docNumber" name="docNumber" data-checkout="docNumber" type="text"/>
                </div>
              </div>
            <h3>Detalles de la tarjeta</h3>
              <div>
                <div>
                  <label for="cardholderName">Titular de la tarjeta</label>
                  <input id="cardholderName" data-checkout="cardholderName" type="text">
                </div>
                <div>
                  <label for="">Fecha de vencimiento</label>
                  <div>
                    <input type="text" placeholder="MM" id="cardExpirationMonth" data-checkout="cardExpirationMonth"
                      onselectstart="return false" onpaste="return false"
                      oncopy="return false" oncut="return false"
                      ondrag="return false" ondrop="return false" autocomplete=off>
                    <span class="date-separator">/</span>
                    <input type="text" placeholder="YY" id="cardExpirationYear" data-checkout="cardExpirationYear"
                      onselectstart="return false" onpaste="return false"
                      oncopy="return false" oncut="return false"
                      ondrag="return false" ondrop="return false" autocomplete=off>
                  </div>
                </div>
                <div>
                  <label for="cardNumber">Número de la tarjeta</label>
                  <input type="text" id="cardNumber" data-checkout="cardNumber"
                    onselectstart="return false" onpaste="return false"
                    oncopy="return false" oncut="return false"
                    ondrag="return false" ondrop="return false" autocomplete=off>
                </div>
                <div>
                  <label for="securityCode">Código de seguridad</label>
                  <input id="securityCode" data-checkout="securityCode" type="text"
                    onselectstart="return false" onpaste="return false"
                    oncopy="return false" oncut="return false"
                    ondrag="return false" ondrop="return false" autocomplete=off>
                </div>
                <div id="issuerInput">
                  <label for="issuer">Banco emisor</label>
                  <select id="issuer" name="issuer" data-checkout="issuer"></select>
                </div>
                <div>
                  <label for="installments">Cuotas</label>
                  <select type="text" id="installments" name="installments"></select>
                </div>
                <div>
                  <input type="hidden" name="transactionAmount" id="transactionAmount" value="100" />
                  <input type="hidden" name="paymentMethodId" id="paymentMethodId" />
                  <input type="hidden" name="description" id="description" />
                  <br>
                  <button type="submit">Pagar</button>
                  <br>
                </div>
            </div>
          </form>
          <hr>
            <!-- <form id="realizar-compra">
            <button type="submit" style="background-color: hsl(199deg 74% 49%);border: none;color: white;padding: 15px 32px;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;border-radius: 10px;-webkit-transition-duration: 0.4s;transition-duration: 0.4s;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);text-align: center !important;">
                Realizar Compra
            </button>
            <img style="float: right; width: 120px;" src="https://calim.com.ar/wp-content/uploads/2020/01/mercado-libre-mercado-pago-percepciones.png" alt="">
            </form> -->
        </div>
    </div>

    <script>
        var jsonData = {json};
     </script>

<script src="js/jquery-3.5.1.js"></script>
<script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
<script src="js/func.js?time=221220-1647"></script>
   <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
   <script src="js/publicacion.js?time=03022021-1656"></script>
<!-- <script src="js/popper.js"></script> -->

<script>
$(document).ready(function(){

    var sizeCompras = jsonData.compras.length;

    if(sizeCompras>0){
        for(var i=0; i<sizeCompras; i++){
            var nombre_producto = jsonData.compras[i].nombre_producto;
            var precio_producto = jsonData.compras[i].precio;
            var direccion = jsonData.compras[i].envio_nombre_apellido;
            var localidad = jsonData.compras[i].envio_ciudad_localidad;
            var name_comprador = jsonData.compras[i].envio_nombre_apellido;
            var imagen_id = jsonData.compras[i].foto_id;
            var foto_src = '/productos_img/'+imagen_id+ '.png' || 0;

            var compras_html = 
            '<div class="producto" style="box-shadow: 0px 0px 1px grey;padding: 10px;margin-top: 10px;">'+
                '<div class="cols-prod" style="width: 32%;display: inline-block;">'+
                    '<img class="mr-3 img-compra-lista" src="'+foto_src+'" alt="img">'+
                '</div>'+
                '<div class="cols-prod" style="text-align: left;font-weight: 500;width: 32%;display: inline-block;">'+nombre_producto+'</div>'+
                '<div class="cols-prod" style="text-align: right;width: 32%;display: inline-block;">$. '+precio_producto+'</div>'+
            '</div>';
            
            $(".nombre-comprador").html(name_comprador);
            $(".dir-entrega").html(direccion+", "+localidad)
            $(".totales-num").html('$. '+precio_producto);//hard
            $('.lista-productos').append(compras_html);
        }
    }

});
</script>

	<script>
		 window.Mercadopago.setPublishableKey("TEST-826ecbfe-8ca4-4150-bfad-318470a150db");
		window.Mercadopago.getIdentificationTypes();
document.getElementById('cardNumber').addEventListener('change', guessPaymentMethod);

function guessPaymentMethod(event) {
   let cardnumber = document.getElementById("cardNumber").value;
   if (cardnumber.length >= 6) {
       let bin = cardnumber.substring(0,6);
       window.Mercadopago.getPaymentMethod({
           "bin": bin
       }, setPaymentMethod);
   }
};

function setPaymentMethod(status, response) {
   if (status == 200) {
       let paymentMethod = response[0];
       document.getElementById('paymentMethodId').value = paymentMethod.id;

       getIssuers(paymentMethod.id);
   } else {
       alert(`payment method info error: ${response}`);
   }
}
function getIssuers(paymentMethodId) {
   window.Mercadopago.getIssuers(
       paymentMethodId,
       setIssuers
   );
}

function setIssuers(status, response) {
   if (status == 200) {
       let issuerSelect = document.getElementById('issuer');
       response.forEach( issuer => {
           let opt = document.createElement('option');
           opt.text = issuer.name;
           opt.value = issuer.id;
           issuerSelect.appendChild(opt);
       });

       getInstallments(
           document.getElementById('paymentMethodId').value,
           document.getElementById('transactionAmount').value,
           issuerSelect.value
       );
   } else {
       alert(`issuers method info error: ${response}`);
   }
}
function getInstallments(paymentMethodId, transactionAmount, issuerId){
   window.Mercadopago.getInstallments({
       "payment_method_id": paymentMethodId,
       "amount": parseFloat(transactionAmount),
       "issuer_id": parseInt(issuerId)
   }, setInstallments);
}

function setInstallments(status, response){
   if (status == 200) {
       document.getElementById('installments').options.length = 0;
       response[0].payer_costs.forEach( payerCost => {
           let opt = document.createElement('option');
           opt.text = payerCost.recommended_message;
           opt.value = payerCost.installments;
           document.getElementById('installments').appendChild(opt);
       });
   } else {
       alert(`installments method info error: ${response}`);
   }
}
doSubmit = false;
document.getElementById('paymentForm').addEventListener('submit', getCardToken);
function getCardToken(event){
   event.preventDefault();
   if(!doSubmit){
       let $form = document.getElementById('paymentForm');
       window.Mercadopago.createToken($form, setCardTokenAndPay);
       return false;
   }
};

function setCardTokenAndPay(status, response) {
   if (status == 200 || status == 201) {
       let form = document.getElementById('paymentForm');
       let card = document.createElement('input');
       card.setAttribute('name', 'token');
       card.setAttribute('type', 'hidden');
       card.setAttribute('value', response.id);
       form.appendChild(card);
       doSubmit=true;
       form.submit();
   } else {
       alert("Verify filled data!\n"+JSON.stringify(response, null, 4));
   }
};
	</script>

</body>
</html>