<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

<!-- <div class="overlay-prod"></div> -->
<div class="row">
   <div class="container col-lg-8 col-md-12 col-sm-12 col-12" id="contenedor-form-subir" >
      <h1>Editar Publicacion</h1>
      <hr>
      <form id="editar-publicacion-form">
         <input type="hidden" name="accion" value="editar">
         
         <div id="output-container">
            <div class="popup-prod-overlay">
               <div id="popup-prod-cont">
                  <div class="filtros">
                     <input id="buscador-titulo-input" class="busq-prod-subir-public" type="text" name="prod_search_seller" placeholder="Busque el producto en la lista">
                     <i class="fas fa-times-circle limpiar-buscador" style="display: none;"></i>
                     <br>
                     <div id="salir-popup"><a href="javascript:void(0)"><i class="fas fa-times"></i></a></div>
                  </div>
                  <div class="popup-producto">
                     <div class="splide splide__prod_public">
                        <div class="splide__track">
                           <ul class="splide__list"></ul>
                        </div>
                     </div>
                     <div class="msj-no-result"></div>
                  </div>
               </div>
            </div>
            <div class="contenedor-content">
               <div class="click-protector-cont"></div>
               <!-- va solo en el editar -->
               <div id="map">
                  <img id="img-pines-amapear" src="">
               </div>
            </div>

            <!-- <div class="toggle-aspect-ratio">
               <div class="text-center">Elija un Tama&ntilde;o:</div>
               <div>
                  <label for="f-option" class="l-radio" data-aspect="1.77777">
                     <input type="radio" id="f-option" name="aspect-ratio" tabindex="1" >
                     <span>Horizontal (16:9)</span>
                  </label>
                  <label for="s-option" class="l-radio" data-aspect="1.33333">
                     <input type="radio" id="s-option" name="aspect-ratio" tabindex="2">
                     <span>Vertical (4:3)</span>
                  </label>
                  <label for="t-option" class="l-radio" data-aspect="1">
                     <input type="radio" id="t-option" name="aspect-ratio" tabindex="3">
                     <span>Cuadrado (1:1)</span>
                  </label>
               </div>
            </div> -->
            <div class="anadir-productos">
               <hr>
               <a href="javascript:void(0)" id="anadir-productos-btn" class="btn btn-warning">Añadir productos</a>
               <a href="javascript:void(0)" id="cropear-btn" class="btn btn-warning disabled">Terminar Ajuste</a>
               <a href="javascript:void(0)" id="terminar-productos-btn" class="btn btn-warning">Terminar Edicion</a>
               <!-- <a href="javascript:void(0)" id="limpiar-productos-btn" class="btn btn-warning">Limpiar Pines</a> -->
            </div>
         </div>

         <div id="col-foto-upload">
            <div class="row">
               <div class="col-lg-12">
                  <div class="group">      
                     <input type="text" name="publicacion_nombre" id="titulo-publicacion" required>
                     <span class="highlight"></span>
                     <span class="bar"></span>
                     <label class="label-text-subir-publicacion">Nombre del publicacion</label>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <p class="label-descr">Descripcion de la publicacion</p>
                  <textarea type="text" name="publicacion_descripcion" id="descr-publicacion" required></textarea>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-3">
                  <p class="label-descr">Categor&iacute;a de la publicacion</p>
                  <select name="publicacion_categoria" id="publicacion_categoria">
                     <option value="" selected disabled hidden required>Elija una categoria</option>
                     <option value="14">Herramientas y Construcci&oacute;n</option>
                  </select>
               </div>
            </div>
            <br><hr>
            
            <div>
               <div class="row">
                  <div class="col-lg-4">
                     <br>
                     <input type="submit" class="btn btn-warning" value="Guardar publicacion">
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>

<script>
   var jsonData = {json};
</script>
   
<script>
$(document).ready(function(){

var sizePublic = jsonData.publicaciones.length;
   if(sizePublic>0){
      for(var i=0; i<sizePublic; i++){
         var id_public = jsonData.publicaciones[i].id || 0;
         var id_public_cat = jsonData.publicaciones[i].id_publicacion_categoria || "";
         var nombre_public = jsonData.publicaciones[i].publicacion_nombre || "";
         var descr_public = jsonData.publicaciones[i].publicacion_descripcion || "";
         var imagen_id = jsonData.publicaciones[i].foto || "";
         var foto_src = '/publicaciones_img/'+imagen_id+'.png' || "";
         var tags = jsonData.publicaciones[i].pid || "";
         var producto_parse = JSON.parse(tags);
         var map = $("#map");
         var img_mapear = $("#img-pines-amapear");

         //vals de inputs
         document.querySelector("#titulo-publicacion").value = nombre_public;
         document.querySelector("#descr-publicacion").value = descr_public;

         $('#map').dropPin('dropMulti',{
            cursor: 'crosshair',
            pinclass: 'qtipinfo',
            pin: '../../plugins/dropPin-master/dropPin/dot-circle-solid.svg',
            pinDataSet: {"markers":producto_parse}
         });
      
         //mods del map
         // $("#img-subir-pins").hide();
         img_mapear.attr("src",foto_src);
         //map.css("pointer-events","all");
         
         // $("#map").css("width","700px");
         // $("#map").css("margin","auto");//para que este centrado
         // $("#map").css("z-index","999");//para que este centrado
         // $("#eliminar-img-flotante").show();
         // $("#anadir-productos-btn").show();

         //buscador de prod
         $("#buscador-titulo-input").keyup(function(){
            activarBuscador($(this));
         });

      }
      var select = document.getElementById('publicacion_categoria');
      var option;
      var cat_selected = jsonData.publicaciones[0].id_publicacion_categoria || 0;

      for (var i=0; i<select.options.length; i++) {
         option = select.options[i];

         if (option.value == cat_selected) {
            option.setAttribute('selected', true);
         } 
      }
   }else{
      alert("ERROR: no se ha encontrado la publicacion")
   }
      
});
</script>
