
   <div class="container" id="contenedor-form-subir">
      <h1>Editar Publicacion</h1>
      <hr>
      <form id="editar-publicacion-form">
         <!--  -->
         <input type="hidden" name="accion" value="editar">
         <!--  -->
         <div id="col-foto-upload">
               <p class="label-descr">Estas en modo edicion de la publicacion</p>
               <div class="row">
                  <div id="img-subir-pins" class="img-subir">
                     <div id="mensaje-flotante-imgsp">
                        <div><i style="font-size: 2em" class="fas fa-file-upload"></i></div>
                        <div>Arrastra una imagen, o haz click para subir</div>
                     </div>
                     <input type="file" name="publicacion_foto" id="imagen-pins" onchange="cargarImgPines(event)">
                  </div>
                  <div id="output-container">
                     <div id="eliminar-img-flotante">
                        <i class="fas fa-trash-alt"></i>
                     </div>
                     <!--  -->
                     <div class="popup-prod-overlay">
                        <div class="popup-prod-cont">
                           <div class="salir-popup"><a href="#">X</a></div>
                        </div>
                     </div>
                     <!--  -->
                     <div id="map">
                        
                     </div>
                     <!--  -->
                     <div class="anadir-productos">
                        <hr>
                        <a href="#" id="anadir-productos-btn" class="btn btn-warning">Editar productos</a>
                        <a href="#" id="terminar-productos-btn" class="btn btn-success">Terminar Edicion</a>
                        <a href="#" id="limpiar-productos-btn" class="btn btn-danger">Limpiar Pines</a>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="group">      
                        <input type="text" name="publicacion_nombre" id="publicacion_nombre" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="label-text-subir-publicacion">Nombre del publicacion</label>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <p class="label-descr">Descripcion de la publicacion</p>
                     <textarea type="text" name="publicacion_descripcion" id="publicacion_descripcion" required></textarea>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3">
                     <p class="label-descr">Categor&iacute;a de la publicacion</p>
                     <select name="publicacion_categoria" id="publicacion_categoria">
                        <option value="" selected disabled hidden required>Elija una categoria</option>
                     </select>
                  </div>
               </div>
               <br><hr>
               
            <div>
               <div class="row">
                  <div class="col-lg-4">
                     <br>
                     <input type="submit" class="btn btn-warning" value="Guardar publicacion">
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>

   <script>
      var jsonData = {json};
   </script>
   


   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->
   <script src="js/func.js?time=231120-1458"></script>
   <!-- script para la seleccion de fotos -->
   
   <!--  -->
      <link rel="stylesheet" href="../../plugins/dropPin-master/dropPin/dropPin.css" type="text/css" />
      <script type="text/javascript" src="../../plugins/dropPin-master/dropPin/dropPin.js?time=231120-1458"></script>
      <script>
         $(document).ready(function(){
            
            /*$("#map-show").dropPin('showPins',{
               cursor: 'pointer',
               pinclass: 'qtipinfo',
		         pin: '../../img/1248820.svg',
               pinDataSet: {"markers": 
                                 [
                                    {"id":1,"title":"map pin 1","xcoord":"420","ycoord":"120"},
                                    {"id":2,"title":"map pin 2","xcoord":"429","ycoord":"129"},
                                    {"id":2,"title":"map pin 3","xcoord":"329","ycoord":"329"}
                                 ]
                           }
            });*/
            

            //CATEGORIA
            var catPublicSize = jsonData.categoria.length;
            console.log(catPublicSize);

            if(catPublicSize>0){
               for(var i=0; i<catPublicSize; i++){

                  var nombre_categoria_public = jsonData.categoria[i].nombre;
                  var id_categoria_public = jsonData.categoria[i].id;
                  
                  var cat_html = '<option value="'+id_categoria_public+'">'+nombre_categoria_public+'</option>'

                  $("#publicacion_categoria").append(cat_html);

               }
            }

            /*A EDITAR*/
            var sizePublic = jsonData.publicaciones.length;
               if(sizePublic>0){
                  for(var i=0; i<sizePublic; i++){
                     var id_public = jsonData.publicaciones[i].id;
                     var id_public_cat = jsonData.publicaciones[i].id_publicacion_categoria;
                     var nombre_public = jsonData.publicaciones[i].publicacion_nombre;
                     var descr_public = jsonData.publicaciones[i].publicacion_descripcion;
                     var imagen_id = jsonData.publicaciones[i].foto;
                     var foto_src = '/publicaciones_img/'+imagen_id;

                        $("#publicacion_nombre").val(nombre_public);
                        $("#publicacion_descripcion").val(descr_public);
                        $("#publicacion_categoria").val(nombre_public);

                        //para que ya apareza la foto en map
                        //$(".imagen-public-"+imagen_id).attr("src", foto_src);
                        
                           $("#img-subir-pins").hide();
                           $("#map").css("background-image","url('.."+foto_src+"')");
                           $("#map").css("width","100%");
                           $("#map").css("height","300px");
                           $("#eliminar-img-flotante").show();
                           $("#anadir-productos-btn").show();

                  }
               }else{
                  alert("ERROR: no se ha encontrado la publicacion")
               }
         });
      </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
</body></html>
