<div class="overlay-loading"></div>

   <div class="container" id="contenedor-form-subir">
      <br><br>
      <h1>Editar Producto</h1>
      <hr>
      <form id="producto-form">
         <input type="hidden" name="accion" value="editar" autocomplete="on">
	      <input type="hidden" name="id" value="{id}" autocomplete="on">
         
         <div id="col-foto-upload">
               <p class="label-descr">Seleccione al menos una foto para el producto. <span class="info" style="font-size: 0.6em;"><i class="fas fa-question-circle"></i></span></p>
               <div class="row">
                  <div id="contenedor-subir-foto" class="img-subir">
                     <div id="uploads"></div>
                  </div>
               </div>

               <!-- principales -->
               <div class="campos-subir-prod">      
                  <input type="text" name="titulo" id="titulo-producto" placeholder="Nombre del producto" required>
                  <!-- <label class="label-text-subir-producto">Nombre del producto</label> -->
               </div>
               <div class="campos-subir-prod">      
                  <input type="number" name="precio" id="precio-producto" placeholder="Precio" required>
                  <!-- <label class="label-text-subir-producto">Precio</label> -->
               </div>
               <div class="campos-subir-prod"> 
                  <!-- <p class="label-descr">Descripcion del producto</p> -->
                  <textarea type="text" name="descr_producto" id="descr-producto" placeholder="Ingrese una descripcion del producuto" required></textarea>
               </div>
               <!-- /principales -->

               <hr>

               <!-- secundarios -->
               <div class="row">
                  <div class="col-lg-6">
                     <div class="campos-subir-prod">      
                        <input type="text" name="marca" id="marca-producto" required placeholder="Marca">
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="campos-subir-prod">      
                        <input type="number" name="stock" id="stock-producto" required  placeholder="Stock">
                     </div>
                  </div>
               </div>
               <div class="row" style="margin-top: 20px;">
                  <div id="sels_cat_prod">
                     <select class="showCat" name="categoria" id="categoria-producto" onchange="getSubCat(this.value,'#categoria-producto','#categoria-producto2')">
                        <option value="" selected disabled hidden required>Elija una categor&iacute;a</option>
                     </select>
                     <br>   
                     <select style="display: none;" name="subcategoria1" id="categoria-producto2" onchange="getSubCat(this.value,'#categoria-producto2','#categoria-producto3')">
                        <!-- <option value="" selected disabled hidden required>Elija una subcategor&iacute;a</option> -->
                     </select>
                     <br>   
                     <select style="display: none;" name="subcategoria2" id="categoria-producto3" onchange="getSubCat(this.value,'#categoria-producto3','#categoria-producto4')">
                        <!-- <option value="" selected disabled hidden required>Elija otra subcategor&iacute;a</option> -->
                     </select>
                     <br>   
                     <select style="display: none;" name="subcategoria3" id="categoria-producto4" onchange="getSubCat(this.value,'#categoria-producto4','#categoria-producto5')">
                        <!-- <option value="" selected disabled hidden required>Elija otra subcategor&iacute;a</option> -->
                     </select>
                  </div>
               </div>
               <div class="campos-subir-prod"> 
                  <select name="color" id="color">
                     <option value="" selected disabled hidden required>Elija un color</option>
                     <option value="color-negro">Negro</option>
                     <option value="color-azul">Azul</option>
                     <option value="color-rojo">Rojo</option>
                     <option value="color-verde">Verde</option>
                     <option value="color-amarillo">Amarillo</option>
                  </select>
               </div>
               <div class="campos-subir-prod"> 
                  <select name="envio" id="envio-producto">
                     <option value="" selected disabled hidden required>Env&iacute;o</option>
                     <option value="1">Si</option>
                     <option value="0">No</option>
                  </select>
               </div>
               <div class="campos-subir-prod">
                  <select name="garantia" id="garantia-producto">
                     <option value="" selected disabled hidden required>Garant&iacute;a</option>
                     <option value="1">Si</option>
                     <option value="0">No</option>
                  </select>
               </div>
               <!--  -->
               <input type="hidden" name="rubro" value="1">

            <!-- /secundarios -->

            <div>
               <div class="row">
                  <div class="col-lg-4 mt-5">
                     <input type="submit" class="btn btn-warning" value="Guardar Producto">
                  </div>
               </div>
            </div>
         </div>

      </form>
   </div>

   <script>
      var jsonData = {json};
      
   </script>
   

   <script>
      $(document).ready(function(){
         
         //esta aca porque en producto.js se me mandaba dos veces
         $('#producto-form').submit(function (e) {
            e.preventDefault();
            e.stopPropagation();
            
            let formData = new FormData($(this)[0]);
            let el_foto_hidden = document.querySelectorAll(".base_input");
            
            el_foto_hidden.forEach((el) => {
               if(el.value==""){
                     console.log("foreach-->"+el.name+el.value)
                     formData.delete(el.name)
               }else{
                     console.log("else-->"+el.name+el.value)
               }
            })
               
            $.ajax({
               url: '/app/producto.php',
               data: formData,
               type: 'POST',
               processData: false,
               contentType: false,
               dataType: "json",
               async: false,
               success: function( data, textStatus, jQxhr ){
                     if (data.status == 'ERROR'){
                        alertify.error(data.mensaje);														
                     }else if(data.status == 'OK' || data.status == 'ok'){
                        alertify.success("Producto editado con exito!")
                        window.location.replace("/ampliar-producto.html");
                     }else{
                        var msj = "En este momento no podemos atender su petici\u00f3n, por favor espere unos minutos y vuelva a intentarlo.";
                        alertify.error(msj)
                     }
               },
               error: function( jqXhr, textStatus, errorThrown ){
                  var msj = "En este momento no podemos atender su petici\u00f3n, por favor espere unos minutos y vuelva a intentarlo.";
                  alertify.error(msj)
               }
            });
            return false;
         });

         uploadHBR.init({
            "target": "#uploads",
            "textNew": "A&ntilde;adir",
            "textTitle": "Haga click o draguee su imagen",
            "textTitleRemove": "Haga click para remover imagen"
         });
         $('#reset').click(function () {
            uploadHBR.reset('#uploads');
         });
         
         var sizeProductos = jsonData.productos.length || 0;
         var subcats_length = jsonData.productos[0] || [];
         
         //dibujo select de cats
         //primero prreguntar si existedibujarle valor por valoir a cada select
         for(var i=0; i<subcats_length; i++) {
            var cat_id = subcats[i].id;
            var cat_nombre = subcats[i].nombre;
            var targetHtml = $(target);
            
            var cat_select_html = 
            '<option value="'+cat_id+'">'+cat_nombre+'</option>';
            
            targetHtml.append(cat_select_html)
            targetHtml.addClass("showCat");
         }
         
         for(var i=0; i<sizeProductos; i++){
            
            var id_prod = jsonData.productos[i].id || 0;
            var nombre_prod = jsonData.productos[i].titulo || "";
            var marca_prod = jsonData.productos[i].marca || "";
            var precio_prod = jsonData.productos[i].precio || 0;
            var envio_prod = jsonData.productos[i].envio || "";
            var garantia_prod = jsonData.productos[i].garantia || "";
            var descr_prod = jsonData.productos[i].descr_producto || "";
            var foto_prod_editar = jsonData.productos[i].foto || "";
            var color_prod = jsonData.productos[i].color || "";
            var nombre_cat = jsonData.categoria[i].nombre || "";
            var stock_prod = jsonData.productos[i].stock || 0;
            var subcat1 = jsonData.productos[i].subcategoria1 || "";
            var subcat2 = jsonData.productos[i].subcategoria2 || "";
            var subcat3 = jsonData.productos[i].subcategoria3 || "";
            var cat_main = jsonData.productos[i].categoria || "";
            var id_cat = jsonData.categoria[i].id || 0;
            var fotosArray = foto_prod_editar.split(",") || [];
            var base = $("#base64_"+i);
            var cats = jsonData.categoria.length;
            
            $("#titulo-producto").val(nombre_prod);
            $("#precio-producto").val(precio_prod);
            $("#stock-producto").val(stock_prod);
            $("#color").val(color_prod);
            $("#descr-producto").val(descr_prod);
            $("#marca-producto").val(marca_prod);
            $("#envio-producto").val(envio_prod);
            $("#garantia-producto").val(garantia_prod);
            
            //dibujo las cats principales
            for(var i=0; i<cats; i++) {
               var cat_id = jsonData.categoria[i].id;
               var cat_nombre = jsonData.categoria[i].nombre;
               var cat_select_html = 
               '<option value="'+cat_id+'">'+cat_nombre+'</option>';
               
               $("#categoria-producto").append(cat_select_html)
            }

            $("#categoria-producto [value='"+cat_main+"']").attr("selected", true);
            //inicializo las categorias asi se van trayendo en cadena
            getSubEditar(cat_main,subcat1,subcat2,subcat3)
            
            for(var i=0; i<fotosArray.length; i++){
               
               var foto_src = '/productos_img/'+fotosArray[i]+'.png' || 0;
               var img = $("#prev_"+i).find(".img-responsive");
               
               img.attr("onerror","this.src=\'/imagen_perfil/generica_prod.jpg\'");
               //img.attr("onload","$(this).parent().parent().find('.new').addClass('hidden')");
               img.attr("src",foto_src);
               img.parent().removeClass("hidden");
               
               
               //paso imagenes existentes a base64
               toDataURL(
                  foto_src,
                  function(dataUrl) {
                     console.log(base)
                     base.val(dataUrl);
                  }
               )
                  
            }
            
         }
         

   });


   function getSubEditar(subcatParam_1,subcatParam_2,subcatParam_3,subcatParam_4){
      var param1 = $("#categoria-producto [value='"+subcatParam_1+"']")
      var param2 = $("#categoria-producto2 [value='"+subcatParam_2+"']")
      var param3 = $("#categoria-producto3 [value='"+subcatParam_3+"']")
      var param4 = $("#categoria-producto4 [value='"+subcatParam_4+"']")
      
      //primero dibijo la primera que si o si viene, y despues pregunto si vienen otras
      getSubCat(subcatParam_1,'#categoria-producto','#categoria-producto2')
      param1.attr("selected", true);

      if(subcatParam_2){
         getSubCat(subcatParam_2,'#categoria-producto2','#categoria-producto3')
         param2.attr("selected", true);
         if(subcatParam_3){
            getSubCat(subcatParam_3,'#categoria-producto3','#categoria-producto4')
            param3.attr("selected", true);
            if(subcatParam_4){
               getSubCat(subcatParam_4,'#categoria-producto4','#categoria-producto5')
               param4.attr("selected", true);
            }
         }
      }
   }
   </script>