
   <div class="container" id="contenedor-form-subir">
      <h1>Editar Publicacion</h1>
      <hr>
      <form id="editar-publicacion-form">
         <input type="hidden" name="accion" value="alta">
         <div id="col-foto-upload">
               <p class="label-descr">Seleccione al menos una foto para el publicacion.</p>
               <div class="row">
                  <div id="output-container">
                     <div id="eliminar-img-flotante">
                        <i class="fas fa-trash-alt"></i>
                     </div>
                     <!--  -->
                     <div class="popup-prod-overlay">
                        <div class="popup-prod-cont">
                           <div class="salir-popup"><a href="#">X</a></div>
                        </div>
                     </div>
                     <!--  -->
                     <div id="map-show">
                        
                     </div>
                     <!--  -->
                     <div class="anadir-productos">
                        <hr>
                        <a href="#" id="anadir-productos-btn" class="btn btn-warning">Editar productos</a>
                        <a href="#" id="terminar-productos-btn" class="btn btn-success">Terminar Edicion</a>
                        <a href="#" id="limpiar-productos-btn" class="btn btn-danger">Limpiar Pines</a>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="group">      
                        <input type="text" name="titulo-publicacion" id="titulo-publicacion" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="label-text-subir-publicacion">Nombre del publicacion</label>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <p class="label-descr">Descripcion de la publicacion</p>
                     <textarea type="text" name="descr_publicacion" id="descr-publicacion" required></textarea>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3">
                     <select name="color" id="color">
                        <option value="" selected disabled hidden required>Elija una categoria</option>
                        <option value="color-negro">-</option>
                     </select>
                  </div>
               </div>
               <br><hr>
               
            <div>
               <div class="row">
                  <div class="col-lg-4">
                     <br>
                     <input type="submit" class="btn btn-warning" value="Guardar publicacion">
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>

   <script>
      var jsonData = {json};
   </script>
   


   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->
   <script src="js/func.js?time=231120-1458"></script>
   <!-- script para la seleccion de fotos -->
   
   <!--  -->
      <link rel="stylesheet" href="../../plugins/dropPin-master/dropPin/dropPin.css" type="text/css" />
      <script type="text/javascript" src="../../plugins/dropPin-master/dropPin/dropPin.js?time=231120-1458"></script>
      <script>
         $(document).ready(function(){

            $("#map-show").dropPin('showPins',{
               cursor: 'pointer',
               pinclass: 'qtipinfo',
		         pin: '../../img/1248820.svg',
               pinDataSet: {"markers": 
                                 [
                                    {"id":1,"title":"map pin 1","xcoord":"420","ycoord":"120"},
                                    {"id":2,"title":"map pin 2","xcoord":"429","ycoord":"129"},
                                    {"id":2,"title":"map pin 3","xcoord":"329","ycoord":"329"}
                                 ]
                           }
            });
            /*
            var sizeProd = jsonData.productos.length;

				if(sizeProd>0){
					for(var i=0; i<sizeProd; i++){
						var id_prod = jsonData.productos[i].id;
						var nombre_prod = jsonData.productos[i].titulo;
						var html ='<div class="popup-producto popup-producto-'+i+'">'+
                              '<span class="nombre-producto '+id_prod+' nombre-producto-'+i+'">'+nombre_prod+'</span>'+
                           '</div>';
						$(".popup-prod-cont").append(html);
					}
				}*/
         });
      </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
</body></html>
