{menu-perfil}

<div class="container show-result">Mostrando 5 resultados.
   <!-- <span class="show-result-num"></span> resultados. -->
</div>


<div class="grid" style="margin-top: 20px;">
   <div class="grid-sizer"></div>
</div>

<br><br>
<!-- -->

<script>
   var jsonData = {json};
</script>

<script>
   document.addEventListener("DOMContentLoaded", function(){

      /////////paginador/////////////
      const dataPaging = {
         cantidad : 5,
         url: "paginador_favorito.php"
      }
      getDataPaging(dataPaging);
      intObserver(dataPaging);
      ///////////////////////////////

   });
</script>

