
<div id="info-user" class="container">
   <div id="titulo-perfil">
      <div id="titulo-perfil-img">
         <img src="{foto-perfil}" alt="foto perfil">
      </div>
      <div id="titulo-perfil-datos">
         <span id="name_usuario">{nombre}</span>
         <div class="fyf">
            <div class="follower_container">
               <span id="follower_count" class="follower_count">0</span>
               <span class="follower_label">Seguidores</span>
            </div>
            <div class="follower_container" style="margin-left: 15px;">
               <span id="following_count" class="follower_count">0</span>
               <span class="follower_label">Seguidos</span>
            </div>
            <span class="edit_perfil"><a href="/editar-usuario.html" class="ml-1 btn btn-warning btn-sm">Editar Perfil</a></span>
         </div>
      </div>
   </div>
   <div id="menu-perfil">
      {menuperfil}
   </div>
</div>

<div class="container show-result">Mostrando 5 resultados.
   <!-- <span class="show-result-num"></span> resultados. -->
</div>


<div class="grid" style="margin-top: 20px;">
   <div class="grid-sizer"></div>
</div>

<br><br>
<!-- -->

<script>
   var jsonData = {json};
  //
</script>



   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->
   <script src="js/func.js?time=031120-1749"></script>
   <script>
      $(document).ready(function(){
         var sizePublic = jsonData.publicaciones.length;

         if(sizePublic>0){
            for(var i=0; i<sizePublic; i++){
               var id_public = jsonData.publicaciones[i].id;
               var id_public_cat = jsonData.publicaciones[i].id_publicacion_categoria;
               var nombre_public = jsonData.publicaciones[i].publicacion_nombre;
               var descr_public = jsonData.publicaciones[i].publicacion_descripcion;
               var imagen_id = jsonData.publicaciones[i].foto;
               var full_url = '/ampliar-publicacion.html?id='+id_public+'&accion=ampliar';
               var foto_src = '/publicaciones_img/'+imagen_id+'.png' || 0;  
               let grid = document.querySelector(".grid");      
      
               var html_public =
               `<div class="grid-item">
                    <div class="content-col-div content-col-div-${id_public} cat-${id_public_cat}">
                        <div class="overlay-public">
                            <a class="link-ampliar-home" href="${full_url}"></a>
                            <div class="public-title-home">${nombre_public}</div>
                            <div class="text-overlay">
                                <span class="text-overlay-link eliminar-public" data-title="${id_public}"><a href="/app/publicacion.php?id=${id_public}&accion=eliminar"><i title="Eliminar Publicaci&oacute;n" class="fas fa-trash-alt"></i></a></span>
                            </div>
                        </div>
                        <img src="${foto_src}" alt="img-${imagen_id}">
                    </div>
                </div>`;
                                 
               grid.insertAdjacentHTML("beforeend",html_public)

            }
         }else{
            var html_sin_public = '<p style="color:gray; font-style: italic; text-align: center">No hay Publicaciones faveadas.</p>';
            $(".contenedor-mis-public").append(html_sin_public);
         }
/*
         $(".eliminar-public").on("click", function() {  
            console.log("enttro")
            //href="/app/publicacion.php?id='+id_public+'&accion=eliminar"
            var $this = $(this);
            var id_public = $this.data('title');

            $.post('/app/publicacion.php', {id: id_public, accion: "eliminar"})
               .done(function(data) {
                     var jsonp = JSON.parse(data)
                     if (jsonp.status == 'ERROR'){
                        alert(data);														
                     }else if(jsonp.status == 'OK' || jsonp.status == 'ok'){
                        window.location.replace("/mis-publicaciones.html");
                     }else if(jsonp.status == 'REDIRECT'){
                        window.location.replace(jsonp.mensaje);
                     }else{
                        $("#mensaje-sin-login").css("display","block");
                        $("#mensaje-sin-login").html(jsonp.mensaje);
                        //alert (data.mensaje);
                     }
               })
               .fail(function() {
                     var msj = "En este momento no podemos atender su petici\u00f3n, por favor espere unos minutos y vuelva a intentarlo.";
                     alert(msj)
               }); 

            return false;

         });*/
      });
   </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

</body></html>
