{menu-perfil}

<div class="container show-result"></div>

<div class="grid" style="margin-top: 20px;">
   <div class="grid-sizer"></div>
</div>

<br><br>
<!-- -->

<script>
   var jsonData = {json};
</script>

<script>
   document.addEventListener("DOMContentLoaded", function(){

      /////////paginador/////////////
      const dataPaging = {
         cantidad : 5,
         url: "paginador_favorito.php"
      }
      getDataPaging(dataPaging);
      intObserver(dataPaging);
      ///////////////////////////////

   });
</script>

