
<!-- PLUGINS -->
<script src="/js/uploadHBR.min.js"></script>
<script src="../../plugins/alertify/alertify.js"></script>
<script src="../../plugins/cropperjs-master/dist/cropper.js"></script>
<script src="../../plugins/dropPin-master/dropPin/dropPin.js?time={randomtime}"></script>

<script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
<script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=616783374564d200122a7e21&product=inline-share-buttons" async="async"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


<!-- JS -->
<script src="js/func.js?time={randomtime}"></script>
<script src="js/publicacion.js?time={randomtime}"></script>
<script src="js/producto.js?time={randomtime}"></script>

<!-- HOME -->
<script>
     new Splide( '.splide_tarjeta', {
        perPage: 3,
        perMove: 1,
        rewind : true,
        type   : 'loop',
        //padding: '20rem',
        focus  : 'center',
        width: '90%',
        gap: '2em',
        pagination: true,
        breakpoints: {
              1400: {
                perPage: 2,
                gap: '1em'
              },
              920: {
                perPage: 1,
                gap: '0',
              },
       }
     } ).mount();

     new Splide( '.splide_maybe_follow', {
        perPage: 3,
        perMove: 1,
        rewind : true,
        pagination: false,
        padding: '3em',
        width: '100%',
        breakpoints: {
             1400: {
                perPage: 2,
                gap: '1em'
             },
             1100: {
                perPage: 1,
                gap: '0'
             },
             950: {
                padding: '4em'
             }
       }
     } ).mount();
    /* $(document).ready(function(){
         $("#modal-upload-amal").modal('show');
     });*/
 </script>

<!--  -->
</body>
</html>