<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<link rel="stylesheet" href="../../plugins/tagify-master/dist/tagify.css">

<!--  -->
<form id="subir-publicacion-form">

<div class="modal fade left" id="modal-cropper" tabindex="-1" role="dialog" aria-labelledby="modalLabelcropper" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header modal-header-public">
            <div></div>
            <div class="text-center"><b>Nueva Publicaci&oacute;n</b></div>
            <div class="cerrarModal text-right" data-dismiss="modal" class="text-right"><i id="cerrar-desde-cropper" class="fas fa-times"></i></div>
         </div>
         <div class="modal-body">
            <div id="output-container">
               <!-- <div id="eliminar-img-flotante">
                  <i class="fas fa-trash-alt"></i>
               </div> -->
               <!--  -->
               <div class="popup-prod-overlay">
                  <div id="popup-prod-cont">
                     <div id="salir-popup" class="test-pop"><a href="#"><i class="fas fa-times"></i></a></div>
                     <!-- <h6>Elija un producto:</h6> -->
                     <div class="filtros">
                           <span>
                              <input id="buscador-titulo-input" class="busq-prod-subir-public" type="text" name="prod_search_seller" placeholder="Busque el producto en la lista">
                              <i class="fas fa-times-circle limpiar-buscador" style="display: none;"></i>
                           </span>
                           <br>
                           <!-- <a id="buscador-titulo" class="btn"><i class="fas fa-search"></i></a> -->
                     </div>
                     <div class="popup-producto">
                        <div class="splide splide__prod_public">
                           <div class="splide__track">
                              <ul class="splide__list"></ul>
                           </div>
                        </div>
                     </div>
                     <!-- <div class="popup-prod-cont-galeria"></div> -->
                     <!-- <select class="lista-prod"></select> -->
                  </div>
               </div>
               <div class="contenedor-content">
                  <div class="click-protector-cont"></div>
                  <!-- <div id="map">
                     <img id="img-pines-amapear" src="">
                  </div> -->
               </div>
               <!--  -->
               <div class="toggle-aspect-ratio">
                  <!-- <span class="btn btn-warning" data-value="NaN">Original</span> -->
                  <div class="text-center">Elija un Tama&ntilde;o:</div>
                  <div>
                     <label for="f-option" class="l-radio" data-aspect="1.77777">
                        <input type="radio" id="f-option" name="aspect-ratio" tabindex="1" >
                        <span>Horizontal (16:9)<!--<i class="fas fa-mobile-alt"></i>--></span>
                     </label>
                     <label for="s-option" class="l-radio" data-aspect="1.33333">
                        <input type="radio" id="s-option" name="aspect-ratio" tabindex="2">
                        <span>Vertical (4:3)<!--<i class="fas fa-mobile-alt" style="transform: rotate(90deg);"></i>--></span>
                     </label>
                     <label for="t-option" class="l-radio" data-aspect="1">
                        <input type="radio" id="t-option" name="aspect-ratio" tabindex="3">
                        <span>Cuadrado (1:1)<!--<i class="far fa-square"></i>--></span>
                     </label>
                   </div>
              </div>
               <div class="anadir-productos">
                  <hr>
                  <a href="#" id="anadir-productos-btn" class="btn btn-warning">Añadir productos</a>
                  <a href="#" id="cropear-btn" class="btn btn-warning disabled">Terminar Ajuste</a>
                  <a href="#" id="terminar-productos-btn" class="btn btn-warning">Terminar Edicion</a>
                  <!-- <a href="#" id="limpiar-productos-btn" class="btn btn-warning">Limpiar Pines</a> -->
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <div id="result"></div>
            <button id="btn-siguiente" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-data">Siguiente</button>
            <div class="tooltip-nico">Debe añadir por lo menos un pin!</div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modal-data" tabindex="-1" role="dialog" aria-labelledby="modalLabelcropper" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header modal-header-public">
            <div class="text-left" data-toggle="modal" data-target="#modal-cropper" onclick="$('#modal-cropper').modal('hide');"><i class="fas fa-chevron-circle-left"></i></div>
            <div class="text-center"><b>Nueva Publicaci&oacute;n</b></div>
            <div class="cerrarModal text-right" data-dismiss="modal"><i id="cerrar-desde-data" class="fas fa-times"></i></div>
         </div>
         <div class="modal-body text-left">
               <input type="hidden" name="accion" value="alta">
               <div id="col-foto-upload">
                     <!-- <p class="label-descr">Seleccione al menos una foto para el publicacion.</p> -->
                     <div class="row">
                       
                        <div class="col-lg-12">
                           <div class="group">      
                              <input type="text" name="publicacion_nombre" id="titulo-publicacion" required>
                              <span class="highlight"></span>
                              <span class="bar"></span>
                              <label class="label-text-subir-publicacion">Nombre del publicaci&oacute;n</label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <p class="label-descr">Descripcion de la publicaci&oacute;n</p>
                           <textarea type="text" name="publicacion_descripcion" id="descr-publicacion" required></textarea>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <br>
                           <p class="label-descr">Escenario de la publicaci&oacute;n</p>
                           <select name="publicacion_categoria" id="publicacion_categoria" onchange="appearSelect()">
                              <option value="" selected disabled hidden required>Elija una categoria de escenario</option>
                              <option value="14">Arquitectura</option>
                              <option value="Outdoor">Outdoor</option>
                           </select>
                           <br>
                           <div id="escena-param-container" class="group"></div>
                        </div>
                     </div>
                     <br><hr>
                     
                  <div>
                     <div class="row">
                        <div class="col-lg-4">
                           <br>
                           <input type="submit" class="btn btn-warning" value="Guardar publicacion">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <div id="result"></div>
            </div>
         </div>
      </div>
</div>

<input id="aspect-ratio-input" name="aspect_ratio" type="hidden">
</form>
<!--  -->

<div class="overlay-prod"></div>

   <div class="container" id="contenedor-form-subir">
      <h1 class="text-center">Subir Publicaci&oacute;n</h1>
      <hr>
      <!-- <form id="subir-publicacion-form2"> -->
         <input type="hidden" name="accion" value="alta">
         <div id="col-foto-upload">
               <!-- <p class="label-descr">Seleccione al menos una foto para el publicacion.</p> -->
               <div class="row">
                  <div id="img-subir-pins" class="img-subir">
                     <div id="mensaje-flotante-imgsp">
                        <div><i style="font-size: 2em" class="fas fa-file-upload"></i></div>
                        <div><span class="hide-mobile">Arrastra una imagen, o </span>Haz click para subir</div>
                     </div>
                     <input type="file" name="publicacion_foto" id="imagen-pins" accept="image/x-png, image/gif, image/jpeg" onchange="cargarImgPines(event)" data-target="#modal-cropper" data-toggle="modal-cropper">
                  </div>
                  
               </div>

         </div>
      <!-- </form> -->
   </div>


   <script>
      var jsonData = {json}
      var jsonTestSelect = {
         "escenas":[
            {
               "id":"1",
               "nombre":"Arquitectura",
               "param":"Estilo,Color,Tamaño"
            },
            {
               "id":"2",
               "nombre":"Outdoor",
               "param":"Estilo,Color"
            }
         ]
      }
   </script>
   

   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <script src="js/func.js?time=020821-0122"></script>
   <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
   <!--  -->
   <link rel="stylesheet" href="../../plugins/dropPin-master/dropPin/dropPin.css" type="text/css" />
   
   <script type="text/javascript" src="../../plugins/dropPin-master/dropPin/dropPin.js?time=020821-0122"></script>
   <script src="../../plugins/cropperjs-master/dist/cropper.js"></script>
<script src="../../plugins/tagify-master/dist/tagify.min.js"></script>
   <script>
      $(document).ready(function(){
         
         

         var catPublicSize = jsonData.categoria.length;
         //console.log(catPublicSize);

         if(catPublicSize>0){
            for(var i=0; i<catPublicSize; i++){

               var nombre_categoria_public = jsonData.categoria[i].nombre;
               var id_categoria_public = jsonData.categoria[i].id;
               
               var cat_html = '<option value="'+id_categoria_public+'">'+nombre_categoria_public+'</option>'

               $("#publicacion_categoria").append(cat_html);

            }
         }
      
         $("#buscador-titulo-input").keyup(function(){
            activarBuscador($(this));
         });

         
         /**cierre del modal de tagueo*/
         $("#modal-cropper").on('show.bs.modal', function (e) {
            $("#modal-data").modal("hide");
         });
         /**/
         $("#modal-data").on('show.bs.modal', function (e) {
            $("#modal-cropper").modal("hide");
         });
         


   });
   </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
</body></html>
