
   <div class="modal fade show" id="modal-pin" tabindex="-1" role="dialog" aria-labelledby="" aria-modal="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
				<div class="modal-body">
               <h1>test</h1>
				</div>
			</div>
		</div>
	</div>
   
<div class="overlay-prod"></div>

   <div class="container" id="contenedor-form-subir">
      <h1>Subir Publicacion</h1>
      <hr>
      <form id="publicacion-form">
         <input type="hidden" name="accion" value="alta">
         <div id="col-foto-upload">
               <!-- <p class="label-descr">Seleccione al menos una foto para el publicacion.</p> -->
               <div class="row">
                  <div id="img-subir-pins" class="img-subir">
                     <div id="mensaje-flotante-imgsp">
                        <div><i style="font-size: 2em" class="fas fa-file-upload"></i></div>
                        <div>Arrastra una imagen, o haz click para subir</div>
                     </div>
                     <input type="file" name="imagen-pins" id="imagen-pins" onchange="cargarImgPines(event)">
                  </div>
                  <div id="output-container">
                     <!--  -->
                     <div id="map"></div>
                     <!--  -->
                     <div id="eliminar-img-flotante">
                        <i class="fas fa-trash-alt"></i>
                     </div>
                     <div class="anadir-productos">
                        <hr>
                        <a href="#" id="anadir-productos-btn" class="btn btn-warning">Añadir productos</a>
                        <div class="overlay">
                           <div class="lightBox">
                              <div class="anadir-prod-img-container">
                                 <p>Seleccione una seccion de la imagen para añadir un pin</p>
                                 <hr>
                                 <div id="map"></div>
                                 <hr>
                                 <a href="" class="btn btn-warning">Limpiar Pines</a>
                                 <a href="" class="btn btn-success">Guardar Pines</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="group">      
                        <input type="text" name="titulo-publicacion" id="titulo-publicacion" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="label-text-subir-publicacion">Nombre del publicacion</label>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <p class="label-descr">Descripcion de la publicacion</p>
                     <textarea type="text" name="descr_publicacion" id="descr-publicacion" required></textarea>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3">
                     <select name="color" id="color">
                        <option value="" selected disabled hidden required>Elija una categoria</option>
                        <option value="color-negro">-</option>
                     </select>
                  </div>
               </div>
               <br><hr>
               
            <div>
               <div class="row">
                  <div class="col-lg-4">
                     <br>
                     <input type="submit" class="btn btn-warning" value="Guardar publicacion">
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
   



   <script>
      // var jsonData = {json};
   </script>
   


<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->
   <script src="js/func.js?time=011120-0119"></script>
   <!-- script para la seleccion de fotos -->
   
   <!--  -->
      <link rel="stylesheet" href="../../plugins/dropPin-master/dropPin/dropPin.css" type="text/css" />
      <script type="text/javascript" src="../../plugins/dropPin-master/dropPin/dropPin.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
</body></html>
