<html><head>
    <title>Taggeon - </title>

    <link rel="stylesheet" href="css/styles.css?time=271120-1147">
    <!-- <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link href="fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="../../plugins/cropperjs-master/dist/cropper.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery-3.5.1.js"></script>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="../favicon/img/apple-icon-57x57.png">
   <link rel="apple-touch-icon" sizes="60x60" href="../favicon/img/apple-icon-60x60.png">
   <link rel="apple-touch-icon" sizes="72x72" href="../favicon/img/apple-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="76x76" href="../favicon/img/apple-icon-76x76.png">
   <link rel="apple-touch-icon" sizes="114x114" href="../favicon/img/apple-icon-114x114.png">
   <link rel="apple-touch-icon" sizes="120x120" href="../favicon/img/apple-icon-120x120.png">
   <link rel="apple-touch-icon" sizes="144x144" href="../favicon/img/apple-icon-144x144.png">
   <link rel="apple-touch-icon" sizes="152x152" href="../favicon/img/apple-icon-152x152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="../favicon/img/apple-icon-180x180.png">
   <link rel="icon" type="image/png" sizes="192x192"  href="../favicon/img/android-icon-192x192.png">
   <link rel="icon" type="image/png" sizes="32x32" href="../favicon/img/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="96x96" href="../favicon/img/favicon-96x96.png">
   <link rel="icon" type="image/png" sizes="16x16" href="../favicon/img/favicon-16x16.png">
   <link rel="manifest" href="../favicon/img/manifest.json">
   <meta name="msapplication-TileColor" content="#ffffff">
   <meta name="msapplication-TileImage" content="../img/ms-icon-144x144.png">
   <meta name="theme-color" content="#ffffff">
   <script>
      $(document).ready(function(){
         //jsonData.
         var url_mp = "{url-mp}";
         

         if(jsonData != "undefined"){
            if(jsonData.tokenMercadoPago == 0){
               var html_test = 
               '<div class="msj_sync_mp"><i class="fas fa-exclamation-circle"></i>&nbsp;Esta cuenta no esta sincronizada para recibir pagos. '+
                  '<a href="'+url_mp+'">Edítalo aqu&iacute;</a>'+
               '</div>';
                  
                  $(".close-mp").bind('click',function(e){
                     console.log("test")
                     e.stopPropagation();
                     e.preventDefault();
                     $(".token_mp").hide(300);
                  });
                  
               $(".token_mp").html(html_test);

            }else{
               $(".token_mp").hide();
            }
         }

      });
   </script>
   
<script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
<script src="https://sdk.mercadopago.com/js/v2"></script>

</head>
<body>
<!--
   <div id="flotante-subir">
      <span><a href="/formu-subir-public.html"><i class="fas fa-plus"></i></a></span>
   </div>
-->

         <!-- <hr><br>
          <h3>Gestionar Notificaciones</h3>
          <br>
          <div class="row">
            <div class="col-lg-8">
                <span>Crea tu token de Mercado Pago &reg; para poder recibir y enviar pagos</span>
             </div>
             <div class="col-lg-4">
                <div class="botonera-editar">
                   <span><a href="https://mpago.la/24riMq1">Crear Token</a></span>
                </div>
             </div>
          </div> -->


          

    <nav id="navbar-principal" class="navbar navbar-expand-md fixed-top">
      <div id="brand-container" class="navbar-brand-container">
         <a class="navbar-brand" href="/">
            <!-- <i class="fab fa-affiliatetheme logo-brand"></i> -->
            <!-- <img src="../img/logo-ro.png" class="logo-brand"> -->
            <span class="nombre-brand"> Taggeon</span>
         </a>
      </div>
      <!--BUSCADOR-->
      <div id="search-container" class="search-container autocomplete">
         <input id="buscador-index-input" autocomplete="off"  class="form-control search" type="text" placeholder="Busca lo que se te ocurra" aria-label="Buscar">
         <!-- <input id="myInput" id="buscador-index-input" autocomplete="off"  class="form-control search" type="text" placeholder="Busca lo que se te ocurra" aria-label="Buscar"> -->
         <i class="fas fa-search fa-search-header"></i>
      </div>
      <div id="cancelar-search" onclick="cancelSearchMobile()">Cancelar</div>
      <!---->
      <div id="items-navbar-container">
         <!-- BUSCADOR RESPONSIVE -->
         <div id="search-responsive" class="btn-header" onclick="showSearchMobile()">
            <a href="#"><i class="fas fa-search"></i></a>
         </div>
         <!-- SUBIR PUBLIC -->
         <div class="btn-header">
               <a href="/formu-subir-public.html"><i class="fas fa-plus"></i></a>
         </div>
         <!-- CARRITO -->
         <div class="btn-header">
               <a href="/ampliar-carrito.html"><i class="fas fa-shopping-cart"></i></a>
         </div>
         <!-- NOTIFS -->
         <div class="btn-header">
            <div class="count-notif">1</div>
            <div class="notifs-button">
                  <a href="#"><i class="fas fa-bell"></i></a>
            </div>
            <div class="notifs-button-ampliar">
               <div class="notifs-header">Notificaciones</div><hr>
            </div>
         </div>
         <!-- USER MENU -->
         <div id="dropdown-user-menu-cont" class="btn-header">
            <div id="drop" class="nav-item-icon">
               <img class="img-perfil-usuario-drop" src="{foto-perfil}" alt="img-perfil"> 
            </div>
            <div id="dropdown-user-menu">
               <div class="media">
                  <img class="mr-3" src="{foto-perfil}" alt="Generic placeholder image"> 
                  <div class="media-body">
                     <h5 class="mt-0 user-name-perfil">{nombre-usuario}</h5>
                     <!-- <a href="/ampliar-usuario.html">Ver Perfil{perfil}</a> -->
                     <a href="/mis-publicaciones.html">Ver Perfil{perfil}</a>
                  </div>
                  </div>
               <hr>
               {menu}
               <a href="/app/logout.php">Cerrar Sesi&oacute;n</a>
            </div>
         </div>
      </div>
   </nav>

   

   <!-- MODALS -->

	
	<!-- Modal INICIO DE SESION -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
				<div class="modal-body">
					<h1>Bienvenido de vuelta</h1>
					<hr>
					<div id="form_inicio_sesion_cont" class="forms">
						<form action="" method="post">
							<div>
								<input type="email" id="mail-login" name="mail" placeholder="Email">
							</div>
							<div>
								<input type="password" id="pass-login" name="pass" placeholder="Password">
							</div>
							<div>
								<label class="form-check-label" for="exampleCheck1"><a href="#">Olvid&oacute; su contrase&ntilde;a?</a></label>
							</div>
                     <br>
							<button type="submit" class="btn btn-warning">Iniciar Sesi&oacute;n</button>
                     <hr>
                     <div>
								<label class="form-check-label" for="exampleCheck1">Todav&iacute;a no est&aacute;s en Arquipick? <a href="#" id="test11" data-toggle="modal" data-target="#exampleModalCenter2">Registrate</a></label>
							</div>
                  </form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal REGISTRO -->
	<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
				<div class="modal-body">
					<h1>Te damos la bienvenida a Arquipick</h1>
					<hr>
					<div id="form_registro_cont" class="forms">
						<form action="http://ec2-18-191-182-136.us-east-2.compute.amazonaws.com/app/alta_usuario.php" method="post">
                     <div>
								<input type="text" id="nombre" name="nombre" placeholder="Nombre">
                     </div>
                     <div>
								<input type="text" id="apellido" name="apellido" placeholder="Apellido">
							</div>
                     <div>
								<input type="email" id="mail" name="mail" placeholder="Email">
							</div>
							<div>
								<input type="password" id="pass" name="pass" placeholder="Contrase&ntilde;a">
                     </div>
                     <div>
							   <input type="password" id="cpass" name="cpass" placeholder="Repita la Contrase&ntilde;a">
							</div>
							<div>
                        <button type="submit" class="btn btn-warning">Registrarse</button>
                     </div>
                     <!-- <div class="or">&Oacute;</div>
                     <div>
                        <button type="submit" class="btn btn-warning">Registrarse como Seller</button>
                     </div> -->
                     <p class="small-text-form">Al hacer clic en "Registrarse", aceptas nuestras Condiciones, la Pol&iacute;tica de datos y la Pol&iacute;tica de cookies. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras.</p>
						</form>
               </div>
                  <hr>
                  <!--  -->
                  
            </div>
            <div id="registro_seller">
               <a href="#" id="registro_seller_btn" data-toggle="modal" data-target="#exampleModalCenter3">Registrarse como Seller</a>
            </div>
			</div>
		</div>
   </div>
   
   <!-- Modal REGISTRO-SELLER -->
	<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
				<div class="modal-body">
					<h1>Te damos la bienvenida a Arquipick</h1>
					<h6 style="color: rgb(197, 197, 197);">Hac&eacute; crecer tu negocio</h6>
					<hr>
					<div id="form_registro_cont" class="forms">
						<form action="http://ec2-18-191-182-136.us-east-2.compute.amazonaws.com/app/alta_usuario_seller.php" method="post">
							<div>
								<input type="text" id="nombre-seller" name="nombre" placeholder="Nombre">
							</div>
							<div>
								<input type="text" id="apellido-seller" name="apellido" placeholder="Apellido">
							</div>
							<div>
								<input type="email" id="mail-seller" name="mail" placeholder="Email">
							</div>
							<div>
								<input type="password" id="pass-seller" name="pass" placeholder="Contrase&ntilde;a">
							</div>
							<div>
								<input type="password" id="cpass-seller" name="cpass" placeholder="Repita la Contrase&ntilde;a">
							</div>
							<div>
								<button type="submit" class="btn btn-warning">Registrarse como Seller</button>
							</div>
							<p class="small-text-form">Al hacer clic en "Registrarte", aceptas nuestras Condiciones, la Pol&iacute;tica de datos y la Pol&iacute;tica de cookies. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras.</p>
						</form>
					</div>
				</div>
			</div>
		</div>
   </div>
   
   <!-- Modal INTERESES/PRIEMRA VEZ -->
	<div class="modal fade" id="modalFirstLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
				<div class="modal-body text-center">
					<h1>Te damos la bienvenida a Taggeon!</h1>
               <hr>
               <h3>Contanos cuales son tus intereses:</h3>
                  <div class="interes_container">
                     <div class="interes">
                        <img class="interes_img" src="../../img/118633151_614588322578999_7377311366937586649_n.jpg" alt="">
                        <div class="interes_title">Moda</div>
                     </div>
                     <div class="interes">
                        <img class="interes_img" src="../../img/arquitectura-que-es.jpg" alt="">
                        <div class="interes_title">Joyeria</div>
                     </div>
                     <div class="interes">
                        <img class="interes_img" src="../../img/bch05-bacha-de-apoyar-cuadrada-370x370x130-copia (1).jpg" alt="">
                        <div class="interes_title">Arquitectura</div>
                     </div>

                     <div class="interes">
                        <img class="interes_img" src="../../img/16047728589908.jpg" alt="">
                        <div class="interes_title">Deportes</div>
                     </div>
                     <div class="interes">
                        <img class="interes_img" src="../../img/gaming.jpg" alt="">
                        <div class="interes_title">Arquitectura</div>
                     </div>
                     <div class="interes">
                        <img class="interes_img" src="../../img/furniposta.jpg" alt="">
                        <div class="interes_title">Diseño</div>
                     </div>

                     <div class="interes">
                        <img class="interes_img" src="../../img/118633151_614588322578999_7377311366937586649_n.jpg" alt="">
                        <div class="interes_title">Moda</div>
                     </div>
                     <div class="interes">
                        <img class="interes_img" src="../../img/arquitectura-que-es.jpg" alt="">
                        <div class="interes_title">Joyeria</div>
                     </div>
                     <div class="interes">
                        <img class="interes_img" src="../../img/bch05-bacha-de-apoyar-cuadrada-370x370x130-copia (1).jpg" alt="">
                        <div class="interes_title">Arquitectura</div>
                     </div>
                  </div>
					</div>
				</div>
			</div>
		</div>
   </div>
   
   <!-- splide search -->
   <div class="splide__container">
      <div class="splide splide__search">
         <div class="splide__track">
            <ul class="splide__list">
            </ul>
         </div>
      </div>
   </div>

<div id="main-super-container">
<div class="token_mp"></div>
<!-- 
   <div class="grid" data-masonry='{"itemSelector": ".grid-item"}'>   
      <div class="grid-item"><img src="https://viapais.com.ar/resizer/KWRZoK3z10QyfWP5tdn38QNza2s=/982x551/smart/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/GQZDSZJUGJSTGZJYGU2DCMJRMM.jpg"></div>
      <div class="grid-item"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/The_Leaning_Tower_of_Pisa_SB.jpeg/1200px-The_Leaning_Tower_of_Pisa_SB.jpeg"></div>
      <div class="grid-item"><img src="https://aws.glamour.mx/prod/designs/v1/assets/620x930/260429.jpg"></div>
      <div class="grid-item"><img src="https://aws.glamour.mx/prod/designs/v1/assets/620x930/260429.jpg"></div>
      <div class="grid-item"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/The_Leaning_Tower_of_Pisa_SB.jpeg/1200px-The_Leaning_Tower_of_Pisa_SB.jpeg"></div>
      <div class="grid-item"><img src="https://estaticos-cdn.elperiodico.com/clip/80ccbd4a-9d52-4b2a-b2b3-e9c254b3447c_alta-libre-aspect-ratio_default_0.jpg"></div>
      <div class="grid-item"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/The_Leaning_Tower_of_Pisa_SB.jpeg/1200px-The_Leaning_Tower_of_Pisa_SB.jpeg"></div>
      <div class="grid-item"><img src="https://aws.glamour.mx/prod/designs/v1/assets/620x930/260429.jpg"></div>
      <div class="grid-item"><img src="https://estaticos-cdn.elperiodico.com/clip/80ccbd4a-9d52-4b2a-b2b3-e9c254b3447c_alta-libre-aspect-ratio_default_0.jpg"></div>
      <div class="grid-item"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/The_Leaning_Tower_of_Pisa_SB.jpeg/1200px-The_Leaning_Tower_of_Pisa_SB.jpeg"></div>
      <div class="grid-item"><img src="https://aws.glamour.mx/prod/designs/v1/assets/620x930/260429.jpg"></div>
      <div class="grid-item"><img src="https://aws.glamour.mx/prod/designs/v1/assets/620x930/260429.jpg"></div>
      <div class="grid-item"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/The_Leaning_Tower_of_Pisa_SB.jpeg/1200px-The_Leaning_Tower_of_Pisa_SB.jpeg"></div>
      <div class="grid-item"><img src="https://estaticos-cdn.elperiodico.com/clip/80ccbd4a-9d52-4b2a-b2b3-e9c254b3447c_alta-libre-aspect-ratio_default_0.jpg"></div>
      </div> -->

   <div id="background-atras"></div>
   <!-- <div class="flecha-atras-public" onclick="atrasHistory()"><i class="fas fa-arrow-left"></i></div> -->