<!-- sin sesion -->
<html><head>
    <title>Taggeon</title>

    <link rel="stylesheet" href="css/styles.css?time=271120-1147">
    <!-- <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link href="fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
	<script src="js/jquery-3.5.1.js"></script>
	<script>
		var escena ='{escena}';
		var escena2 = '{escena2}';
	</script>
	<script>
		$(document).ready(function(){
			/*que aparezca mensaje bienvenida*/

			$(".board").click(function(){
				$("a").attr("href","#");
				$(".overlay-welcome-nologin").fadeIn(500);
			});
			$(".cerrar-welcome-nologin").click(function(){
				$(".overlay-welcome-nologin").fadeOut(500);
			});
			/*$("body").scroll(function(){
				$(".overlay-welcome-nologin").fadeIn(500);
			});*/
		});
	</script>


</head>
<body>
	
	<!-- mensaje welcome -->
	<div class="overlay overlay-welcome-nologin" style="display: none;">
		<div class="lightBox">
		<div>
			<div class="row">
				<div class="col-lg-8 text-left">
					<div class="cerrar-welcome-nologin"><i class="fas fa-times"></i></div>
					<h1 class="label-welcome-nologin">Registrate para acceder a ideas</h1>
				</div>
				<div class="col-lg-4">
					<div class="welcome-form">
						<h3>Inicia Sesi&oacute;n o Reg&iacute;strate</h3>
						<hr>
						<div id="form_inicio_sesion_cont" class="forms">
							<form id="iniciar_sesion_welcome">
								<div>
									<input type="email" id="mail-login-welcome" name="mail" placeholder="Email" autocomplete="on">
								</div>
								<br>
								<div>
									<input type="password" id="pass-login-welcome" name="pass" placeholder="Password" autocomplete="on">
								</div>
								<div>
									<label class="form-check-label" for="exampleCheck1"><a href="#" data-toggle="modal" data-target="#recuperaPass">Olvid&oacute; su contrase&ntilde;a?</a></label>
								</div>
								 <br>
								 <div id="mensaje-sin-login"></div>
								<button type="submit" class="btn btn-warning">Iniciar Sesi&oacute;n</button>
						 		<hr>
						 		<div>
									<label class="form-check-label" for="exampleCheck1">Todav&iacute;a no est&aacute;s en Arquipick? <a href="#" id="test11" data-dismiss="modal-sesion" data-toggle="modal" data-target="#modal-registro">Registrate</a></label>
								</div>
					  		</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<!--  -->


    <nav id="navbar-principal" class="navbar navbar-expand-md fixed-top">
      <div class="navbar-brand-container">
		 <a class="navbar-brand" href="/">
            <!-- <i class="fab fa-affiliatetheme logo-brand"></i> -->
            <img src="taggeon.svg" class="logo-brand">
            <!-- <span class="nombre-brand"> Taggeon</span> -->
         </a>
      </div>
	  <!---->
         <!-- <input id="buscador-index-input" class="form-control search" type="text" placeholder="Buscar" aria-label="Buscar" autocomplete="on"> -->
         <!---->
      <div id="sin-log-cont">
		<div class="ver-perfil" data-toggle="modal" data-target="#modal-sesion">
			<a href="#">Iniciar Sesi&oacute;n</a>
		</div>
		<div class="ver-perfil" data-toggle="modal" data-target="#modal-registro">
			<a href="#">Registrarse</a>
		</div>
      </div>
   </nav>
	
	<!-- Modal INICIO DE SESION -->
	<div class="modal fade" id="modal-sesion">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
				<div class="modal-body">
					<h1>Bienvenido de vuelta</h1>
					<hr>
					<div id="form_inicio_sesion_cont" class="forms">
						<form id="iniciar_sesion">
							<div class="form-group"><input type="email" id="mail-login" name="mail" placeholder="Email" autocomplete="on"></div>
							<div class="form-group"><input type="password" id="pass-login" name="pass" placeholder="Password" autocomplete="on"></div>
							<div class="form-group"><label class="form-check-label" for="exampleCheck1"><a href="#" data-toggle="modal" data-target="#recuperaPass">Olvid&oacute; su contrase&ntilde;a?</a></label></div>
					 		<div id="mensaje-sin-login"></div>
							<button type="submit" class="btn btn-warning">Iniciar Sesi&oacute;n</button>
							<hr>
                     		<div><label class="form-check-label" for="exampleCheck1">Todav&iacute;a no est&aacute;s en Arquipick? <a href="#" id="test11" data-dismiss="modal-sesion" data-toggle="modal" data-target="#modal-registro">Registrate</a></label></div>
                  		</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal REGISTRO -->
	<div class="modal fade" id="modal-registro">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
				<div class="modal-body">
					<h1>Te damos la bienvenida a Arquipick</h1>
					<hr>
					<div id="form_registro_cont" class="forms">
						<form id="registro-comun">
					<input type="hidden" name="accion" value="guardar" autocomplete="on">

                     <div>
								<input type="text" id="nombre" name="nombre" placeholder="Nombre" autocomplete="on">
                     </div>
                     <div>
								<input type="text" id="apellido" name="apellido" placeholder="Apellido" autocomplete="on">
							</div>
                     <div>
								<input type="email" id="mail" name="mail" placeholder="Email" autocomplete="on">
							</div>
							<div>
								<input type="password" id="pass" name="pass" placeholder="Contrase&ntilde;a" autocomplete="on">
                     </div>
                     <div>
							   <input type="password" id="cpass" name="cpass" placeholder="Repita la Contrase&ntilde;a" autocomplete="on">
							</div>
							<div>
                        <button type="submit" class="btn btn-warning">Registrarse</button>
                     </div>
                     <!-- <div class="or">&Oacute;</div>
                     <div>
                        <button type="submit" class="btn btn-warning">Registrarse como Seller</button>
                     </div> -->
                     <p class="small-text-form">Al hacer clic en "Registrarse", aceptas nuestras Condiciones, la Pol&iacute;tica de datos y la Pol&iacute;tica de cookies. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras.</p>
						</form>
               </div>
                  <hr>
                  <!--  -->
                  
            </div>
            <div id="registro_seller">
               <a href="#" id="registro_seller_btn" data-dismiss="modal-registro" data-toggle="modal" data-target="#modal-registro-seller">Registrarse como Seller</a>
            </div>
			</div>
		</div>
   </div>
   
   <!-- Modal REGISTRO-SELLER -->
	<div class="modal fade" id="modal-registro-seller">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
				<div class="modal-body">
					<h1>Te damos la bienvenida a Arquipick</h1>
					<h6 style="color: rgb(197, 197, 197);">Hac&eacute; crecer tu negocio</h6>
					<hr>
					<div id="form_registro_cont" class="forms">
						<form id="registro_usuario_seller">
											<input type="hidden" name="accion" value="guardar" autocomplete="on">
							<div>
								<input type="text" id="nombre-seller" name="nombre" placeholder="Nombre" autocomplete="on">
							</div>
							<div>
								<input type="text" id="apellido-seller" name="apellido" placeholder="Apellido" autocomplete="on">
							</div>
							<div>
								<input type="email" id="mail-seller" name="mail" placeholder="Email" autocomplete="on">
							</div>
							<div>
								<input type="password" id="pass-seller" name="pass" placeholder="Contrase&ntilde;a" autocomplete="on">
							</div>
							<div>
								<input type="password" id="cpass-seller" name="cpass" placeholder="Repita la Contrase&ntilde;a" autocomplete="on">
							</div>
							<div>
								<button type="submit" class="btn btn-warning">Registrarse como Seller</button>
							</div>
							<p class="small-text-form">Al hacer clic en "Registrarte", aceptas nuestras Condiciones, la Pol&iacute;tica de datos y la Pol&iacute;tica de cookies. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras.</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


<div>

   <!-- Modal RECUPERA PASS -->
	<div class="modal fade" id="recuperaPass" tabindex="-1" role="dialog" aria-labelledby="recuperaPass" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
				<div class="modal-body">
					<h3>Recuperar la Contrase&ntilde;a</h3>
					<hr>
					<div id="form_registro_cont" class="forms">
						<form id="form_recuperar_pass_paso1">
						<input type="hidden" name="accion" value="recuperar" autocomplete="on">
							<div>
                        <label for="cambiar-pass"></label>
								<input type="mail" id="cambiar-pass" name="email" placeholder="Introduzca su direccion de mail" autocomplete="on">
							</div>
							<div>
								<button type="submit" class="btn btn-warning">Recuperar la Contrase&ntilde;a</button>
                     </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

<div>
