<html><head>
    <title>Taggeon - </title>

    <link rel="stylesheet" href="bootstrap-4.5.2-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css?time=271021-1706">
    <link rel="stylesheet" href="css/media.css?time=271021-1706">
    <link href="fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="../../plugins/cropperjs-master/dist/cropper.css" type="text/css" />
    <link rel="stylesheet" href="../../plugins/dropPin-master/dropPin/dropPin.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery-3.5.1.js"></script>

    <!-- FAVICON -->

   <!-- <link rel="manifest" href="../favicon/img/manifest.json"> -->

   <script>
      var escena ='{escena}';
      var escena2 = '{escena2}';
      var notificaciones = {notificaciones};

      $(document).ready(function(){
         //jsonData.
         var url_mp = "{url-mp}";
         var intereses = {intereses};

         if(typeof jsonData != "undefined"){
            if(jsonData.tokenMercadoPago == 0 && jsonData.perfil == "seller"){
               var html_test = 
               '<div class="msj_sync_mp"><i class="fas fa-exclamation-circle"></i>&nbsp;Esta cuenta no esta sincronizada para recibir pagos. '+
                  '<a href="'+url_mp+'">Edítalo aqu&iacute;&middot;</a>'+
                  '<a href="javascript:void(0)" onclick="cerrarOverlay(\'overlayImportar\')">Cerrar</a>'+
               '</div>';
                  
                  $(".close-mp").bind('click',function(e){
                     console.log("test")
                     e.stopPropagation();
                     e.preventDefault();
                     $(".token_mp").hide(300);
                  });
                  
               $(".token_mp").html(html_test);

            }else{
               $(".token_mp").hide();
            }
         }


        /*buscador*/
        $("#buscador-titulo-input").keyup(function(){
            activarBuscador($(this));
        });
    //fin ready
    });


 
   </script>
   
<script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="../../plugins/cropperjs-master/dist/cropper.js"></script>
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=616783374564d200122a7e21&product=inline-share-buttons" async="async"></script>
</head>
<body>

   <!-- OVERLAYS -->

      <!-- share -->
      <div class="overlay overlayShare">
         <div class="lightBox">
            <div>
               <a href="javascript:void(0)" id="cerrar-light"><i class="fas fa-times-circle"></i></a>
               <h3>Compart&iacute; esta publicaci&oacute;n</h3>
               <hr>
               <div class="share-links">
                  <!-- <span><a href="" id="fa-facebook-square"><i class="fab fa-facebook-square"></i></a></span>
                  <span><a href="" id="fa-instagram-square"><i class="fab fa-instagram-square"></i></a></span>
                  <span><a href="" id="fa-twitter-square"><i class="fab fa-twitter-square"></i></a></span>
                  <span><a href="" id="fa-pinterest-square"><i class="fab fa-pinterest-square"></i></a></span> -->
                  <div class="sharethis-inline-share-buttons"></div>
               </div>
               <hr>
               <input type="text" id="inputCopiarLink">
               <br>
               <button class="share-btn btn btn-warning" onclick="copiarLink()">Copiar</button>
               <br>
            </div>
         </div>
      </div>

      

      <!-- overlayUpload -->
      <!-- <div class="overlay overlayUpload">
         <div class="lightBox lightBox-upload">
            <div id="contenedor-form-subir">
               <div class="header-upload-overlay">
                  <div><a href="javascript:void(0)" id="cerrar-light"><i onclick="$('.overlayUpload').hide();" class="fas fa-times-circle"></i></a></div>
                  <div class="button-upload-container">
                     <div>Que desea subir?</div>
                     <hr>
                     <div class="button-upload" id="upload-public" onclick="ampliarOverlay('overlayPublic')">
                        <i class="fas fa-plus"></i>
                        <span>Publicacion</span>
                     </div>
                     <div class="button-upload" id="upload-prod" onclick="ampliarOverlay('overlayProd')">
                        <i class="fas fa-plus"></i>
                        <span>Producto</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> -->

<!-- /OVERLAYS -->

          

    <nav id="navbar-principal" class="navbar navbar-expand-md fixed-top">
      <div id="brand-container" class="navbar-brand-container">
         <a class="navbar-brand" href="/">
            <!-- <i class="fab fa-affiliatetheme logo-brand"></i> -->
            <img src="taggeon.svg" class="logo-brand">
            <!-- <span class="nombre-brand"> Taggeon</span> -->
         </a>
      </div>
      <!--BUSCADOR-->
      <div id="search-container" class="search-container autocomplete">
         <input id="buscador-index-input" autocomplete="off"  class="search" type="text" placeholder="Busca lo que se te ocurra" aria-label="Buscar">
         <!-- <input id="myInput" id="buscador-index-input" autocomplete="off"  class="form-control search" type="text" placeholder="Busca lo que se te ocurra" aria-label="Buscar"> -->
         <i class="fas fa-search fa-search-header"></i>
      </div>
      <div id="cancelar-search" onclick="cancelSearchMobile()">Cancelar</div>
      <!---->
      <div id="items-navbar-container">
         <!-- BUSCADOR RESPONSIVE -->
         <div id="search-responsive" class="btn-header" onclick="showSearchMobile()">
            <a href="javascript:void(0)"><i class="fas fa-search"></i></a>
         </div>
         <!-- SUBIR PUBLIC -->
         <div class="btn-header" data-toggle="modal" data-target="#modal-upload-public">
               <a href="javascript:void(0)"><i class="fas fa-plus"></i></a>
         </div>
         <!-- CARRITO -->
         <div class="btn-header">
               <a href="/carritos.html"><i class="fas fa-shopping-cart"></i></a>
         </div>
         <!-- NOTIFS -->
         <div class="btn-header">
            <div class="count-notif">1</div>
            <div class="notifs-button">
                  <a href="javascript:void(0)"><i class="fas fa-bell"></i></a>
            </div>
            <div class="notifs-button-ampliar">
               <div class="flechita"></div>
               <div class="notifs-header">Notificaciones</div><hr>
            </div>
         </div>
         <!-- USER MENU -->
         <div id="dropdown-user-menu-cont" class="btn-header">
            <div id="drop" class="nav-item-icon">
               <img class="img-perfil-usuario-drop" src="{foto-perfil}" alt="img-perfil"> 
            </div>
            <div id="dropdown-user-menu">
               <div class="flechita"></div>
               <div class="media">
                  <img id="img-perfil-drop" class="mr-3" src="{foto-perfil}" alt="Generic placeholder image"> 
                  <div class="media-body">
                     <h5 class="mt-4 user-name-perfil"><a href="/mis-publicaciones.html">{nombre-usuario}</a></h5>
                     <!-- <a href="/mis-publicaciones.html">Ver Perfil{perfil}</a> -->
                  </div>
                  </div>
               <hr>
               {menu}
               <hr>
               <a href="/app/logout.php">Cerrar Sesi&oacute;n</a>
            </div>
         </div>
      </div>
   </nav>

   

   <!-- MODALS -->
   
   <!-- MODAL SUBIR PUBLIC -->
   <div class="modal fade" id="modal-upload-public">
      <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div id="contenedor-form-subir">
               <div class="modal-header modal-header-public">
                  <div></div>
                  <div class="text-center"><b>Nueva Publicaci&oacute;n</b></div>
                  <div class="cerrarModal text-right" data-dismiss="modal" class="text-right"><i id="cerrar-desde-cropper" class="fas fa-times"></i></div>
               </div>
               <div id="img-subir-pins" class="img-subir">
                  <div id="mensaje-flotante-imgsp">
                     <div><i style="font-size: 2em" class="fas fa-file-upload"></i></div>
                     <div><span class="hide-mobile">Arrastra una imagen, o </span>Haz click para subir</div>
                  </div>
                  <input type="file" name="publicacion_foto" id="imagen-pins" accept="image/x-png, image/jpeg" onchange="cargarImgPines(event)" data-target="#modal-cropper" data-toggle="modal-cropper">
               </div>
            </div>
         </div>
      </div>
   </div>
      


      <!-- subir publicacion -->
         <form id="subir-publicacion-form">
            <div class="modal fade left" id="modal-cropper" tabindex="-1" role="dialog" aria-labelledby="modalLabelcropper" aria-hidden="true">
               <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                     <div class="modal-header modal-header-public">
                        <div></div>
                        <div class="text-center"><b>Nueva Publicaci&oacute;n</b></div>
                        <div class="cerrarModal text-right" data-dismiss="modal" class="text-right"><i id="cerrar-desde-cropper" class="fas fa-times"></i></div>
                     </div>
                     <div class="modal-body">
                        <div id="output-container">
                           <div class="popup-prod-overlay">
                              <div id="popup-prod-cont">
                                 <div class="filtros">
                                    <input id="buscador-titulo-input" class="busq-prod-subir-public" type="text" name="prod_search_seller" placeholder="Busque el producto en la lista">
                                    <i class="fas fa-times-circle limpiar-buscador" style="display: none;"></i>
                                    <br>
                                    <div id="salir-popup" class="test-pop"><a href="javascript:void(0)"><i class="fas fa-times"></i></a></div>
                                 </div>
                                 <div class="popup-producto">
                                    <div class="splide splide__prod_public">
                                       <div class="splide__track">
                                          <ul class="splide__list"></ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="contenedor-content">
                              <div class="click-protector-cont"></div>
                              <!-- <div id="map">
                                 <img id="img-pines-amapear" src="">
                              </div> -->
                           </div>

                           <div class="toggle-aspect-ratio">
                              <div class="text-center">Elija un Tama&ntilde;o:</div>
                              <div>
                                 <label for="f-option" class="l-radio" data-aspect="1.77777">
                                    <input type="radio" id="f-option" name="aspect-ratio" tabindex="1" >
                                    <span>Horizontal (16:9)<!--<i class="fas fa-mobile-alt"></i>--></span>
                                 </label>
                                 <label for="s-option" class="l-radio" data-aspect="1.33333">
                                    <input type="radio" id="s-option" name="aspect-ratio" tabindex="2">
                                    <span>Vertical (4:3)<!--<i class="fas fa-mobile-alt" style="transform: rotate(90deg);"></i>--></span>
                                 </label>
                                 <label for="t-option" class="l-radio" data-aspect="1">
                                    <input type="radio" id="t-option" name="aspect-ratio" tabindex="3">
                                    <span>Cuadrado (1:1)<!--<i class="far fa-square"></i>--></span>
                                 </label>
                              </div>
                           </div>
                           <div class="anadir-productos">
                              <hr>
                              <a href="javascript:void(0)" id="anadir-productos-btn" class="btn btn-warning">Añadir productos</a>
                              <a href="javascript:void(0)" id="cropear-btn" class="btn btn-warning disabled">Terminar Ajuste</a>
                              <a href="javascript:void(0)" id="terminar-productos-btn" class="btn btn-warning">Terminar Edicion</a>
                              <!-- <a href="javascript:void(0)" id="limpiar-productos-btn" class="btn btn-warning">Limpiar Pines</a> -->
                           </div>
                        </div>
                     </div>

                     <div class="modal-footer">
                        <div id="result"></div>
                        <button id="btn-siguiente" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-data">Siguiente</button>
                        <div class="tooltip-nico">Debe añadir por lo menos un pin!</div>
                     </div>
                  </div>
               </div>
            </div>
            
            <div class="modal fade" id="modal-data" tabindex="-1" role="dialog" aria-labelledby="modalLabelcropper" aria-hidden="true">
               <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                     <div class="modal-header modal-header-public">
                        <div class="text-left" data-toggle="modal" data-target="#modal-cropper" onclick="$('#modal-cropper').modal('hide');"><i class="fas fa-chevron-circle-left"></i></div>
                        <div class="text-center"><b>Nueva Publicaci&oacute;n</b></div>
                        <div class="cerrarModal text-right" data-dismiss="modal"><i id="cerrar-desde-data" class="fas fa-times"></i></div>
                     </div>
                     <div class="modal-body text-left">
                           <input type="hidden" name="accion" value="alta">
                           <div id="col-foto-upload">
                                 <!-- <p class="label-descr">Seleccione al menos una foto para el publicacion.</p> -->
                                 <div class="row">
                                 
                                    <div class="col-lg-12">
                                       <div class="group">      
                                          <input type="text" name="publicacion_nombre" id="titulo-publicacion" required>
                                          <span class="highlight"></span>
                                          <span class="bar"></span>
                                          <label class="label-text-subir-publicacion">Nombre del publicaci&oacute;n</label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-lg-12">
                                       <p class="label-descr">Descripcion de la publicaci&oacute;n</p>
                                       <textarea type="text" name="publicacion_descripcion" id="descr-publicacion" required></textarea>
                                    </div>
                                 </div>
                                 <div class="row">
                                       <div id="sels_cat_prod" class="col-lg-12">
                                          <!-- ARQ -->
                                          <select name="escena_sel" id="escena_sel" onchange="getEscenas(this.value)">
                                             <option value="" selected disabled hidden required>Elija una categoria de escenario</option>
                                             <option value="Arquitectura">Arquitectura</option>
                                             <option value="Indumentaria">Indumentaria</option>
                                          </select>
                                          <select name="subescena1" id="esc_arq" onchange="getSubEscena(this.value,'#esc_arq','#esc_arq2')">
                                             <option value="" selected disabled hidden required>Elija otro parametro</option>
                                          </select>
                                          <select name="subescena2" id="esc_arq2" onchange="getSubEscena(this.value,'#esc_arq2','#esc_arq3')">
                                             <option value="" selected disabled hidden required>Elija un parametro</option>
                                          </select>
                                          <select name="subescena3" id="esc_arq3" onchange="getSubEscena(this.value,'#esc_arq3','#esc_arq4')">
                                             <option value="" selected disabled hidden required>Elija otro parametro</option>
                                          </select>
                                          <!-- IND -->
                                          <select name="subescena1" id="esc_ind" onchange="getSubEscena(this.value,'#esc_ind','#esc_ind2')">
                                             <option value="" selected disabled hidden required>Elija un estilo de indumentaria</option>
                                          </select>
                                       </div>
                                 </div>
                           </div>
                           <br><hr>
                                 
                              <div>
                                 <div class="row">
                                    <div class="col-lg-4">
                                       <br>
                                       <input id="aspect-ratio-input" name="aspect_ratio" type="hidden">
                                       <input type="submit" class="btn btn-warning" value="Guardar publicacion">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <div id="result"></div>
                        </div>
                     </div>
                  </div>
            </div>
         
         </form>
   
   <!-- splide search -->
   <div class="splide__container">
      <div class="splide splide__search">
         <div class="splide__track">
            <ul class="splide__list">
            </ul>
         </div>
      </div>
   </div>

<div id="main-super-container">
<div class="token_mp"></div>

