<div id="upper_splide_container">
   <h1>Lo más Taggeado</h1>
   <div class="splide splide_tarjeta">
      <div class="splide__arrows">
         <button class="splide__arrow splide__arrow--prev">
            <i class="fas fa-chevron-left"></i>
         </button>
         <button class="splide__arrow splide__arrow--next">
            <i class="fas fa-chevron-right"></i>
         </button>
      </div>
      <div class="splide__track" style="overflow: visible">
         <ul class="splide__list">
            <li class="splide__slide">
               <div class="tarjeta_amal">
                  <div class="tarjeta_amal_perfil">
                     <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="">
                  </div>
                  <div class="tarjeta_amal_izq">
                     <img src="https://images.adsttc.com/media/images/62d1/ec1e/667a/c33c/41c7/13e0/newsletter/vivienda-de-tierra-liquida-oficina-de-arquitectura-x_10.jpg?1657924657" alt="">
                  </div>
                  <div class="tarjeta_amal_der">
                     <div class="tarjeta_amal_der_h">Título articulo</div>
                     <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                     <div class="tarjeta_amal_cat">
                        Arquitectura
                     </div>
                  </div>
               </div>
            </li>
            <li class="splide__slide">
               <div class="tarjeta_amal">
                  <div class="tarjeta_amal_perfil">
                     <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="">
                  </div>
                  <div class="tarjeta_amal_izq">
                     <img src="https://images.adsttc.com/media/images/62d1/ec1e/667a/c33c/41c7/13e0/newsletter/vivienda-de-tierra-liquida-oficina-de-arquitectura-x_10.jpg?1657924657" alt="">
                  </div>
                  <div class="tarjeta_amal_der">
                     <div class="tarjeta_amal_der_h">titulo del atriculo</div>
                     <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                     <div class="tarjeta_amal_cat">
                        Arquitectura
                     </div>
                  </div>
               </div>
            </li>
            <li class="splide__slide">
               <div class="tarjeta_amal">
                  <div class="tarjeta_amal_perfil">
                     <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="">
                  </div>
                  <div class="tarjeta_amal_izq">
                     <img src="https://images.adsttc.com/media/images/62d1/ec1e/667a/c33c/41c7/13e0/newsletter/vivienda-de-tierra-liquida-oficina-de-arquitectura-x_10.jpg?1657924657" alt="">
                  </div>
                  <div class="tarjeta_amal_der">
                     <div class="tarjeta_amal_der_h">titulo del atriculo</div>
                     <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                     <div class="tarjeta_amal_cat">
                        Arquitectura
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>

<div class="board">
   <div class="items">
      <div class="splide splide__home">
         <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
               <i class="fas fa-chevron-left"></i>
            </button>
            <button class="splide__arrow splide__arrow--next">
               <i class="fas fa-chevron-right"></i>
            </button>
         </div>
         <div class="splide__track">
            <ul class="splide__list splide__list__home"></ul>
         </div>
      </div>
   </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(){
   
         /////////paginador/////////////
         const dataPaging = {
            cantidad : 0,
            url: "paginador_home.php"
         }
         getDataPaging(dataPaging);
         intObserver(dataPaging);
         ///////////////////////////////

});
</script>


