<div id="upper_splide_container">
   <h1>Lo más Taggeado</h1>
   <div class="splide splide_tarjeta">
      <div class="splide__arrows">
         <button class="splide__arrow splide__arrow--prev">
            <i class="fas fa-chevron-left"></i>
         </button>
         <button class="splide__arrow splide__arrow--next">
            <i class="fas fa-chevron-right"></i>
         </button>
      </div>
      <div class="splide__track" style="overflow: visible">
         <ul class="splide__list">
            <li class="splide__slide">
               <div class="tarjeta_amal">
                  <div class="tarjeta_amal_perfil">
                     <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="">
                  </div>
                  <div class="tarjeta_amal_izq">
                     <img src="https://images.adsttc.com/media/images/62d1/ec1e/667a/c33c/41c7/13e0/newsletter/vivienda-de-tierra-liquida-oficina-de-arquitectura-x_10.jpg?1657924657" alt="">
                  </div>
                  <div class="tarjeta_amal_der">
                     <div class="tarjeta_amal_der_h">Título articulo</div>
                     <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                     <div class="tarjeta_amal_cat">
                        Arquitectura
                     </div>
                  </div>
               </div>
            </li>
            <li class="splide__slide">
               <div class="tarjeta_amal">
                  <div class="tarjeta_amal_perfil">
                     <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="">
                  </div>
                  <div class="tarjeta_amal_izq">
                     <img src="https://images.adsttc.com/media/images/62d1/ec1e/667a/c33c/41c7/13e0/newsletter/vivienda-de-tierra-liquida-oficina-de-arquitectura-x_10.jpg?1657924657" alt="">
                  </div>
                  <div class="tarjeta_amal_der">
                     <div class="tarjeta_amal_der_h">titulo del atriculo</div>
                     <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                     <div class="tarjeta_amal_cat">
                        Arquitectura
                     </div>
                  </div>
               </div>
            </li>
            <li class="splide__slide">
               <div class="tarjeta_amal">
                  <div class="tarjeta_amal_perfil">
                     <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="">
                  </div>
                  <div class="tarjeta_amal_izq">
                     <img src="https://images.adsttc.com/media/images/62d1/ec1e/667a/c33c/41c7/13e0/newsletter/vivienda-de-tierra-liquida-oficina-de-arquitectura-x_10.jpg?1657924657" alt="">
                  </div>
                  <div class="tarjeta_amal_der">
                     <div class="tarjeta_amal_der_h">titulo del atriculo</div>
                     <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                     <div class="tarjeta_amal_cat">
                        Arquitectura
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>


<div class="maybe_follow_container">
   <div class="mf_h2"><h2>Personas que quizas podes seguir</h2></div>
   <div>
      <div class="splide splide_maybe_follow">
         <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
               <i class="fas fa-chevron-left"></i>
            </button>
            <button class="splide__arrow splide__arrow--next">
               <i class="fas fa-chevron-right"></i>
            </button>
         </div>
         <div class="splide__track" style="overflow: visible">
            <ul class="splide__list">
               <li class="splide__slide">
                  <div class="tarjeta_mf_container">
                     <div class="mf_img_perfil"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt=""></div>
                     <div class="tarjeta_mf">
                        <div class="mf_text">nico_gomez_94</div>
                        <div class="mf_label">Siguiendo</div>
                     </div>
                  </div>
               </li>
               <li class="splide__slide">
                  <div class="tarjeta_mf_container">
                     <div class="mf_img_perfil"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt=""></div>
                     <div class="tarjeta_mf">
                        <div class="mf_text">nico_gomez_94</div>
                        <div class="mf_label">Siguiendo</div>
                     </div>
                  </div>
               </li>
               <li class="splide__slide">
                  <div class="tarjeta_mf_container">
                     <div class="mf_img_perfil"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt=""></div>
                     <div class="tarjeta_mf">
                        <div class="mf_text">nico_gomez_94</div>
                        <div class="mf_label">Siguiendo</div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>

<div class="board">
   <!--  -->
<!--  -->
<!--  -->
<!--  -->
   <!-- <div id="col-flotante">
      <div class="item item-cat-3152">
         <div class="titulo-col-cont" onclick="window.location.replace('https://taggeon.com/ampliar-publicacion-home.html?accion=ampliar&amp;cat=3152')">
         <div class="titulo-col random-p-0"><span class="span-titulo">COCINA NORDICO</span></div>
         </div>
         <div>
   <div class="content-col-div content-col-div-331 cat-31">
         <div class="overlay-public">
         <a class="link-ampliar-home" href="/ampliar-publicacion-home.html?id=331&amp;accion=ampliar&amp;cat=31"></a>
         <div class="public-title-home">Vintage Nro. 2</div>
            <div class="text-overlay">
               <span class="text-overlay-link share-sm" onclick="pathShareHome('/ampliar-publicacion-home.html?id=331&amp;accion=ampliar&amp;cat=31')">
                     <i class="fas fa-share-alt"></i>
               </span>
               <span class="text-overlay-link"><i class="fas fa-star fav-alta" onclick="toggleFav(331,'alta',this)"></i></span>
            </div>
         </div>
         <img src="/publicaciones_img/302.png" alt="img-302">
   </div>
   </div><div>
   <div class="content-col-div content-col-div-334 cat-31">
         <div class="overlay-public">
         <a class="link-ampliar-home" href="/ampliar-publicacion-home.html?id=334&amp;accion=ampliar&amp;cat=31"></a>
         <div class="public-title-home">Diseño Nordico</div>
            <div class="text-overlay">
               <span class="text-overlay-link share-sm" onclick="pathShareHome('/ampliar-publicacion-home.html?id=334&amp;accion=ampliar&amp;cat=31')">
                     <i class="fas fa-share-alt"></i>
               </span>
               <span class="text-overlay-link"><i class="fas fa-star fav-alta" onclick="toggleFav(334,'alta',this)"></i></span>
            </div>
         </div>
         <img src="/publicaciones_img/305.png" alt="img-305">
   </div>
   </div><div>
   <div class="content-col-div content-col-div-336 cat-31">
         <div class="overlay-public">
         <a class="link-ampliar-home" href="/ampliar-publicacion-home.html?id=336&amp;accion=ampliar&amp;cat=31"></a>
         <div class="public-title-home">Nordico Nro. 91</div>
            <div class="text-overlay">
               <span class="text-overlay-link share-sm" onclick="pathShareHome('/ampliar-publicacion-home.html?id=336&amp;accion=ampliar&amp;cat=31')">
                     <i class="fas fa-share-alt"></i>
               </span>
               <span class="text-overlay-link"><i class="fas fa-star fav-alta" onclick="toggleFav(336,'alta',this)"></i></span>
            </div>
         </div>
         <img src="/publicaciones_img/307.png" alt="img-307">
   </div>
   </div></div>
</div> -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
   <div class="items">
      <div class="splide splide__home">
         <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
               <i class="fas fa-chevron-left"></i>
            </button>
            <button class="splide__arrow splide__arrow--next">
               <i class="fas fa-chevron-right"></i>
            </button>
         </div>
         <div class="splide__track">
            <ul class="splide__list splide__list__home"></ul>
         </div>
      </div>
   </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(){
   
         /////////paginador/////////////
         const dataPaging = {
            cantidad : 0,
            url: "paginador_home.php"
         }
         getDataPaging(dataPaging);
         intObserver(dataPaging);
         ///////////////////////////////

});
</script>


