<div id="info-user">
   <div id="titulo-perfil">
		<div class="foto-perfil-paginas">
			<img src="{foto-perfil}" alt="perfil">
		</div>
      <div id="titulo-perfil-datos">
         <div id="name_usuario">{nombre}</div>
         <div id="descr_usuario" class="msj-chico-gris">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
         <div class="fyf">
            <div class="seguidores_container">
               <span id="seguidores_count" class="seguidores_count"></span>
               <span class="seguidores_label" onclick="showSeguidoresSeguidos('seguidores')">Seguidores</span>
            </div>
				&nbsp;|&nbsp;
            <div class="seguidos_container">
               <span id="seguidos_count" class="seguidos_count"></span>
               <span class="seguidos_label" onclick="showSeguidoresSeguidos('seguidos')">Seguidos</span>
            </div>
         </div>
			<div class="edit_perfil" style="margin-top: 20px;">
				<a href="/editar-usuario.html" class="ml-1 btn btn-warning btn-sm btn-gb">Editar Perfil</a>
				<a href="/editar-usuario.html" class="ml-1 btn btn-warning btn-sm btn-bw">Seguir</a>
			</div>
      </div>
   </div>
</div>

<div id="menu-perfil">
   <div class="menu-desktop">{menuperfil}</div>
   <div class="custom-dropdown">
      <div class="custom-dropdown-btn" onclick="toggleDropdown()">Mis Publicaciones* &nbsp;&nbsp;<i class="fas fa-sort-down"></i></div>
      <div id="customDropdown" class="custom-dropdown-content">
         {menuperfil}
      </div>
    </div>
</div>
<div class="container show-result">Mostrando <span class="show-result-num"></span> resultados.</div>
<br><br>
