<div class="overlay-loading"></div>

<div class="container container-compras">
   <div class="inner-compras">
      <h1>M&eacute;tricas</h1>
      <hr>
      
      <div class="metricas-header">
         <div class="mh-perfil">
            <img src="/imagen_perfil/generica.png" alt="foto perfil">
            <div class="mh-perfil-nombre">Pedro Alvarez</div>
         </div>
         <div class="mh-data">
            <div class="acumulado"><span class="num-big"></span><br><span class="acumulado-label">Acumulado hasta el momento</span></div>
            <div class="alert alert-warning" role="alert">¡Vamos! estás cerca! te restán <span class="num-restan"></span> para llegar al objetivo de $2500!</div>
            <div><a class ="btn btn-warning disabled" href="#">Retirar dinero</a></div>
         </div>
      </div>
      
      <h1>Lista de operaciones</h1>
      <hr>
      <br>

       <table class="data-metricas">
         <thead>
           <tr>
             <th>Operaci&oacute;n</th>
             <th>Fecha</th>
             <th>Producto</th>
             <th>Tienda</th>
             <th>Costo de Venta</th>
             <th>Comisi&oacute;n Tagger</th>
             <th>Estado</th>
             <th>Motivo</th>
           </tr>
         </thead>
         <tbody></tbody>
       </table>

       <h1>Historial de pedidos</h1>
      <hr>
      <br>

       <table class="data-metricas">
         <thead>
           <tr>
             <th>Operaci&oacute;n</th>
             <th>Fecha</th>
             <th>Producto</th>
             <th>Tienda</th>
             <th>Costo de Venta</th>
             <th>Comisi&oacute;n Tagger</th>
             <th>Estado</th>
             <th>Motivo</th>
           </tr>
         </thead>
         <tbody>
            <tr>
               <td>20778024040</td>
               <td>test@gmail.com</td>
               <td>Pasaron los 30 dias</td>
               <td>-</td>
               <td><a onclick="retirarDinero()" class ="btn btn-warning" href="#">Retirar dinero</a></td>
            </tr>
            <tr>
               <td>20778081070</td>
               <td>nico99@gmail.com</td>
               <td>Pidió retiro</td>
               <td>-</td>
               <td><a class ="btn btn-warning" href="#">Retirar dinero</a></td>
            </tr>
         </tbody>
       </table>
      
   </div>
</div>



<script>
   var jsonData = {json};
</script>



   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <script src="js/func.js?time=271220-2243"></script>
   <script>
   $(document).ready(function(){

      dibujarMetricas(jsonData.metricas)
      
   });
   function retirarDinero(){
      const URL = "/app/metrica.php";

      let dataCarr = new FormData();
      dataCarr.append("accion","alta");
      dataCarr.append("id",id_prod);

      fetch(URL, {
         method: 'POST',
         body: dataCarr,
      }).then(res => res.json())
      .then(response => {
         let id_carrito = response.mensaje;
         window.location.replace("/carritos.html?id_carrito="+id_carrito)
      })
      .catch(error => alertify.error("No se pudo agregar el producto. Intente mas tarde"))
   }
   </script>

</body></html>
