<div class="overlay-loading"></div>

<div class="container container-compras">
   <div class="inner-compras">
      <h1>Metricas</h1>
      <hr>
      <div class="row">
         <div class="col-lg-6">
            <h4>Ingresos Estimados</h4>
            <div class="totales-cont">
               <div class="row">
                  <div class="col-4">
                     <div class="data-ingresos-title">Hoy</div>
                     <div class="data-ingresos">
                        0.00 AR$
                     </div>
                  </div>
                  <div class="col-4">
                     <div class="data-ingresos-title">7 dias</div>
                     <div class="data-ingresos">
                        0.00 AR$
                     </div>
                  </div>
                  <div class="col-4">
                     <div class="data-ingresos-title">1 Mes</div>
                     <div class="data-ingresos">
                        0.00 AR$
                     </div>
                  </div>
               </div>
            </div>
            <hr>
            <div class="totales-cont">
               <div class="row">
                  <div class="col-12 col-lg-12 totales-compra">
                     <h4>A liquidar &nbsp;<a class ="btn btn-warning disabled" href="#">Retirar dinero</a></h4>
                     <hr>
                     <div class="num-big"></div>
                  </div>
               </div>
            </div>
            <br>
            <div class="alert alert-warning" role="alert">
               Te restan $1500 mas para poder retirar!
            </div>
         </div>
         <!--  -->
         <div class="col-lg-6">
            <h4>Ultimas Transacciones por Tags</h4>
            <span class="gris-label">Conoc&eacute; el detalle de las operaciones que impactan por los productos que tagueaste en tus publicaciones.</span>
            <div class="totales-cont" id="detalle_compras_metricas">
               <!-- <div class="row">
                  <div class="col-12 col-lg-12 totales-compra">
                     <div class="media">
                        <i class="fas fa-user-alt icono-media"></i>
                        <div class="media-body media-body-metricas">
                           <span>Se vendi&oacute; "PS5" de tu publicacion "Setup PS5"</span>
                           <span class="float-right">$1000</span>
                        </div>
                     </div>
                  </div>
               </div> -->
            </div> 
         </div>
      </div>
      <br><hr><br>
      <div id="comisiones-producto">
         <h2>Comisiones por Producto</h1>
            <br>
         <div class="flex-container" style="margin-bottom: 0 !important;">
               <div class="flex-listado">
                  <div class="overlay-public">
                     <div class="text-overlay-prod">
                        <span onclick="eliminarProd('${id_prod}')" class="eliminar-producto text-overlay-link share-sm">
                              <a href="javascript:void(0)"><i class="fas fa-trash-alt"></i></a>
                        </span>
                        <span class="text-overlay-link text-overlay-link-id_prod">
                              <a href="/editar-producto.html?id=${id_prod}&accion=editar"><i class="fas fa-edit"></i></a>
                        </span>
                     </div>
                  </div>
                  <img onerror="this.src='/imagen_perfil/generica_prod.jpg'" src="/productos_img/295.png" alt="${foto_src}">
                  <div class="prod-datos">
                     <div class="nombre-prod">Producto de prueba</div>
                     <div class="precio-prod">$456</div>
                  </div>
            </div>
               <div class="flex-listado">
                  <div class="overlay-public">
                     <div class="text-overlay-prod">
                        <span onclick="eliminarProd('${id_prod}')" class="eliminar-producto text-overlay-link share-sm">
                              <a href="javascript:void(0)"><i class="fas fa-trash-alt"></i></a>
                        </span>
                        <span class="text-overlay-link text-overlay-link-id_prod">
                              <a href="/editar-producto.html?id=${id_prod}&accion=editar"><i class="fas fa-edit"></i></a>
                        </span>
                     </div>
                  </div>
                  <img onerror="this.src='/imagen_perfil/generica_prod.jpg'" src="/productos_img/289.png" alt="${foto_src}">
                  <div class="prod-datos">
                     <div class="nombre-prod">Producto de prueba</div>
                     <div class="precio-prod">$456</div>
                  </div>
            </div>
               <div class="flex-listado">
                  <div class="overlay-public">
                     <div class="text-overlay-prod">
                        <span onclick="eliminarProd('${id_prod}')" class="eliminar-producto text-overlay-link share-sm">
                              <a href="javascript:void(0)"><i class="fas fa-trash-alt"></i></a>
                        </span>
                        <span class="text-overlay-link text-overlay-link-id_prod">
                              <a href="/editar-producto.html?id=${id_prod}&accion=editar"><i class="fas fa-edit"></i></a>
                        </span>
                     </div>
                  </div>
                  <img onerror="this.src='/imagen_perfil/generica_prod.jpg'" src="/productos_img/292.png" alt="${foto_src}">
                  <div class="prod-datos">
                     <div class="nombre-prod">Producto de prueba</div>
                     <div class="precio-prod">$456</div>
                  </div>
            </div>
         </div>
      </div>
      <br><hr><br>
      <div id="comisiones-tagger">
         <h2>Detalle de recompensas hasta la fecha</h1>
            <br>
            <div class="row producto">
               <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                  Nro de Operacion
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-left">
                  <span class="titulo-producto">Monto cobrado</span>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">
                  <span class="precio-producto">Comprobante</span>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3 col-3">
               </div>
            </div>
            <div class="row producto">
               <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                  <div class="img-producto-container-0" data-title="223">
                     21238421354
                  </div>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-left">
                  <span class="titulo-producto">$6500</span>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">
                  <span class="precio-producto"><a href="#">Comprobante_123512</a></span>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3 col-3">
               </div>
            </div>
            <div class="row producto">
               <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                  <div class="img-producto-container-0" data-title="223">
                     21238421354
                  </div>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-left">
                  <span class="titulo-producto">$6500</span>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">
                  <span class="precio-producto"><a href="#">Comprobante_123512</a></span>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3 col-3">   
               </div>
            </div>
      </div>
   </div>
</div>



<script>
   var jsonData = {json};
</script>



   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->

   <script src="js/func.js?time=271220-2243"></script>
<script>
$(document).ready(function(){

   var metricas_json = jsonData.metricas.length;

   if(metricas_json>0){
      for(var i=0; i<metricas_json; i++){

         var cantidad = jsonData.metricas[i].cantidad || 0;
         var carrito_subtotal = jsonData.metricas[i].carrito_subtotal || 0;
         var carrito_total = jsonData.metricas[i].carrito_total || 0;
         var comision_porcentaje_taggeador = jsonData.metricas[i].comision_porcentaje_taggeador || "";
         var comision_porcentaje_tienda = jsonData.metricas[i].comision_porcentaje_tienda || "";
         var fecha = jsonData.metricas[i].fecha || 0;
         var foto = jsonData.metricas[i].foto || "";
         var id_carrito = jsonData.metricas[i].id_carrito || 0;
         var id_producto = jsonData.metricas[i].id_producto || 0;
         var id_publicacion = jsonData.metricas[i].id_publicacion || "";
         var id_usuario_publicador = jsonData.metricas[i].id_usuario_publicador || 0;
         var id_vendedor = jsonData.metricas[i].id_vendedor || 0;
         var nombre_producto = jsonData.metricas[i].nombre_producto || "";
         var precio = jsonData.metricas[i].precio || "";
         var publicacion_nombre = jsonData.metricas[i].publicacion_nombre || "";
         var total = jsonData.metricas[i].total || 0;
         var total_taggeador = jsonData.metricas[i].total_taggeador || 0;
         var total_tienda = jsonData.metricas[i].total_tienda || 0;
         var total_vendedor = jsonData.metricas[i].total_vendedor || 0;
         var usuario_alta = jsonData.metricas[i].usuario_alta || 0;
         
         //por ahora esta como la suma de todo TODO
         var a_liquidar = jsonData.totalliquidar;

         var el = document.querySelector("#detalle_compras_metricas");
         var a_liquidar_html = document.querySelector(".num-big");
         a_liquidar_html.innerHTML = a_liquidar+" AR$";

         var child = document.createElement("DIV");
         child.classList.add('row');
         child.innerHTML = 
               '<div class="col-12 col-lg-12 totales-compra">'+
                  '<div class="media">'+
                     '<i class="fas fa-user-alt icono-media"></i>'+
                     '<div class="media-body media-body-metricas">'+
                        '<span>Se vendi&oacute; "'+nombre_producto+'" de tu publicaci&oacute;n "'+publicacion_nombre+'"</span>'+
                        '<span class="float-right">'+precio+'</span>'+
                     '</div>'+
                  '</div>'+
               '</div>'; 

         el.appendChild(child);

      }
   }else{
      var no_metricas = '<h2>Metricas</h2><hr><h1 class="text-center">Todavía no hay datos para mostrar</h1>'
      $(".inner-compras").html(no_metricas)
   }
      
});
</script>
   <!-- <script src="js/publicacion.js?time=271220-2243"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

</body></html>
