<div class="overlay-loading"></div>

<div class="container container-compras">
   <div class="inner-compras">
      <h1>M&eacute;tricas</h1>
      <hr>
      
      <div class="metricas-header">
         <div class="mh-perfil">
            <img src="/imagen_perfil/generica.png" alt="foto perfil">
            <div class="mh-perfil-nombre">Pedro Alvarez</div>
         </div>
         <div class="mh-data">
            <div class="acumulado"><span class="num-big"></span><br><span class="acumulado-label">Acumulado hasta el momento</span></div>
            <div class="alert alert-warning" role="alert">¡Vamos! estás cerca! te restán <span class="num-restan"></span> para llegar al objetivo de $2500!</div>
            <div><a class ="btn btn-warning disabled" href="#">Retirar dinero</a></div>
         </div>
      </div>
      
      <h1>Lista de operaciones</h1>
      <hr>
      <br>
      <table class="data-metricas">
         <thead>
           <tr>
             <th>Operaci&oacute;n</th>
             <th>Fecha</th>
             <th>Producto</th>
             <th>Tienda</th>
             <th>Costo de Venta</th>
             <th>Comisi&oacute;n Tagger</th>
             <th>Estado</th>
             <th>Motivo</th>
           </tr>
         </thead>
         <tbody></tbody>
       </table>
      
   </div>
</div>



<script>
   var jsonData = {json};
</script>

   <script>
      $(document).ready(function(){
      
         dibujarMetricas(jsonData.metricas)
            
      });
   </script>
      
