
<div class="container container-ventas">
   <!-- <div class="bc-container">
      <span class="bc-origin">Mi Perfil</span>
      <span class="bc-separador">></span>
      <span class="bc-child">Mis Ventas</span>
   </div> -->
   <div class="inner-pages inner-ventas">
      <h1>Mis Ventas</h1>
   </div>
</div>

<hr>
<div class="container show-result">Mostrando <span class="show-result-num"></span> resultados.</div>
<div class="flex-container container"></div>


<script>
   var jsonData = {json};
</script>



<script src="js/jquery-3.5.1.js"></script>
<script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
<script src="js/func.js?time=151021-2034"></script>

<script>
$(document).ready(function(){

   /////////paginador/////////////
   const dataPaging = {
      cantidad : 0,
      url: "paginador_mis-ventas.php"
   }
   getDataPaging(dataPaging);
   intObserver(dataPaging);
   ///////////////////////////////
   
   
});
</script>