<div class="container container-compras">
   <!-- <div class="bc-container">
      <span class="bc-origin">Mi Perfil</span>
      <span class="bc-separador"><i class="fas fa-angle-right"></i></span>
      <span class="bc-child">Mis Compras</span>
   </div> -->
   <div class="inner-pages inner-compras container-sorteable">
      <h1>Detalle de Compras/Ordenes</h1>
      <hr>

   </div>
</div>
<div class="flex-container container"></div>


<script>
   var jsonData = {json};
</script>


<script>
   document.addEventListener("DOMContentLoaded", function() {

      /////////paginador/////////////
      const dataPaging = {
         cantidad : 0,
         url: "paginador_mis-compras.php"
      }
      getDataPaging(dataPaging);
      intObserver(dataPaging);
      ///////////////////////////////
   

   });
</script>

