<div class="container container-compras">
   <div class="bc-container">
      <span class="bc-origin">Mi Perfil</span>
      <span class="bc-separador"><i class="fas fa-angle-right"></i></span>
      <span class="bc-child">Mis Compras</span>
   </div>
   <div class="inner-compras container-sorteable">
      <h1>Detalle de Compras/Ordenes</h1>
      <hr>
      <!-- <div class="filtros">
         <select name="ordenar" id="ordenar">
            <option value="" selected disabled hidden required>Ordenar por</option>
            <option value="recientes">Mas recientes</option>
            <option value="titulo">T&iacute;tulo</option>
         </select>
         &nbsp;&nbsp;
         <span>
            <input id="buscador-titulo-input" type="text" placeholder="Filtre por titulo">
            <i class="fas fa-times limpiar-buscador" style="display: none;"></i>
         </span>
         
         <a id="buscador-titulo" class="btn"><i class="fas fa-search"></i></a>
      </div> -->
      <hr>

   </div>
</div>
<div class="flex-container container"></div>


<script>
   var jsonData = {json};
</script>


<script>
   document.addEventListener("DOMContentLoaded", function() {

      /////////paginador/////////////
      const dataPaging = {
         cantidad : 0,
         url: "paginador_mis-compras.php"
      }
      getDataPaging(dataPaging);
      intObserver(dataPaging);
      ///////////////////////////////
   

   });
</script>

