<div class="overlay-loading"></div>
<!-- overlay seguidores -->
<div class="overlay overlay-seguidores" style="display: none;">
   <div style="width: 400px;" class="lightBox lightBox-seguidores">
      <div>
         <a href="javascript:void(0)" id="cerrar-light"><i class="fas fa-times-circle"></i></a>
         <h3 class="count-seguidores"></h3>
         <hr>
           <div class="container-seguidores"></div>
         </div>
      </div>
   </div>
</div>
<!--  -->
<!-- overlay siguiendo -->
<div class="overlay overlay-seguidos" style="display: none;">
   <div style="width: 400px;" class="lightBox lightBox-seguidos">
      <div>
         <a href="javascript:void(0)" id="cerrar-light"><i class="fas fa-times-circle"></i></a>
         <h3 class="count-seguidos"></h3>
         <hr>
         <div class="container-seguidos"></div>
         </div>
      </div>
   </div>
</div>
<!--  -->
<div id="info-user" class="container">
   <div id="titulo-perfil">
      <div id="titulo-perfil-img">
         <img src="{foto-perfil}" alt="foto perfil">
      </div>
      <div id="titulo-perfil-datos">
         <span id="name_usuario">{nombre}</span>
         <div class="fyf">
            <div class="follower_container">
               <span id="follower_count" class="follower_count">0</span>
               <span class="follower_label" onclick="mostrarSeguidores()">Seguidores</span>
            </div>
            <div class="follower_container" style="margin-left: 15px;">
               <span id="following_count" class="follower_count">0</span>
               <span class="follower_label" onclick="mostrarSeguidores()">Seguidos</span>
            </div>
            <span class="edit_perfil"><a href="/editar-usuario.html" class="ml-1 btn btn-warning btn-sm">Editar Perfil</a></span>
         </div>
      </div>
   </div>
   <div id="menu-perfil">
      {menuperfil}
   </div>
</div>

<div class="container show-result">Mostrando 5 resultados.
   <!-- <span class="show-result-num"></span> resultados. -->
</div>

<!--  -->
<div class="grid" style="margin-top: 20px;">
   <div class="grid-sizer"></div>
</div>
<!--  -->

<footer>----------------------------------------------------------------</footer>

<script>
   var jsonData = {json};
</script>



   <script src="js/jquery-3.5.1.js"></script>
   <!-- <script src="js/popper.js"></script> -->
   <script src="js/func.js?time=081021-1328"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
<!-- <script src="js/popper.js"></script> -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
<script src="../../plugins/dropPin-master/dropPin/dropPin.js?time=081021-1328"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
   <script>
      document.addEventListener("DOMContentLoaded", function(){

         /////////paginador/////////////
         const dataPaging = {
            cantidad : 5,
            url: "paginador_mis-publicaciones.php"
         }
         getDataPaging(dataPaging);
         intObserver(dataPaging);
         ///////////////////////////////

         //seguidores y seguidos
         mostrarSeguidores();
   
         var $grid = $('.grid').imagesLoaded( function() {
            // init Masonry after all images have loaded
            $grid.masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                // percentPosition: true,
                // columnWidth: 220,
                // gutter: 10,
                // horizontalOrder: true
            });
         });
/*
         $(".eliminar-public").on("click", function() {  
            console.log("enttro")
            //href="/app/publicacion.php?id='+id_public+'&accion=eliminar"
            var $this = $(this);
            var id_public = $this.data('title');

            $.post('/app/publicacion.php', {id: id_public, accion: "eliminar"})
               .done(function(data) {
                     var jsonp = JSON.parse(data)
                     if (jsonp.status == 'ERROR'){
                        alert(data);														
                     }else if(jsonp.status == 'OK' || jsonp.status == 'ok'){
                        window.location.replace("/mis-publicaciones.html");
                     }else if(jsonp.status == 'REDIRECT'){
                        window.location.replace(jsonp.mensaje);
                     }else{
                        $("#mensaje-sin-login").css("display","block");
                        $("#mensaje-sin-login").html(jsonp.mensaje);
                        //alert (data.mensaje);
                     }
               })
               .fail(function() {
                     var msj = "En este momento no podemos atender su petici\u00f3n, por favor espere unos minutos y vuelva a intentarlo.";
                     alert(msj)
               }); 

            return false;

         });*/
      });
   </script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

</body></html>
