<div class="overlay-loading"></div>

<div class="container container-compras">
   <div class="bc-container">
      <span class="bc-origin">Mi Perfil</span>
      <span class="bc-separador"><i class="fas fa-angle-right"></i></span>
      <span class="bc-child">Mis Compras</span>
   </div>
   <div class="inner-compras container-sorteable">
      <h1>Detalle de Compras/Ordenes</h1>
      <hr>
      <div class="filtros">
         <select name="ordenar" id="ordenar">
            <option value="" selected disabled hidden required>Ordenar por</option>
            <option value="recientes">Mas recientes</option>
            <option value="titulo">T&iacute;tulo</option>
         </select>
         &nbsp;&nbsp;
         <span>
            <input id="buscador-titulo-input" type="text" placeholder="Filtre por titulo">
            <i class="fas fa-times limpiar-buscador" style="display: none;"></i>
         </span>
         
         <a id="buscador-titulo" class="btn"><i class="fas fa-search"></i></a>
      </div>
      <hr>
      <div class="flex-container">
         <div class="flex-listado"></div>
      </div>

   </div>
</div>

<footer></footer>

<script>
   var jsonData = {json};
</script>


<script src="js/jquery-3.5.1.js"></script>
<script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
<script src="../../plugins/dropPin-master/dropPin/dropPin.js?time=300821-1657"></script>
   <script src="js/func.js?time=151021-2020"></script>
   <script>
      document.addEventListener("DOMContentLoaded", function() {

         /////////paginador/////////////
         const dataPaging = {
            cantidad : 5,
            url: "paginador_mis-compras.php"
         }
         getDataPaging(dataPaging);
         intObserver(dataPaging);
         ///////////////////////////////
      

      });
      </script>
</body></html>
