<div class="overlay-loading"></div>

<div class="container container-ventas">
   <div class="inner-ventas">
      <br>
      <br>
      <h1>Mis Ventas</h1>
      <hr>

         <!-- ventas hardcodeado -->
         <!--<div class="row producto venta text-left">
            <div class="col-lg-4">
               <div class="media">
                  <img class="mr-3 img-venta-lista" src="https://blaisten.vteximg.com.br/arquivos/ids/166930-960-960/1253373.png?v=637211937504270000" alt="img">
                  <div class="media-body">
                     <h5 class="mt-0">Ibanez Ib-10</h5>
                     <div><span class="estado-pedido-venta-label" style="font-size: 13px;">Estado de pedido:</span>&nbsp;&nbsp;<span style="font-size: 13px;" class="estado-pedido-venta estado-preparacion"><i class="fas fa-truck-loading"></i>&nbsp;En preparaci&oacute;n</span></div>  
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-vendedor">
               <div class="media">
                  <img style="border-radius: 50%;" class="mr-3 img-venta-lista" src="https://pbs.twimg.com/profile_images/595999703965278208/j10-AYp5_400x400.png" alt="img">
                  <div class="media-body">
                     <h5 class="mt-0">Comprador</h5>
                     <span class="label-venta-vendedor">Nicolás Gómez</span>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 text-right">
               <span class="ver-detalle-venta-lista"><i class="fas fa-eye"></i>&nbsp;&nbsp;<a href="#">Ver Detalle</a></span>
               <i data-title="0" class="fas fa-ellipsis-v ellip"></i>
            </div>
         </div>-->

         <!-- /ventas hardcodeado -->
   </div>
</div>


<script>
   var jsonData = {json};
</script>



   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->

<script>
$(document).ready(function(){

   var sizeVentas = jsonData.ventas.length;

    if(sizeVentas>0){
        for(var i=0; i<sizeVentas; i++){
            var nombre_producto = jsonData.ventas[i].nombre_producto;
            var precio_producto = jsonData.ventas[i].precio;
            var id = jsonData.ventas[i].id;
            var direccion = jsonData.ventas[i].envio_nombre_apellido;
            var localidad = jsonData.ventas[i].envio_ciudad_localidad;
            var id_carrito = jsonData.ventas[i].id_carrito;
            var name_vendedor = jsonData.ventas[i].nombre;
            var imagen_id = jsonData.ventas[i].foto_id;
            var foto_src = '/productos_img/'+imagen_id+ '.png' || 0;

            var ventas_html = 
                  '<div class="row producto venta text-left">'+
                  '   <div class="col-lg-4">'+
                  '      <div class="media">'+
                  '         <img class="mr-3 img-venta-lista" src="'+foto_src+'" alt="img">'+
                  '         <div class="media-body">'+
                  '            <h5 class="mt-0">'+nombre_producto+'</h5>'+
                  '            <div><span class="estado-pedido-venta-label">Estado de pedido:</span>&nbsp;&nbsp;<span class="estado-pedido-venta estado-preparacion"><i class="fas fa-truck-loading"></i>&nbsp;En preparaci&oacute;n</span></div>  '+//hard
                  '         </div>'+
                  '      </div>'+
                  '   </div>'+
                  '   <div class="col-lg-4 col-vendedor">'+
                  '      <div class="media">'+
                  '         <img style="border-radius: 50%;" class="mr-3 img-venta-lista" src="https://pbs.twimg.com/profile_images/595999703965278208/j10-AYp5_400x400.png" alt="img">'+
                  '         <div class="media-body">'+
                  '            <h5 class="mt-0">Vendedor</h5>'+
                  '            <span class="label-compra-vendedor">Blaistein S.A</span>'+//hard
                  '         </div>'+
                  '      </div>'+
                  '   </div>'+
                  '   <div class="col-lg-4 text-right">'+
                  '      <span class="ver-detalle-venta-lista"><i class="fas fa-eye"></i>&nbsp;&nbsp;<a href="/ampliar-mis-ventas.html?id='+id_carrito+'">Ver Detalle</a></span>'+
                  '      <!-- <i data-title="0" class="fas fa-ellipsis-v ellip"></i> -->'+
                  '   </div>'+
                  '</div>';

               $(".inner-ventas").append(ventas_html);
        }
    }
      
});
</script>
   <!-- <script src="js/publicacion.js?time=271220-2243"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

</body></html>
