<style>
    body{
        background-color: rgb(216, 216, 216);
        margin: 0;
        padding: 0;
    }
</style>
<div class="overlay-loading"></div>

<body>
    <div class="pago-container">
        <div class="pago-upper pago-failure">
            <div class="logo-taggeon"></div>
            <div class="orden-recibida">
                <div class="logo-flot">
                    <a href="/"><i class="fab fa-affiliatetheme logo-brand"></i></a>
                </div>
                <div class="logo-pago"><i class="fas fa-money-check-alt"></i></div>
                <h1>Ha ocurrido un error con tu pago!</h1>
                <p style="color: rgb(184, 184, 184);">Orden Nro. 1092810928019</p>
            </div>
        </div>
        <div class="pago-body">
            <a href="/mis-compras.html" class="btn btn-warning">Ver en Compras</a>
        </div>
    </div>

<br><br>
<!-- -->

<script>
   var jsonData = {json};
</script>

   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->
   <script src="js/func.js?time=030521-1005"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

</body></html>
