      <div>
         <a href="#" id="cerrar-light"><i class="fas fa-times-circle"></i></a>
         <h3>Importar Archivo CSV</h3>
         <hr>
         <form id="subir-csv-importar" action="/app/producto.php" method="post">
            <input type="file" id="file-csv-importar" name="file-csv-importar"><br><br>
	    <input type="hidden" name="accion" value="importar-categoria">
            <div>
               <button type="submit" class="btn btn-warning">Importar Categor&iacute;as</button>
            </div>
         </form>
         <hr>
         <div id="result-importar"></div>
      </div>

<div class="overlay-loading"></div>


   <script src="js/jquery-3.5.1.js"></script>
   <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="js/popper.js"></script> -->
   <script src="js/func.js?time=031120-1749"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

</body></html>
