<div class="overlay-loading"></div>

<div id="tyc_container">

    <h1>
        <strong>
            TERMINOS Y CONDICIONES
        </strong>
    </h1>

    <hr>

    <h2>
        <strong>
             &iexcl;Gracias por usar Taggeon!
        </strong>
    </h2>
    <br>

    <hr>
    <p>
        Estas Condiciones de servicio (en adelante "Condiciones") regulan el acceso y uso del sitio web
        <a href="http://www.taggeon.com">
             www.taggeon.com
        </a>
         y su correspondiente aplicaci&oacute;n m&oacute;vil (en adelante "Taggeon" o el "Servicio"). Lee detenidamente estas Condiciones y comun&iacute;cate con nosotros si tienes alguna pregunta. Cuando accedes a Taggeon, o lo usas, aceptas cumplir estas Condiciones, nuestra
        <a href="https://policy.pinterest.com/privacy-policy">
             Pol&iacute;tica de privacidad
        </a>
         , nuestra
        <a href="https://policy.pinterest.com/cookies">
             Pol&iacute;tica de cookies
        </a>
         y nuestras
        <a href="https://policy.pinterest.com/community-guidelines">
             Directrices para la comunidad
        </a>
         .
    </p>
    <p>
        <strong>
             Nuestro servicio
        </strong>
    </p>
    <p>
        Taggeon es una red social de dise&ntilde;o arquitect&oacute;nico, industrial y de indumentaria, que permite a sus miembros inspirarse y materializar sus ideas y proyectos. Los usuarios (en adelante &ldquo;Tagger o Usuario&rdquo;), pueden compartir fotograf&iacute;as y videos que contienen art&iacute;culos de arquitectura, indumentaria y dise&ntilde;o en general.
    </p>
    <p>
        Otros usuarios podr&aacute;n ver, agregar al carrito y comprar dichos productos directamente desde la publicaci&oacute;n. Al concretarse una compra, los autores del contenido publicitario recibir&aacute;n una comisi&oacute;n por la venta.
    </p>
    <p>
        Por otro lado, los usuarios vendedores (en adelante &ldquo;Sellers o Vendedores&rdquo;) podr&aacute;n cargar sus productos en la plataforma, y adem&aacute;s de exhibirlos y venderlos a trav&eacute;s de fotos y videos, todos los usuarios de la plataforma tendr&aacute;n acceso a incorporar en sus publicaciones dichos productos, aumentando su visibilidad y su conversi&oacute;n exponencialmente.
    </p>
    <p>
        <strong>
             Uso de la plataforma
        </strong>
    </p>
    <p>
        Para poder ser Usuario de la Plataforma es indispensable que se cumplan los siguientes requisitos:
    </p>
    <p>
        Completar de manera veraz los campos obligatorios del formulario de registro, en el que se solicitan datos de car&aacute;cter personal como nombre y apellido completo, direcci&oacute;n de correo electr&oacute;nico y/o una cuenta de Google, Instagram o Facebook.
    </p>
    <p>
        Aceptar las presentes Condiciones de uso (incluyendo nuestra Pol&iacute;tica de Privacidad), expresadas al proceder con el registro en la Plataforma.
    </p>
    <p>
        Todos los usuarios, tanto Sellers como Taggers, deber&aacute;n ser mayor de 18 a&ntilde;os.
    </p>
    <p>
        En caso de estimar que un usuario pueda tener menos de 18 a&ntilde;os, Taggeon se reserva el derecho de exigir que el usuario proporcione a la sociedad evidencia de que tiene dicha edad o, si fuera menor, el permiso expreso de sus padres o tutores legales para aceptar estas Condiciones de uso y realizar todas las acciones que est&aacute;n a su disposici&oacute;n en la Plataforma.
    </p>
    <p>
        El Usuario garantiza que todos los datos sobre su identidad y legitimidad facilitados a Taggeon en sus formularios de registro de la Plataforma son veraces, exactos y completos. Asimismo se compromete a mantener actualizados sus datos en todo momento. En el supuesto en que el Usuario facilite cualquier dato falso, inexacto o incompleto o si Taggeon considera que existen motivos fundados para dudar sobre la veracidad, exactitud e integridad de los mismos, Taggeon podr&aacute; denegar el acceso y uso presente o futuro de la plataforma o de cualquiera de sus contenidos y/o servicios; as&iacute; como dar de baja el Usuario y cancelar la cuenta.
    </p>
    <p>
        Si el usuario se da de alta mediante una cuenta de otra red social/portal o servicio de internet, el mismo acepta la validez y eficacia de todas comunicaciones remitidas por Taggeon a dicha cuenta.
    </p>
    <p>
        Al darse de alta en la Plataforma el Usuario seleccionar&aacute; un nombre de usuario (username) y una clave de acceso (password), en el caso de no registrarse a trav&eacute;s de una cuenta de una red social (en este momento, Google, Instagram o Facebook). En caso de registrarse con una cuenta de red social deber&aacute; permitir que la Plataforma acceda a informaci&oacute;n de dicha cuenta y deber&aacute; escoger nombre de usuario (username) en la Plataforma.
    </p>
    <p>
        Tanto el username como el password, como los datos de la cuenta de la red social que emplee para acceder a la Plataforma (habitualmente nombre de usuario, contrase&ntilde;a y email de acceso la cuenta de dicha red social) son estrictamente confidenciales, personales e intransferibles (conjuntamente las 'Llaves de Acceso&rdquo;). El Usuario se compromete a no divulgar dichas Llaves de Acceso ni hacerlos accesibles a terceros. Puesto que Taggeon no puede garantizar la identidad de los Usuarios registrados, el Usuario ser&aacute; el &uacute;nico responsable en caso de uso de las Llaves de Acceso por terceros, incluidas las manifestaciones vertidas en la Plataforma o a trav&eacute;s de la Plataforma, o cualquier otra actuaci&oacute;n que se lleve a cabo mediante el uso de las Llaves de Acceso.
    </p>
    <p>
        Los Usuarios se obligan a poner inmediatamente en conocimiento de Taggeon la sustracci&oacute;n, divulgaci&oacute;n o p&eacute;rdida de las Llaves de Acceso, comunic&aacute;ndose con Taggeon a trav&eacute;s del correo electr&oacute;nico usershelp@taggeon.com.
    </p>
    <p>
        Una vez completado el registro, todo Usuario podr&aacute; acceder a su perfil y completarlo y/o editarlo seg&uacute;n estime conveniente, siempre que cumpla con las presentes Condiciones de uso.
    </p>
    <p>
        <strong>
             Baja de los usuarios y resoluci&oacute;n contractual
        </strong>
    </p>
    <p>
        Para darse de baja, puede dirigirse en cualquier momento a la plataforma web o aplicaci&oacute;n m&oacute;vil, en el siguiente apartado:
        <em>
             Perfil
        </em>
         &gt;
        <em>
             Opciones
        </em>
         &gt;
        <em>
             Editar perfil
        </em>
         &gt;
        <em>
             Darse de baja
        </em>
         .
    </p>
    <p>
        En caso de que la opci&oacute;n anterior no estuviera habilitada o no funcionara por cualquier motivo, puede revocar tambi&eacute;n su consentimiento en cualquier momento remitiendo un correo con el asunto &ldquo;Baja de Usuario&rdquo; a usershelp@taggeon.com, incluyendo en el cuerpo del correo electr&oacute;nico el nombre de usuario (username) y el correo electr&oacute;nico o username en la red social utilizada al registrarse en la Plataforma.
    </p>
    <p>
        Taggeon puede suspender o dar de baja a un Usuario (y por lo tanto optar por suspender o resolver esta relaci&oacute;n contractual) mediante notificaci&oacute;n al mismo, (i) inmediatamente en caso de el usuario incumpla cualquier obligaci&oacute;n de las Condiciones de uso o (ii) inmediatamente en caso de que Taggeon deje de prestar los servicios que ofrece a trav&eacute;s de la Plataforma o (iii) si la Usuario est&eacute; inactivo durante m&aacute;s de 6 meses (en este &uacute;ltimo caso, se le notificar&aacute; por escrito 15 d&iacute;as antes de la cancelaci&oacute;n) y (iv) en cualquier momento y sin necesidad de alegar ninguna causa (mediante aviso por escrito enviado 30 d&iacute;as antes de la cancelaci&oacute;n o suspensi&oacute;n).
    </p>
    <p>
        El hecho de que se d&eacute; de baja a un Usuario o que el propio Usuario se d&eacute; de baja, implica la resoluci&oacute;n contractual de las Condiciones de uso (aunque determinadas cl&aacute;usulas puedan seguir desplegando efectos a ra&iacute;z de su naturaleza).
    </p>
    <p>
        En caso de resoluci&oacute;n contractual, el Usuario se compromete a (a) eliminar cualquier copia que tenga de la aplicaci&oacute;n de la Plataforma y (b) a cesar en el empleo de la Plataforma. Adem&aacute;s el acceso a la Cuenta de Usuario y todos sus contenidos ser&aacute;n desactivados y su contenido eliminado, a menos que se mantenga en las copias de seguridad (que se emplean exclusivamente para tareas de recuperaci&oacute;n de datos o 'back up&rdquo; y tareas de defensa legal de los intereses de Taggeon).
    </p>
    <p>
        <strong>
             Obligaciones del Usuario
        </strong>
    </p>
    <p>
        Los Usuarios son los &uacute;nicos responsables del acceso y correcto uso de su perfil y dem&aacute;s contenidos de la Plataforma, con sujeci&oacute;n a la legalidad vigente, sea nacional o internacional, as&iacute; como a los principios de buena fe, a la moral, las buenas costumbres y orden p&uacute;blico. Espec&iacute;ficamente pero sin limitaci&oacute;n, se comprometen a observar diligentemente las presentes Condiciones de uso.
    </p>
    <p>
        De manera general, los Usuarios se abstendr&aacute;n de usar su perfil y el resto de contenidos y servicios de la Plataforma con fines o efectos (a) distintos de compartir fotograf&iacute;as, videos, opiniones y de realizar compras de productos de dise&ntilde;o o (b) il&iacute;citos o que sean lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan da&ntilde;ar, inutilizar, afectar o deteriorar la Plataforma, sus contenidos y sus servicios. Asimismo, queda prohibido emplear la Plataforma de cualquier forma que impida o dificulte el propio funcionamiento de la Plataforma o la normal utilizaci&oacute;n o disfrute de la Plataforma a otros Usuarios.
    </p>
    <p>
        En particular y a t&iacute;tulo enunciativo y no limitativo, los Usuarios se comprometen a:
    </p>
    <p>
        Facilitar informaci&oacute;n veraz y actualizada en cualquier comunicaci&oacute;n con Taggeon o en cualquier contenido o comunicaci&oacute;n en la Plataforma.
    </p>
    <p>
        No emplear datos de car&aacute;cter personal -tanto del propio Usuario como de terceros- que contengan informaci&oacute;n sensible relativa a personas identificables o identificadas, como por ejemplo: origen racial; pertenencia a un sindicato; religi&oacute;n, ideolog&iacute;a u orientaci&oacute;n sexual; datos sobre salud; o datos relativos a los antecedentes penales, procedimientos y sanciones o multas derivadas de los mismos o incumplimiento de obligaciones dinerarias.
    </p>
    <p>
        No utilizar identidades falsas, ni suplantar la identidad de otros en la utilizaci&oacute;n de la Plataforma o en la utilizaci&oacute;n de cualquiera de los servicios de la misma.
    </p>
    <p>
        No utilizar la Plataforma para fines ilegales o no autorizados.
    </p>
    <p>
        No alojar, almacenar, divulgar, publicar, distribuir o compartir cualquier contenido que pueda suponer una intromisi&oacute;n ileg&iacute;tima o vulneraci&oacute;n en cualquier forma de los derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros y, muy especialmente, de los menores de edad.
    </p>
    <p>
        No publicar en la Plataforma ning&uacute;n comentario o informaci&oacute;n que sea ilegal, racista, xen&oacute;foba, obscena, pornogr&aacute;fica, abusiva, difamatoria, enga&ntilde;osa, fraudulenta o de cualquier forma contraria a la moral o al orden p&uacute;blico.
    </p>
    <p>
        No alterar o modificar, total o parcialmente la Plataforma, eludiendo, desactivando o manipulando de cualquier otra las funciones o servicios de la misma.
    </p>
    <p>
        Acatar nuestra Pol&iacute;tica de Privacidad y no infringir las normas reguladoras de la protecci&oacute;n de datos de car&aacute;cter personal.
    </p>
    <p>
        No introducir, almacenar o difundir mediante la Plataforma cualquier contenido que infrinja derechos de propiedad industrial y/o intelectual o informaci&oacute;n confidencial de terceros, ni en general ning&uacute;n contenido del cual no ostentara, de conformidad con la ley, el derecho a ponerlo a disposici&oacute;n de un tercero.
    </p>
    <p>
        No usar la Plataforma para injuriar, difamar, intimidar, violar la propia imagen o acosar a otros Usuarios.
    </p>
    <p>
        No acceder a las cuentas de otros Usuarios.
    </p>
    <p>
        No introducir, almacenar o difundir mediante la Plataforma ning&uacute;n programa, datos, c&oacute;digo, virus inform&aacute;tico, archivos defectuosos, o cualquier otro dispositivo electr&oacute;nico o fijo que pueda provocar da&ntilde;os o alteraciones en cualquiera de los equipos, redes, los contenidos o sistemas de Taggeon, de cualquier otro Usuario o de terceras personas.
    </p>
    <p>
        No destruir, alterar, utilizar para su uso, inutilizar o da&ntilde;ar los datos, informaciones, programas o documentos electr&oacute;nicos de Taggeon,, sus Usuarios o terceros.
    </p>
    <p>
        No remitir comunicaciones electr&oacute;nicas al resto de Usuarios con fines comerciales, ni proporcionar o enviar direcciones de correo electr&oacute;nico de terceros sin su consentimiento.
    </p>
    <p>
        No cometer un uso fraudulento del sistema de comisiones con el objeto de obtener ingresos derivados de compras no reales, ya sea a trav&eacute;s de usuarios falsos o de cualquier otra v&iacute;a de comportamiento sospechoso.
    </p>
    <p>
        Cumplir en todo momento la regulaci&oacute;n sobre normativa publicitaria, administrativa, autorregulaci&oacute;n publicitaria y no hacer comentarios "inducidos" contrarios al derecho de la competencia.
    </p>
    <p>
        Quienes incumplan tales obligaciones responder&aacute;n de cualquier perjuicio o da&ntilde;o que ocasionen. En la m&aacute;xima medida permitida por ley aplicable, Taggeon no responder&aacute; de ninguna consecuencia, da&ntilde;o o perjuicio que pudiera derivarse de dicho acceso o uso il&iacute;cito por parte de terceros.
    </p>
    <p>
        El acceso a la Plataforma podr&aacute; ser denegado por Taggeon a aquellos Usuarios que, de cualquier forma, incumplan las obligaciones o contravengan las presentes Condiciones de uso o cualquier otro texto legal incluido en la Plataforma, como la Pol&iacute;tica de Privacidad.
    </p>
    <p>
        <strong>
             Contenido generado por los usuarios
        </strong>
    </p>
    <p>
        Los Usuarios podr&aacute;n publicar en la Plataforma fotograf&iacute;as, opiniones y comentarios ("Contenidos de Usuario").
    </p>
    <p>
        De conformidad con lo previsto anteriormente, los Usuarios garantizan que los Contenidos de Usuario no infringe ning&uacute;n derecho de propiedad intelectual, derecho moral de ninguna persona o entidad, ni ning&uacute;n derecho de marca comercial, ni de privacidad o de imagen; y se han obtenido todas las autorizaciones necesarias de los modelos (en su caso), as&iacute; como el derecho para el uso de las mismas con fines publicitarios, comerciales o de naturaleza an&aacute;loga, de conformidad.
    </p>
    <p>
        Los Usuarios expresamente reconocen y aceptan que Taggeon no monitoriza, edita ni controla los Contenidos de Usuario. Sin perjuicio de lo anterior, Taggeon se reserva el derecho a cancelar, retirar o no publicar, en cualquier momento y sin previa notificaci&oacute;n a los Usuarios, cualquier Contenido de Usuario que considere, a su completa discreci&oacute;n, como no id&oacute;nea o que vulneren las presentes Condiciones de uso, la Ley o cualquier derecho de terceros.
    </p>
    <p>
        <strong>
             Incumplimientos/denuncia
        </strong>
    </p>
    <p>
        Cualquier Usuario podr&aacute; informar a Taggeon cuando considere que otro Usuario est&aacute; incumpliendo las presentes Condiciones de uso a trav&eacute;s del correo electr&oacute;nico usershelp@Taggeon.com o pulsando el bot&oacute;n "Reportar" que aparece marcado con el s&iacute;mbolo "..." y marcando o especificando los motivos por los que la fotograf&iacute;a o contenido en concreto vulneran las presentes Condiciones de uso.
    </p>
    <p>
        Taggeon verificar&aacute; este reporte, a la mayor brevedad posible, y adoptar&aacute; las medidas que considere oportunas, reserv&aacute;ndose el derecho a retirar y/o suspender a cualquier Usuario de la Plataforma por el incumplimiento de las presentes Condiciones de uso. Asimismo Taggeon se reserva el derecho a retirar y/o suspender cualquier Contenido de Usuario con contenido ilegal u ofensivo, sin necesidad de previo aviso o posterior notificaci&oacute;n.
    </p>
    <p>
        <strong>
             Sistema de comisiones
        </strong>
    </p>
    <p>
        <strong>
             Remuneraci&oacute;n a usuarios
        </strong>
    </p>
    <p>
        Taggeon brinda a todos los Usuarios la posibilidad de ser recompensados por generar contenido de inter&eacute;s para otros Usuarios dentro de la Plataforma, etiquetando productos de diferentes vendedores en sus publicaciones. Este Contenido de Usuario debe mostrar con claridad al resto de Usuarios, a trav&eacute;s de la informaci&oacute;n introducida en el proceso de etiquetado de la plataforma, los productos de dise&ntilde;o, prendas, accesorios o muebles etiquetados dicho Contenido de Usuario.
    </p>
    <p>
        Para tener opci&oacute;n a ser remunerado, el Usuario debe haber cumplido o ser mayor de 18 a&ntilde;os de edad y/o tener derecho, capacidad y legitimaci&oacute;n para prestar su consentimiento a las presentes Condiciones de uso y para dar cumplimiento a las mismas. o bien, en caso de ser menor de 18 a&ntilde;os, haber cumplido o ser mayor de 14 a&ntilde;os garantizando a Taggeon (a) que tiene el permiso expreso de tus padres o tutores legales para aceptar estas Condiciones de uso y realizar todas las acciones que est&aacute;n a tu disposici&oacute;n en la Plataforma y (b) que har&aacute; llegar dicho consentimiento expreso y por escrito de sus padres o tutores legales en menos de 48h desde que Taggeon lo solicite.
    </p>
    <p>
        Se recompensar&aacute; a los usuarios por las compras realizadas por otros Usuarios a partir del Contenido de Usuario. El &uacute;nico factor que determina el monto a recibir es el precio de la transacci&oacute;n consolidada. La remuneraci&oacute;n se situar&aacute; entre el 2% y el 5% del precio de las transacciones, dependiendo de las decisiones comerciales de Taggeon al momento de la operaci&oacute;n. Para que esta remuneraci&oacute;n est&eacute; disponible, el Vendedor que ingres&oacute; el producto en la plataforma, deber&aacute; haber confirmado previamente que la compra no ha sido devuelta, fraudulenta o que haya ocurrido cualquier otro problema. Taggeon se reserva el derecho de modificar el porcentaje de comisiones con cierta periodicidad, por lo que el usuario que desee obtener informaci&oacute;n precisa y actualizada al respecto deber&aacute; consultar los detalles comerciales en
        <em>
             Info
        </em>
         &gt;
        <em>
             Comisiones por venta
        </em>
         .
    </p>
    <p>
        La remuneraci&oacute;n acumulada puede consultarse en la secci&oacute;n "Mis recompensas" de las Preferencias de cuenta de cada Usuario. Dicha remuneraci&oacute;n acumulada, se actualizar&aacute; m&iacute;nimo una vez al d&iacute;a en la cuenta Taggeon del Usuario.
    </p>
    <p>
        <strong>
             Pago y liquidaci&oacute;n Taggers
        </strong>
    </p>
    <p>
        Para poder percibir las remuneraciones mediante transferencia ser&aacute; necesario superar la cantidad de 5000 pesos argentinos. En el caso de que el Usuario opte por la transferencia de la remuneraci&oacute;n y se cumplan las condiciones mencionadas, se solicitar&aacute; al mismo la informaci&oacute;n procedente a los efectos de realizar la correspondiente transferencia.
    </p>
    <p>
        Dicha transferencia se efectuar&aacute; a trav&eacute;s de MercadoPago o por transferencia bancaria. Si el usuario escoge la opci&oacute;n de pago por MercadoPago, el usuario debe tener una cuenta de Mercadopago para recibir el pago. De lo contrario, Taggeon no est&aacute; obligado a realizar ning&uacute;n pago a dicho usuario.
    </p>
    <p>
        Los gastos de transferencia a trav&eacute;s de MercadoPago ser&aacute;n asumidos en todo caso por el Usuario.
    </p>
    <p>
        <strong>
             Obligaciones tributarias Taggers
        </strong>
    </p>
    <p>
        El Usuario se compromete a cumplir el ordenamiento jur&iacute;dico respecto a la tributaci&oacute;n de las recompensas obtenidas en Taggeon. El Usuario declara ser el &uacute;nico responsable de su tributaci&oacute;n, por lo que se exonera a Taggeon de toda responsabilidad fiscal derivada del pago de las remuneraciones obtenidas.
    </p>
    <p>
        Taggeon se compromete a efectuar los pagos correspondientes por el total de transacciones efectuadas de acuerdo con la legislaci&oacute;n vigente. Para ello Taggeon solicitar&aacute; informaci&oacute;n personal del usuario, tales como Pa&iacute;s de domicilio fiscal, Nombre y Apellidos, DNI, Provincia (en el caso de los residentes en Argentina), domicilio completo (en el caso de los NO residentes en Argentina) y fecha y lugar de nacimiento (en el caso de los NO residentes en Argentina) para poder efectuar las pertinentes declaraciones. Dichos datos se utilizar&aacute;n exclusivamente para cumplir con las obligaciones tributarias.
    </p>
    <p>
        <strong>
             Pago y liquidaci&oacute;n Sellers (Usuarios vendedores)
        </strong>
    </p>
    <p>
        Los Sellers recibir&aacute;n el pago por cada venta a trav&eacute;s de MercadoPago. Deber&aacute;n disponer de una cuenta en MercadoPago para recibir los pagos.
    </p>
    <p>
        <strong>
             Obligaciones tributarias Sellers (Usuarios vendedores)
        </strong>
    </p>
    <p>
        El Usuario se compromete a cumplir el ordenamiento jur&iacute;dico respecto a la tributaci&oacute;n de las recompensas obtenidas en Taggeon. El Usuario declara ser el &uacute;nico responsable de su tributaci&oacute;n, por lo que se exonera a Taggeon de toda responsabilidad fiscal derivada del pago de las remuneraciones obtenidas.
    </p>
    <p>
        Taggeon se compromete a efectuar los pagos correspondientes por el total de transacciones efectuadas de acuerdo con la legislaci&oacute;n vigente. Para ello Taggeon solicitar&aacute; informaci&oacute;n personal del usuario, tales como Pa&iacute;s de domicilio fiscal, Nombre y Apellidos, DNI, Provincia (en el caso de los residentes en Argentina), domicilio completo (en el caso de los NO residentes en Argentina) y fecha y lugar de nacimiento (en el caso de los NO residentes en Argentina) para poder efectuar las pertinentes declaraciones. Dichos datos se utilizar&aacute;n exclusivamente para cumplir con las obligaciones tributarias.
    </p>
    <p>
        <strong>
             Responsabilidad de Taggeon
        </strong>
    </p>
    <p>
        <strong>
             Funcionamiento
        </strong>
    </p>
    <p>
        El Usuario es responsable de contar con los servicios y equipos necesarios para la conexi&oacute;n a Internet y para acceder a la Plataforma. En caso de cualquier incidencia o dificultad para acceder a la Plataforma, el Usuario puede informarlo a Taggeon a trav&eacute;s del correo electr&oacute;nico usershelp@taggeon.com, que proceder&aacute; a analizar la incidencia y dar&aacute; indicaciones al Usuario acerca de c&oacute;mo resolverla en el plazo m&aacute;s breve posible.
    </p>
    <p>
        Taggeon no responder&aacute; en caso de interrupciones del servicio, errores de conexi&oacute;n, falta de disponibilidad o deficiencias en el servicio de acceso a Internet, ni por interrupciones de la red de Internet o por cualquier otra raz&oacute;n ajena a su control.
    </p>
    <p>
        Taggeon se reserva el derecho a interrumpir el acceso a la Plataforma en cualquier momento y sin previo aviso, ya sea por motivos t&eacute;cnicos, de seguridad, control, mantenimiento, por fallos de suministro el&eacute;ctrico o por cualquier otra causa.
    </p>
    <p>
        <strong>
             Uso por el usuario y contenidos de usuario
        </strong>
    </p>
    <p>
        En consecuencia, Taggeon no se hace responsable por la utilizaci&oacute;n que los Usuarios realicen del contenido de la Plataforma que pueda suponer una violaci&oacute;n de cualquier tipo de norma, nacional o internacional, de los derechos de propiedad industrial e intelectual o cualesquiera otros derechos de terceros. En particular, Taggeon no ser&aacute; considerada responsable editorial, y declara expresamente que no se identifica con ninguno de los Contenidos de Usuario, de cuyas consecuencias se hace enteramente responsable el emisor de las mismas.
    </p>
    <p>
        En la m&aacute;xima medida permitida por ley aplicable, Taggeon excluye cualquier responsabilidad por los da&ntilde;os y perjuicios de toda naturaleza que pudieran deberse a la utilizaci&oacute;n il&iacute;cita de la Plataforma por parte de los Usuarios o que puedan deberse a la falta de veracidad, vigencia, exhaustividad y/o autenticidad de la informaci&oacute;n que los Usuarios proporcionan a otros Usuarios acerca de s&iacute; mismos y, en particular, aunque no de forma exclusiva, por los da&ntilde;os y perjuicios de toda naturaleza que puedan deberse a la suplantaci&oacute;n de la personalidad de un tercero efectuada por un Usuario en cualquier clase de comunicaci&oacute;n realizada a trav&eacute;s de la Plataforma.
    </p>
    <p>
        Los Usuarios asumen toda la responsabilidad derivada del uso de la Plataforma, siendo los &uacute;nicos responsables de todo efecto directo o indirecto que sobre dicha Plataforma se derive, incluyendo, de forma enunciativa y no limitativa, todo resultado econ&oacute;mico, t&eacute;cnico y/o jur&iacute;dico adverso, as&iacute; como la defraudaci&oacute;n de las expectativas generadas por la presente Plataforma, oblig&aacute;ndose los Usuarios a mantener indemne a Taggeon por cualesquiera reclamaciones derivadas, directa o indirectamente de tales hechos.
    </p>
    <p>
        Sin perjuicio de lo anterior, Taggeon se reserva la facultad de limitar, total o parcialmente, el acceso a la Plataforma a determinados Usuarios, as&iacute; como de cancelar, suspender, bloquear o eliminar determinado tipo de contenidos, mediante la utilizaci&oacute;n de instrumentos tecnol&oacute;gicos aptos al efecto, si tuviese conocimiento efectivo de que la actividad o la informaci&oacute;n almacenada es il&iacute;cita o de que lesiona bienes o derechos de un tercero o que es de car&aacute;cter fraudulento. En este sentido, Taggeon podr&aacute; establecer los filtros necesarios a fin de evitar que a trav&eacute;s del servicio puedan verterse en la red contenidos il&iacute;citos o nocivos.
    </p>
    <p>
        <strong>
             Protecci&oacute;n de datos personales
        </strong>
    </p>
    <p>
        <br />
         "El prestador est&aacute; profundamente comprometido con el cumplimiento de la normativa de protecci&oacute;n de datos personales y garantiza el cumplimiento &iacute;ntegro de las obligaciones dispuestas, as&iacute; como la implementaci&oacute;n de las medidas de seguridad dispuestas al
        <a href="https://ec.europa.eu/info/files/regulation-eu-2016-679-protection-natural-persons-regard-processing-personal-data-and-free-movement-such-data_es">
             Reglamento General de Protecci&oacute;n de Datos Personales (RGPD)
        </a>
         y la normativa Argentina de protecci&oacute;n de datos. Para m&aacute;s informaci&oacute;n, ver nuestra
        <a href="https://www.21buttons.com/privacy">
             Pol&iacute;tica de Privacidad
        </a>
         .
    </p>
    <p>
        <strong>
             Propiedad intelectual
        </strong>
    </p>
    <p>
        Taggeon es titular o licenciataria de todos los derechos de propiedad intelectual e industrial incluidos en la Plataforma as&iacute; como sobre los contenidos accesibles a trav&eacute;s de la misma, especialmente pero no &uacute;nicamente, los textos, im&aacute;genes, fotograf&iacute;as, dise&ntilde;o gr&aacute;fico, estructura de navegaci&oacute;n, informaci&oacute;n, c&oacute;digo fuente, bases de datos y cualesquiera otros contenidos que se recogen en la Plataforma.
        <br />
         La autorizaci&oacute;n al Usuario para el acceso y uso de la Plataforma y los servicios ofrecidos en la misma no supone ninguna cesi&oacute;n de derechos de propiedad intelectual ni industrial sobre la misma ni dichos contenidos excepto lo que a continuaci&oacute;n se dir&aacute;.
        <br />
         Taggeon concede al Usuario una licencia limitada para acceder y hacer uso personal de la Plataforma y los servicios ofrecidos en la misma y para descargar la aplicaci&oacute;n m&oacute;vil. Dicha licencia solamente concede los derechos de propiedad intelectual imprescindibles para la finalidad de cumplimiento de estas Condiciones de Uso (derecho de uso y de reproducci&oacute;n &uacute;nica de la aplicaci&oacute;n m&oacute;vil en un dispositivo m&aacute;s una &uacute;nica copia de seguridad), es no exclusiva, para todo el mundo y su duraci&oacute;n se limita solamente a la vigencia de la relaci&oacute;n contractual del Usuario con Taggeon conforme estas Condiciones de Uso (a cuyo respeto por tu parte se condiciones dicha licencia).
        <br />
         El Usuario que proceda a compartir Contenido de Usuario a trav&eacute;s de la Plataforma, garantiza (a) que licencia gratuitamente a Taggeon y a los usuarios de la Plataforma los &uacute;nicos derechos de propiedad intelectual necesarios para la finalidad de la Plataforma y adem&aacute;s con fines publicitarios, promocionales, divulgativos y/o identificativos de la Plataforma (derechos de comunicaci&oacute;n p&uacute;blica, reproducci&oacute;n en la Plataforma y transformaci&oacute;n a los &uacute;nicos efectos de adaptaci&oacute;n/edici&oacute;n del contenido a la plataforma) con car&aacute;cter no exclusivo, para todo el mundo y para la m&aacute;xima duraci&oacute;n legal de los derechos concedidos (b) que ostenta los derechos necesarios para hacerlo y (c) que dejar&aacute; exento a Taggeon de cualquier responsabilidad sobre el contenido y legalidad de la informaci&oacute;n publicada y le indemnizar&aacute; en caso de incumplimiento de esta garant&iacute;a.
    </p>
    <p>
        <strong>
             Enlaces
        </strong>
    </p>
    <p>
        <br />
         En la Plataforma el Usuario podr&iacute;a encontrar enlaces a otros sitios web gestionados por terceros. El establecimiento de cualesquiera enlaces, reenv&iacute;os o asociaciones ('links') con otras p&aacute;ginas web (www), posibilitadas desde la Plataforma, no implica que exista alg&uacute;n tipo de relaci&oacute;n, colaboraci&oacute;n o dependencia alguna entre Taggeon y el responsable del sitio web ajeno, y no comporta una garant&iacute;a de Taggeon al Usuario nada de dicho sitio web ajeno.
    </p>
    <p>
        <strong>
             Independencia de las cl&aacute;usulas
        </strong>
    </p>
    <p>
        <br />
         Si cualquiera de las cl&aacute;usulas de las presentes Condiciones Generales fuera nula de pleno derecho o anulable, se tendr&aacute; por no puesta. Dicha declaraci&oacute;n de nulidad no invalidar&aacute; el resto de las Condiciones Generales, que mantendr&aacute;n su vigencia y eficacia.
    </p>
    <p>
        <strong>
             Actualizaci&oacute;n y modificaciones de la plataforma
        </strong>
    </p>
    <p>
        <br />
         Taggeon se reserva el derecho de modificar, en cualquier momento y sin previo aviso, la estructura, configuraci&oacute;n y dise&ntilde;o de la Plataforma as&iacute; como las presentes Condiciones de uso y la Pol&iacute;tica de Privacidad. Los Usuarios deber&aacute;n leer atentamente estas Condiciones de uso al acceder a la Plataforma. En cualquier caso, la navegaci&oacute;n, as&iacute; como el simple acceso a la Plataforma, conlleva la aceptaci&oacute;n de cualquier modificaci&oacute;n introducida. Una versi&oacute;n actualizada de las presentes Condiciones de uso estar&aacute; disponible de forma permanente en la Plataforma.
        <br />
         Asimismo, Taggeon se reserva la facultad de efectuar, en cualquier momento y sin necesidad de previo aviso, actualizaciones, modificaciones o eliminaci&oacute;n de informaci&oacute;n contenida en su Plataforma en la configuraci&oacute;n y presentaci&oacute;n de &eacute;sta y de las condiciones de acceso, sin asumir responsabilidad alguna por ello. Taggeon no garantiza la inexistencia de interrupciones o errores en el acceso de la Plataforma o a su contenido, ni que &eacute;sta se encuentre siempre actualizada, no obstante, Taggeon llevar&aacute; a cabo, siempre que no concurran causas que lo hagan imposible o de dif&iacute;cil ejecuci&oacute;n, y tan pronto tenga noticia de los errores, desconexiones o falta de actualizaci&oacute;n en los contenidos, todas aquellas labores tendentes a subsanar los errores, restablecer la comunicaci&oacute;n y actualizar los contenidos.
    </p>
    <p>
        <strong>
             Legislaci&oacute;n aplicable
        </strong>
        <br />
        <br />
    </p>
    <p>
        La validez, ejecuci&oacute;n e interpretaci&oacute;n de las presentes Condiciones de uso ser&aacute;n reguladas en todos sus aspectos por las leyes argentinas. En el supuesto de que surja cualquier conflicto o discrepancia en la interpretaci&oacute;n o aplicaci&oacute;n de las presentes Condiciones de uso de utilizaci&oacute;n de la Plataforma, se someter&aacute; a los Juzgados y Tribunales de Buenos Aires.
    </p>
    <p>
        <strong>
             Actualizaci&oacute;n de las condiciones de uso
        </strong>
    </p>
    <p>
        <br />
         Taggeon se reserva el derecho a modificar la presente pol&iacute;tica para adaptarla a novedades legislativas o jurisprudenciales.
        <br />
         En cualquier caso, la modificaci&oacute;n de la pol&iacute;tica de privacidad ser&aacute; notificada a los usuarios.
    </p>



</div>






<script src="js/jquery-3.5.1.js"></script>
<script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
   <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
   <!-- <script src="js/publicacion.js?time=03022021-1656"></script> -->
<!-- <script src="js/popper.js"></script> -->

   <script src="js/func.js?time=160321-1633"></script>

</body></html>
